.sub-folder-cover {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 5px;
  top: -10px;
  border-radius: 4px;
  //border: 1px solid #c1c1c1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.32);
  overflow: hidden;
}
.selected .sub-folder-cover{
 border: 4px solid rgb(99, 161, 255);
}
.cover-wrapper {
  margin-bottom: 20px;
  position: relative;

  .type-label {
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 2px;
    line-height: 14px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.54);
    color: white;
    border-radius: 4px;
    z-index: 20;
    display: inline-block;
  }
}

.sub-folder-frame {
  border: 1px solid #c1c1c1;
  position: absolute;
  border-radius: 4px;
  left: -5px;
  top: -5px;
  background: #f1f1f1;
}

.folder-name {
  text-align: center;
  font-size: 12px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}
.ext{
  text-align: center;
  font-size: 12px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}

.inner-content-count {
  text-align: center;
  font-size: 12px;
  color: #999;
}

.sub-folder-wrapper {
  display: inline-block;
  position: relative;
  margin: 2%;
}


.content-header {


  &.ant-page-header {
    padding: 10px;
    padding-bottom: 0;
    background: white;

    .ant-page-header-heading-extra {
      width: 300px;
    }
  }
}
