.sidebar ul li {
	list-style-type: none;
	height: 45px;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sidebar ul li:hover {
	background-color: #efefef;
}

.sidebar .app-task .icon {
	width: 30px;
	height: 30px;
}

.sidebar .active {
	border-left: #1B74BB solid 3px;
	background-color: #efefef;
}

//拖拽样式区
.dragClass {
	background-color: blueviolet !important;
	opacity: 1 !important;
	box-shadow: none !important;
	outline: none !important;
	background-image: none !important;
}

.item:hover {
	background-color: #fdfdfd;
	cursor: move;
}
