.sidebar ul li {
	list-style-type: none;
	height: 45px;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sidebar ul li:hover {
	background-color: #efefef;
}

.sidebar .app-task .icon {
	width: 25px;
	height: 25px;
}

.sidebar .app-items {
	width: 60px;
	overflow-y: scroll;
	bottom: 35px;
	position: absolute;
	top: 0;
}

.side-container {
	flex-direction: column;
	display: flex;
	
	left: 0;
	height: 100vh;
	width: 45px;
	border-right: 1px solid #D7D7D7;
}

.sidebar .app-box {
	overflow: hidden;
	width: 44px;
	flex: 1;
	position: relative;
}

.sidebar .active {
	border-left: #1B74BB solid 3px;
	background-color: #efefef;
}

//拖拽样式区
.dragClass {
	background-color: blueviolet !important;
	opacity: 1 !important;
	box-shadow: none !important;
	outline: none !important;
	background-image: none !important;
}

.item:hover {
	background-color: #fdfdfd;
	cursor: move;
}
