.clip-tip{
  position: absolute;
  border-radius: 8px;
  background: #3a8ee6;
  /* padding: 0px; */
  font-size: 12px;
  color: white;
  width: 100px;
  text-align: center;
  right: 6px;
  border-radius: 30px;
  /* border: 1px solid; */
  box-shadow: 0 0 10px #3a8ee699;
  height: 28px;
}
.sweep-light{
  position: absolute;
  left: 0;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
  background-color: rgba(255,255,255,.4);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
  -moz-animation: ball-scale 1s 0s ease-in-out infinite;
  -ms-animation: ball-scale 1s 0s ease-in-out infinite;
  -o-animation: ball-scale 1s 0s ease-in-out infinite;
  animation: ball-scale 1s 0s ease-in-out infinite;
}
@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0
  }
}
@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0
  }
}
#navbar {
  display: flex;
  height: calc(36px + var(--control-space-top));
  transition: 0.2s background-color;
  width: 100%;
  -webkit-user-select: none;
  position: relative;
  outline: none;
  z-index: 2;
  padding-top: var(--control-space-top);
  padding-left: var(--control-space-left);
  padding-right: var(--control-space-right);
  -webkit-app-region: drag;
}
/*.drag-container .tab-item.active{*/
/*  background: rgb(69, 132, 250) !important;*/
/*}*/
.tab-item.gu-mirror {
  margin: 4px !important;
  top: var(--control-space-top) !important;
  opacity: 1;
  background: rgba(255, 255, 255, 1) !important;
  color: #333 !important;
  box-shadow: 0 0 5px rgba(80, 80, 80, 0.42);
}

.gu-transit{
  opacity: 0 !important;
}

.tab-item.gu-mirror {
  top: var(--control-space-top) !important;
  background: rgba(255, 255, 255, 1) !important;
  height: 26px !important;
  line-height:26px !important;
  margin-top:6px !important;
  opacity: 1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.dark-mode .tab-item.gu-mirror {
  background: rgb(84, 91, 100) !important;
  color: white !important;
}
.tab-item.gu-transit {
  opacity: 0 !important;
}
.tab-item.gu-mirror .tab-icon-area {
  display: none;
}

/* when the tab-group is white, we need a line to separate it from the webviews */

#navbar:before {
  content: "";
  width: 100vw;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.075);
}

/* dark colors don't need to be darkened as much for contrast */

.dark-theme #navbar:before {
  background: rgba(0, 0, 0, 0.04);
}
.dark-theme.is-edit-mode #navbar:before {
  background: none;
}

/* navbar buttons */

#toolbar-navigation-buttons {
  transition: 0.1s width;
  white-space: nowrap;
  overflow: hidden;
  min-width: 60px;
}

#toolbar-navigation-buttons.can-go-forward:hover {
  width: 4.25rem;
}

body.is-edit-mode #toolbar-navigation-buttons {
  display: none;
}

#back-button, #forward-button {
  opacity: 1;
  transition: none;
  padding: 0 0rem;
}
.navbar-action-button:hover{
  background: rgba(215, 215, 215, 0.47);
}
#back-button {
  padding-left: 0rem;
}
#forward-button {
  margin-left: -0em;
}
#back-button:disabled, #forward-button:disabled {
  opacity: 0.2;
}

#menu-button {
  width: 36px;
  padding: 0;
}

#menu-button {
  display: none;
}

body.windows #menu-button,
body.linux #menu-button {
  display: inline-block;
}

/* tab layout */

#navbar #tabs {
  display: flex;
  position: relative;
  overflow: hidden;
  margin-right: 35px;
  &.fixWidth{
    width: 100%;
  }
}
#tabs #tabs-inner {
  display: inline-flex;
  width: calc(100% - 30px);
  overflow-x: visible;
  height: 36px;
  overflow-y: visible;
}

#tabs #tabs-inner.disable-scroll {
  overflow-x: hidden;
}
.mac .tab-item{
  margin:5px
}
.tab-item {
  flex:1;
  display: flex;
  width: 230px;
  min-width: 0px;
  transition: 0.2s transform;
  line-height: 27px;
  height: 26px;
  overflow: hidden;
  word-break: break-all;
  position: relative;
  /*padding: 0 10px;*/
  border-radius: 6px;
  margin: 6px ;
  &:not(.active):hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  /* icons */
  .tab-icon-area {
    margin-left: auto;
    margin-right: 5px;
  }
  .tab-icon {
    position: relative;
    font-size: 0.7em;
    padding: 0 0;
    box-sizing: content-box;
    margin-left: 5px;
    &:is(.tab-close-button):hover:after {
      background: rgba(245, 27, 27, 0.78) !important;
      color: white !important;
      top: 0;
      left: -1px;
    }
    &:not(.permission-request-icon):hover:after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.075);
      position: absolute;
      top: 2px;
      left: -3px;
      z-index: -1;
    }
    &:is(.tab-close-button):hover:after {
      background: rgba(245, 27, 27, 0.78) !important;
      color: white !important;
      top: 0;
      left: -1px;
    }
    &:is(.tab-close-button):hover:before{
      z-index: 2;
      color: white;
      top: -5px;
      left: -3px;
    }

  }
}

#navbar.show-dividers .tab-item:not(:last-child) {
  &.active{
    border-right: none;
    margin-left: -1px;
  }

  border-right:1px solid #d2d2d2;
  border-radius: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  height: 37px;
  margin-top: 0;
  line-height: 37px;
  padding-left: 5px;
  padding-right: 5px;
}
.dark-theme #navbar.show-dividers .tab-item:not(:last-child) {
  border-right:1px solid rgb(210, 210, 210);
  border-radius: 0;
  margin-right: 0;
  margin-left: 0;
}

#navbar.show-dividers:before {
  background: rgba(182, 182, 182, 0.5);
}

.dark-theme .tab-item:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.dark-theme.theme-background-low-contrast .tab-item:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.15);
}


.windows .tab-item .tab-icon:is(.tab-close-button):hover:after{
      top: 2px;
      left: -1px;
}

.dark-theme .tab-item .tab-icon:hover:after {
  background: rgba(255, 255, 255, 0.15);
}
.tab-item.active:not(:only-child ) {
  /*background: rgba(0, 0, 0, 0.06);*/
  //background: rgba(211, 211, 211, 0.84);
  //color: white;
  //background: rgba(255, 255, 255, 0.2);
  background: rgb(69, 132, 250);
  //修改为蓝色
  color: white;
  /*text-shadow: 0 0 3px rgba(107, 107, 107, 0.42);*/
}
.use-theme{
  &.theme-background-low-contrast .tab-item.active:not(:only-child ){
    background: rgb(69, 132, 250);
    .title{
      color: #fff;
    }
    .active .theme-text-color{
      color: #fff
    }
  }
  .tab-item.active:not(:only-child ) {
    background: rgba(255, 255, 255, 1);
    .title{
      color: #333 ;
    }
  }
}
.dark-theme {
  .tab-item.active:not(:only-child) {
    border: none;
    background: rgba(255, 255, 255, 1);

    .title {
      color: #333;
    }

    &.theme-background-low-contrast .tab-item.active:not(:only-child) {
      background: rgba(255, 255, 255, 0.1);

    }
  }
}


.tab-item.fade {
  opacity: 0.55;
}
.tab-item.fade:hover {
  opacity: 1;
}

.is-edit-mode #navbar #tabs-inner::-webkit-scrollbar {
  height: 0;
}

/* hide tabs when tab editor is open */

.is-edit-mode .tab-item {
  opacity: 0;
}

/* hide the lock icon unless its the current tab */

.tab-item:not(.active) .icon-tab-not-secure {
  display: none;
}
.tab-item:hover .title{
  max-width: calc(100% - 10px);
}
.tab-item .title {
  font-size: 13px;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  /* 添加上favicon*/
  .icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    margin-left: 5px;
    background: #ffffffbb;
    border-radius: 6px;
    margin-top: -3px;
    vertical-align: middle;
  }
}


/* buttons */
.windows .no-drag{
  position: absolute;
  right: 0;
  width: 138px;
  height: 36px;
}
.window-drag-area{
  -webkit-app-region: drag;
}
.no-drag{

  -webkit-app-region: no-drag;
}
.windows-caption-buttons,body.windows:not(.separate-titlebar) .windows-caption-buttons{
  -webkit-app-region: no-drag;
}
.navbar-action-button {
  padding: 0 1rem;
  height:26px;
  width: 26px;
  font-size: 1.4em !important;
  border-radius: 4px;
  margin-top: 6px;
  -webkit-app-region: no-drag;
}
body.windows .navbar-action-button:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.15);
}
body.windows.dark-theme .navbar-action-button:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.15);
}
.navbar-action-button.invisible {
  visibility: hidden;
}
.navbar-action-button + .navbar-action-button {
  padding-left: 0.5em;
}
.navbar-right-actions {
  margin-right: 2.3em;
}

.navbar-right-actions #add-tab-button {
  padding: 0;
  width: 28px;
  font-size: 1.6em !important;
  -webkit-app-region: none;
}


/* audio button */
.use-theme .tab-item .tab-audio-button{
  color: #333;
}
.use-theme .tab-item .reader-button{
  color: #333;
}
.tab-item .tab-audio-button {
  vertical-align: text-bottom;
  padding: 0 0.5em 0 0;
  font-size: .9em !important;
}
.tab-item .tab-audio-button:hover:before{
    top: 10px !important;
    left: 7px !important;
}

/* reader button */

.tab-item .reader-button {
  display: none;
  vertical-align: text-bottom;
  padding: 0 0.5em 0 0;
  font-size: 1.1em !important;
}
.tab-item.active .reader-button.can-reader {
  display: inline-block;
}
.tab-item.active .reader-button.is-reader {
  display: inline-block;
}

/* permission request buttons */

.tab-item .tab-icon.permission-request-icon {
  border: 1px rgba(0, 0, 0, 0.3) solid;
  padding: 0.15em 0.17em;
  margin-right: 0.66em;
  margin-top: -0.2em;
  margin-left: -0.3em;
  border-radius: 0.75em;
}
.tab-item .tab-icon.permission-request-icon .i {
  vertical-align: middle;
  margin-top: -3px;
  display: inline-block;
}
.dark-theme .tab-item .tab-icon.permission-request-icon {
  border-color: rgba(255, 255, 255, 0.5);
}
.tab-item .tab-icon.permission-request-icon:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.dark-theme .tab-item .tab-icon.permission-request-icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.tab-item .tab-icon.permission-request-icon.active {
  background-color: rgba(0, 0, 0, 0.66);
  border-color: transparent;
  color: white;
}
.dark-theme .tab-item .tab-icon.permission-request-icon.active {
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  color: black;
}

.tab-item:not(.active) .permission-request-icon:not(.active) {
  display: none;
}

/* in Carbon, close icon is a bit smaller than other icons, enlarge it in order to match with other icons */
.tab-item .tab-close-button {
  font-size: 1.13em;
  padding:0.1em 0.1em 0.1em 0.0em;
  margin-top: 0.15em;
  color: #ffb8b8;
}
.windows .tab-item .tab-close-button{
  margin-top: 1px;
}

.tab-item  .tab-item:hover .tab-close-button:after {
  top: 4px !important;
  left: 7px !important;
  font-size: 0.9em;
}

/* when the tab is hovered, hide info buttons and show the close button */

body:not(.touch) .tab-item:hover .tab-info-icon {
  display: none;
}
body:not(.touch) .tab-item .tab-close-button {
  display: none;
}
body:not(.touch) .tab-item:hover .tab-close-button {
  display: inline-block;
  z-index: 1;
}

body.is-focus-mode .navbar-action-button:not(#menu-button) {
  display: none;
}

/* progress bar */

.progress-bar-container {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0.8em;
  overflow: hidden;
}

.progress-bar {
  height: 2px;
  width: 100%;
  background-color: currentColor;
}

body:not(.dark-theme) .progress-bar {
  opacity: 0.8;
}

.p0 {
  transform: translateX(-100%);
}

.p25 {
  transform: translateX(-75%);
  transition: transform 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.p100 {
  transform: translateX(0%);
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

