#third-toolbar {
  line-height: 40px;
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  .third-bar-lf {
    width: 350px;
    height: 40px;
    padding-left: 5px;
    .feature-btn {
      margin-left: 10px;
      cursor: pointer;
      background-color: #F3F3F3;
      color: rgba(0,0,0,.65);
      padding: 6px;
      height: 70%;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
      &:hover {
        background-color: #dddddd;
      }
      span {
        font-size: 14px;
      }
    }
  }
  .third-bar-rg {
    width: 520px;
    height: 40px;
    span {
      font-size: 14px;
      color: rgba(0,0,0,.65);
    }
    .noob-guide-btn {
      width: 140px;
      font-size: 14px;
      color: rgba(0,0,0,.65);
      padding: 4px;
      height: 70%;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      transition: all 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
      span {
        font-size: 14px;
      }
      &:hover {
        border: 1px solid #1890ff;
        background-color: rgba(3, 167, 248, 0.1);
        cursor: pointer;
      }
    }
  }
}

#toolbar {
  img {
    -webkit-user-drag: none;
  }

  line-height: 40px;
  z-index: 2;
  top: calc(36px + var(--control-space-top));
  width: calc(100vw - 45px);
  left: 45px;
  position: fixed;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #e3e3e3;

  .action {
    padding: 6px;
    width: 30px;
    height: 30px;
    margin: 4px;
    vertical-align: top;
    border-radius: 4px;
  }

  .start-page {
    background-color: rgba(227, 227, 227, 0.27);
  }

  .app {
    padding: 2px;
    width: 32px;
    height: 32px;
    margin-top: 4px;
  }

  .action:hover {
    background: rgba(238, 238, 238, 0.8);

  }

  .is-reader {
    img {
      border: 1px solid #1E90FF;
      border-radius: 50%;
    }

  }

  .action-wrapper {
    width: 40px;
    position: relative;

    .bandage {
      position: absolute;
      display: inline-block;
      font-size: 10px;
      background: rgb(82, 196, 26);
      color: white;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      right: 7px;
      top: 7px;
      text-align: center;
      line-height: 14px;
    }
  }

  .disable {
    opacity: 0.3;
  }

  .disable:hover {
    background: none;
  }

  .site-card {
    cursor: pointer;
    vertical-align: middle;
    width: 28px;
    margin-top: -5px;
  }

  .site-card:hover {
    opacity: 0.8;
  }

  #tab-editor {
    left: 35px;
    width: calc(100% - 35px);
  }

  #tab-editor-input {
    font-size: 14px;

  }

  #address-bar {
    background: rgba(201, 201, 201, 0.35);
    display: block;
    height: 28px;
    margin: 6px;
    line-height: 30px;
    border-radius: 150px;
    padding-left: 3px;
  }

  .split {
    margin-right: 8px;
    border-right: 1px solid #cacaca;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 0;
    margin-top: -3px
  }
}

#tab-editor .tab-editor-button:hover {
  line-height: 1em;
}
