#toolbar{
  z-index: 1;
  top: calc(36px + var(--control-space-top));
  width: 100vw;
  position: fixed;
  height: 40px;
  background: #f9f9f9;
  .action{
    padding: 6px;
    width: 30px;
    height: 30px;
    margin:4px;
    vertical-align: top;
    border-radius: 4px;

  }
  .action:hover{
    background: rgba(238, 238, 238, 0.8);

  }
  .action-wrapper{
    width: 40px;
    position: relative;
    .bandage{
      position: absolute;
      display: inline-block;
      font-size: 10px;
      background: rgb(82, 196, 26);
      color: white;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      right: 7px;
      top: 7px;
      text-align: center;line-height: 14px;
    }
  }

  .disable{
      opacity: 0.3;
  }
  .disable:hover{
    background: none;
  }
  .site-card{
    cursor: pointer;
    vertical-align: middle;
    width: 28px;
    margin-top: -5px;
  }
  .site-card:hover{
    opacity: 0.8;
  }
  #tab-editor{
    left: 35px;
    width: calc(100% - 35px);
  }
  #tab-editor-input{
    font-size: 14px;

  }
  #address-bar{
    background: white;
    display: block;
    height: 28px;
    margin: 6px;
    line-height: 30px;
    border-radius: 150px;
    padding-left: 3px;
  }

}
#tab-editor .tab-editor-button:hover{
  line-height: 1em;
}
