@font-face {
  font-family: "bicon";
  /* Project id 3693838 */
  src: url('iconfont.woff2?t=1665306852216') format('woff2');
}

.bicon {
  font-family: "bicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bicon-fenxiang:before {
  content: "\e624";
}

.bicon-kuaijie:before {
  content: "\e625";
}

.bicon-saoyisao:before {
  content: "\e626";
}

.bicon-shijian:before {
  content: "\e627";
}

.bicon-sousuo:before {
  content: "\e628";
}

.bicon-shijian3dian:before {
  content: "\e629";
}

.bicon-bianji:before {
  content: "\e62a";
}

.bicon-tishi-xianxing:before {
  content: "\e62b";
}

.bicon-wendang:before {
  content: "\e62c";
}

.bicon-wenjianjia:before {
  content: "\e62d";
}

.bicon-weiguidang:before {
  content: "\e62e";
}

.bicon-xiaoxi:before {
  content: "\e62f";
}

.bicon-yiwen-xianxing:before {
  content: "\e630";
}

.bicon-biaoqian:before {
  content: "\e631";
}

.bicon-chengyuan:before {
  content: "\e632";
}

.bicon-gengduo1:before {
  content: "\e633";
}

.bicon-fuzhi:before {
  content: "\e634";
}

.bicon-diannao:before {
  content: "\e635";
}

.bicon-lianjie:before {
  content: "\e636";
}

.bicon-daochu:before {
  content: "\e637";
}

.bicon-dianzan:before {
  content: "\e638";
}

.bicon-guanbi1:before {
  content: "\e639";
}

.bicon-shouqi:before {
  content: "\e63a";
}

.bicon-guanbi2:before {
  content: "\e63b";
}

.bicon-quanxian:before {
  content: "\e63c";
}

.bicon-gengduo2:before {
  content: "\e63d";
}

.bicon-xihuan:before {
  content: "\e63e";
}

.bicon-jinhangzhong:before {
  content: "\e63f";
}

.bicon-rili:before {
  content: "\e640";
}

.bicon-shaixuan:before {
  content: "\e641";
}

.bicon-paixu:before {
  content: "\e642";
}

.bicon-liebiaoshitu:before {
  content: "\e643";
}

.bicon-suoding:before {
  content: "\e644";
}

.bicon-tianjia2:before {
  content: "\e645";
}

.bicon-yanjing:before {
  content: "\e646";
}

.bicon-shanchu:before {
  content: "\e647";
}

.bicon-shouye:before {
  content: "\e648";
}

.bicon-xiangshang:before {
  content: "\e649";
}

.bicon-yanjing-yincang:before {
  content: "\e64a";
}

.bicon-yidongwenjianjia:before {
  content: "\e64b";
}

.bicon-xiangxia:before {
  content: "\e64c";
}

.bicon-shezhi:before {
  content: "\e64d";
}

.bicon-jiesuo:before {
  content: "\e64e";
}

.bicon-xiangyou:before {
  content: "\e64f";
}

.bicon-xiangzuo:before {
  content: "\e650";
}

.bicon-shuaxin:before {
  content: "\e651";
}

.bicon-xiazai:before {
  content: "\e652";
}

.bicon-zhankai:before {
  content: "\e653";
}

.bicon-xiangmu:before {
  content: "\e654";
}

.bicon-shangchuan:before {
  content: "\e655";
}

.bicon-shoucang:before {
  content: "\e656";
}

.bicon-xuanzhong:before {
  content: "\e657";
}

.bicon-tianjia1:before {
  content: "\e658";
}

.bicon-yiwancheng:before {
  content: "\e659";
}

.bicon-wanggeshitu:before {
  content: "\e65a";
}

.bicon-tianjiawenjianjia:before {
  content: "\e65b";
}

.bicon-yichu:before {
  content: "\e65c";
}

.bicon-tianjiakuaijiefangshi:before {
  content: "\e65d";
}

.bicon-tianjiachengyuan:before {
  content: "\e65e";
}

.bicon-yixuan:before {
  content: "\e65f";
}

.bicon-quanbubiaojiyidu:before {
  content: "\e660";
}

.bicon-huanyuan:before {
  content: "\e661";
}

.bicon-youjiantou:before {
  content: "\e662";
}

.bicon-tuichu:before {
  content: "\e663";
}

.bicon-shenqing:before {
  content: "\e664";
}

.bicon-chakanshenqing:before {
  content: "\e665";
}

.bicon-banner:before {
  content: "\e666";
}

.bicon-moban:before {
  content: "\e667";
}

.bicon-shenhe:before {
  content: "\e668";
}

.bicon-yonghu:before {
  content: "\e669";
}

.bicon-rizhi:before {
  content: "\e66a";
}