electron_mirror=https://npm.taobao.org/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/
node_sqlite3_binary_host_mirror=http://npm.taobao.org/mirrors/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
PYTHON_MIRROR=http://npm.taobao.org/mirrors/python
profiler_binary_host_mirror=http://npm.taobao.org/mirrors/node-inspector/
registry=https://registry.npm.taobao.org
