// 公共字体
.xt-font {
  font-family: "PuHuiTi400" !important;
}
.xt-font-400 {
  font-family: "PuHuiTi400" !important;
}
.xt-font-500 {
  font-family: "PuHuiTi500" !important;
}
.xt-font-600 {
  font-family: "PuHuiTi600" !important;
}
.xt-font-700 {
  font-family: "PuHuiTi700" !important;
}

// 数字字体
.xt-num-font {
  font-family: "Oswald400" !important;
}
.xt-num-font-400 {
  font-family: "Oswald400" !important;
}
.xt-num-font-500 {
  font-family: "Oswald500" !important;
}
.xt-num-font-600 {
  font-family: "Oswald600" !important;
}
.xt-num-font-700 {
  font-family: "Oswald700" !important;
}

// 特殊字体
.xt-special-font {
  font-family: "TitleBlack" !important;
}

