// 主要字体
@font-face {
  font-family: "PuHuiTi400";
  src: url("./../../font/PuHuiTi/AlibabaPuHuiTi-2-55-Regular.ttf");
}
@font-face {
  font-family: "PuHuiTi600";
  src: url("./../../font/PuHuiTi/AlibabaPuHuiTi-2-75-SemiBold.ttf");
}
@font-face {
  font-family: "PuHuiTi700";
  src: url("./../../font/PuHuiTi/AlibabaPuHuiTi-2-85-Bold.ttf");
}

// 数字字体
@font-face {
  font-family: "Oswald400";
  src: url("./../../font/Oswald/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Oswald600";
  src: url("./../../font/Oswald/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "Oswald700";
  src: url("./../../font/Oswald/Oswald-Bold.ttf");
}

// 特殊字体
@font-face {
  font-family: "TitleBlack";
  src: url("./../../font/TitleBlack.ttf");
}



@font-face {
  font-family: "优设标题黑";
  src: url("./../../font/优设标题黑.ttf");
}
@font-face {
  font-family: "Oswald-SemiBold";
  src: url("./../../font/Oswald-SemiBold.ttf");
}
@font-face {
  font-family: "Oswald-Medium";
  src: url("./../../font/Oswald-Medium.ttf");
}
