<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
  <meta charset="UTF-8">
  <title>下载助手</title>
  <script  src="../../ext/vue/vue.js"></script>
  <script  src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>

</head>
<body>

<div id="appVue">
  <template>
    <div class="toggle">
      <a-tabs default-active-key="1" @change="callback" >
        <a-tab-pane key="1">
        <span slot="tab" style="user-select:none" >
           <a-badge :count="count" id="tag">
             <a href="#" class="head-example"></a>
           </a-badge>
        下载中
      </span>
          <div v-show="listCount===0" style="margin-top: 50px">
            <a-empty description="暂无下载任务" style="user-select:none"></a-empty>
          </div>
          <div id="downloadIng" v-for="(list,index) in lists" v-bind:key="index" style="margin-top: 10px"
               @contextmenu="menuIng(index)" @click="change(index)"
               :class="{active : active === index,
         clickActive:clickActive===index}"
               @mouseover="mouseOver(index)"
               @mouseleave="mouseLeave">
            <div style="margin-top: 0;width: 100%;height: 55px;">
              <div style="width: 34px;height: 40px;position: absolute;margin-top: 8px;margin-left: 5px; user-select:none" >
                <img src="icon/exe.svg" class="icon" v-if="list.title.indexOf('exe')>0">
                <img src="icon/jpg.svg" class="icon" v-else-if="list.title.indexOf('jpg')>0">
                <img src="icon/jpg.svg" class="icon" v-else-if="list.title.indexOf('jpeg')>0">
                <img src="icon/zip.svg" class="icon" v-else-if="list.title.indexOf('zip')>0">
                <img src="icon/word.svg" class="icon" v-else-if="list.title.indexOf('docx')>0">
                <img src="icon/word.svg" class="icon" v-else-if="list.title.indexOf('doc')>0">
                <img src="icon/txt.svg" class="icon" v-else-if="list.title.indexOf('txt')>0">
                <img src="icon/video.svg" class="icon" v-else-if="list.title.indexOf('mp4')>0">
                <img src="icon/mp3.svg" class="icon" v-else-if="list.title.indexOf('mp3')>0">
                <img src="icon/psd.svg" class="icon" v-else-if="list.title.indexOf('psd')>0">
                <img src="icon/white.svg" class="icon" v-else>
              </div>

              <div>
<!--                <a-button type="link" style="float: right" @click="showModal(list.id)">-->
<!--                  删除-->
<!--                </a-button>-->
                <a-modal v-model="visibleIng" title="删除下载任务" ok-text="确认" cancel-text="取消" @ok="hideModal()">
                  <p>文件正在下载中，确认删除</p>
                </a-modal>
              </div>
              <div v-if="list.status === 'progressing'" >
                <div v-if="list.loadState" >
                  <a-button style="position: absolute;margin-left: 300px;margin-top: 10px" type="link" @click="resume(index)" >
                     开始
                  </a-button>
                </div>
                <div v-else>
                  <a-button style="position: absolute;margin-left: 300px;margin-top: 10px" type="link" @click="stop(index)">
                    暂停
                  </a-button>
                </div>
              </div>
           <div>
            <div style="margin-left: 50px;font-size: 13px;font-weight: bold ;">{{list.title}}</div>
             <div v-if="list.received" style="margin-left: 50px;font-size: 12px;width: 150px;color:#999">{{list.received}} / {{list.total}}</div>
             <div v-else style="margin-left: 50px;font-size: 12px;width: 150px;color:#999">{{list.received}}  预载中...</div>
            <div v-if="list.realData" style="position: absolute;margin-left: 210px;width: 50px;margin-top: -20px" >{{list.realData}}/s</div>
             <div v-else></div>
           </div>
            <a-progress style="position: absolute;width: 95%;padding-left: 50px;margin-top: -6px;color:#999"  :percent="list.progressnuw"></a-progress>
            </div>
          </div>

        </a-tab-pane>

        <a-tab-pane key="2"  force-render >
           <span slot="tab" style="user-select:none" >
            已完成
           </span>
          <div v-show="listDoneCount===0" style="margin-top: 50px">
            <a-empty description="暂无完成任务" style="user-select:none" ></a-empty>
          </div>

          <div id="downloadDone"  v-for="(doneList,index) in doneLists"  style="margin-top: 10px"  v-bind:key="index"  @click.stop="change(index)" @dblclick="openFileHandler(index)" @contextmenu="menuDone(index)"  :class="{active : active === index,
         clickActive:clickActive===index}"
               @mouseover="mouseOver(index)"
               @mouseleave="mouseLeave">

            <div style="width: 100%;height: 45px;">
              <div style="width: 34px;height: 40px;position: absolute;margin-top: 4px;margin-left: 10px; user-select:none" >
                <img src="icon/exe.svg" class="icon" v-if="doneList.title.indexOf('exe')>0">
                <img src="icon/jpg.svg" class="icon" v-else-if="doneList.title.indexOf('jpg')>0">
                <img src="icon/jpg.svg" class="icon" v-else-if="doneList.title.indexOf('jpeg')>0">
                <img src="icon/zip.svg" class="icon" v-else-if="doneList.title.indexOf('zip')>0">
                <img src="icon/word.svg" class="icon" v-else-if="doneList.title.indexOf('docx')>0">
                <img src="icon/word.svg" class="icon" v-else-if="doneList.title.indexOf('doc')>0">
                <img src="icon/txt.svg" class="icon" v-else-if="doneList.title.indexOf('txt')>0">
                <img src="icon/video.svg" class="icon" v-else-if="doneList.title.indexOf('mp4')>0">
                <img src="icon/mp3.svg" class="icon" v-else-if="doneList.title.indexOf('mp3')>0">
                <img src="icon/psd.svg" class="icon" v-else-if="doneList.title.indexOf('psd')>0">
                <img src="icon/white.svg" class="icon" v-else>
              </div>
                <div>
                  <a-modal v-model="visible" title="删除下载任务" ok-text="确认" cancel-text="取消" @ok="hideModalDone()">
                    <p>文件下载已完成，确认删除</p>
                    <a-checkbox @change="doneChange">
                      同时删除下载文件
                    </a-checkbox>
                  </a-modal>
                </div>

              <a-button style="position: absolute;margin-left: 300px;margin-top: 5px;cursor:pointer;" type="link" @click="openFileHandler(index)" >
                打开
              </a-button>
<!--                <a-button style="position: absolute;margin-left: 290px;margin-top: 5px;cursor:pointer;" type="link" @click="showFileHandler(index)" >-->
<!--                  打开文件夹-->
<!--                </a-button>-->
              <div style="position: absolute;font-size: 13px;margin-left: 145px;margin-top: 19px; user-select:none">{{doneList.doneDate}}</div>
              <div style="margin-left: 50px;font-size: 13px;font-weight: bold ;">{{doneList.title}}</div>
              <div style="margin-left: 50px;font-size: 12px;width: 65px;color:#999">{{doneList.total}} </div>
            </div>
          </div>
        </a-tab-pane>

        <a-tab-pane key="3">
           <span slot="tab" style="user-select:none" >
            回收站
           </span>
          <div v-show="listTrashCount===0" style="margin-top: 50px">
            <a-empty description="暂无记录" style="user-select:none"></a-empty>
          </div>
          <div v-for="(deleteList,index) in deleteLists" v-bind:key="index" @click="change(index)" style="margin-top: 10px"   @contextmenu="menuDel(index)"  :class="{active : active === index,
         clickActive:clickActive===index}"
               @mouseover="mouseOver(index)"
               @mouseleave="mouseLeave">
            <div style="width: 100%;height: 45px;">
              <div style="width: 34px;height: 40px;position: absolute;margin-top: 4px;margin-left: 10px;user-select:none" >
                <img src="icon/delete.svg" class="icon">
              </div>
              <div style="position: absolute;margin-left: 270px;margin-top: 14px">{{deleteList.statusText}}</div>
              <div style="margin-left: 50px;font-size: 13px;font-weight: bold;text-decoration:line-through">{{deleteList.title}}</div>
              <div style="margin-left: 50px;font-size: 12px;width: 65px;">{{deleteList.total}} </div>
            </div>
          </div>
        </a-tab-pane>

      </a-tabs>
    </div>
  </template>

</div>

<script type="module">

  const { clipboard } = require('electron')
  const { shell } = require('electron')
  const fs = require('fs')
  let {ipcMain} = require('electron')
  let {ipcRenderer} = require('electron')
  const {db} = require('../../js/util/database')


  ipcRenderer.on('menuIngStart', (e,args) => {
    if(appVue.selectingList.loadState === true){
      ipcRenderer.send('resumeDownload', appVue.selectingList.path)
      appVue.selectingList.loadState = false
    }else {
      ipcRenderer.send('stopDownload', appVue.selectingList.path)
      appVue.selectingList.loadState = true
    }
  })

  ipcRenderer.on('menuIngUrl', (e) => {
    clipboard.writeText( appVue.selectingList.url)
    appVue.$message.success('已复制到剪切板');
  })

  ipcRenderer.on('menuIngDelete', (e) => {
    appVue.visibleIng = true;
  })

  ipcRenderer.on('menuDoneOpen', (e) => {
    const {shell} = require('electron')
    fs.exists(appVue.selectList.path, function (flag) {
      if (flag) {
        shell.openPath(appVue.selectList.path)
      } else {
        appVue.$message.info('文件已被删除或位置被移动', 1)
        db.download.delete(appVue.selectList.startTime)
        appVue.doneLists.splice(appVue.doneLists.indexOf(appVue.selectList), 1)
        appVue.listDoneCount--
      }
    })
  })

  ipcRenderer.on('menuDoneOpenPath', (e) => {
    const {shell} = require('electron')
    fs.exists(appVue.selectList.path, function (flag) {
      if (flag) {
        shell.showItemInFolder(appVue.selectList.path)
      } else {
        appVue.$message.info('文件已被删除或位置被移动', 1)
        db.download.delete(appVue.selectList.startTime)
        appVue.doneLists.splice(appVue.doneLists.indexOf(appVue.selectList), 1)
        appVue.listDoneCount--
      }
    })

  })

  ipcRenderer.on('menuDoneOpenPage', (e) => {
    ipcRenderer.send('addTab',{url:appVue.selectList.href})
  })

  ipcRenderer.on('menuDoneUrl', (e) => {
    clipboard.writeText( appVue.selectList.url)
    appVue.$message.success('已复制到剪切板');
  })

  ipcRenderer.on('menuDoneDelete', (e) => {
    appVue.visible = true;
    appVue.deleconfirm=false
  })

  ipcRenderer.on('menuTrashAgain', (e) => {
    ipcRenderer.send('addTab',{url:appVue.selectDelList.url})
  })

  ipcRenderer.on('menuTrashOpenPage', (e) => {
      ipcRenderer.send('addTab',{url:appVue.selectDelList.href})
  })

  ipcRenderer.on('menuTrashUrl', (e) => {
    clipboard.writeText( appVue.selectDelList.url)
    appVue.$message.success('已复制到剪切板');
  })

  ipcRenderer.on('menuTrashDelete', (e) => {
    appVue.deleteLists.splice(appVue.deleteLists.indexOf(appVue.selectDelList), 1)
    db.download.delete(appVue.selectDelList.startTime)
    appVue.listTrashCount--
  })

  ipcRenderer.on('download-info', async (event, args) => {
    let i;

    let simpleName;
    if (args.name.length >= 20) {
      simpleName = args.name.substring(0, 7) + '...' + args.name.substring(args.name.length-6,args.name.length);
    } else (simpleName = args.name)

    if (args.status === 'start') {
      appVue.lists.forEach(item=>{
        if(item.startTime===args.startTime){
          appVue.lists.splice(appVue.lists.indexOf(args.startTime), 1)
          appVue.count--
        }
      })
      appVue.lists.unshift({
        id: appVue.id++,
        title: simpleName,
        received: '',
        realData: '',
        total: '',
        progressnuw: 0,
        startTime: args.startTime,
        path: '',
        loadState: false,
        url: args.url,
        href:args.href
      })
      appVue.listCount++
      appVue.count++
      // ipcRenderer.send('willDownload')
      ipcRenderer.send('downloading')
    }

    if (args.status === 'cancelled') {
      ipcRenderer.send('emptyPageUrl',args.chainUrl)
      for (i = 0; i < appVue.lists.length; i++) {
        if (appVue.lists[i].startTime === args.startTime) {
            appVue.deleteId = i
        }
      }
      ipcRenderer.send('downloadEnd')
      appVue.lists.splice(appVue.deleteId, 1)
      appVue.count--
      if(appVue.count<0){
        appVue.count=0
      }
      appVue.listCount--
    }


    if (args.status === 'progressing' && args.path !== '') {
      // ipcRenderer.send('willDownload')
      ipcRenderer.send('emptyPageUrl', args.chainUrl)
      appVue.lists.forEach(function (item, index, arr) {
        if (item.startTime === args.startTime) {
          item.title = simpleName;
          item.received = args.size.received
          item.realData = args.realData
          item.total = args.size.total
          item.progressnuw = Math.round(args.progressnuw);
          item.path = args.path
          item.status = args.status
          if (item.progressnuw === 100) {
            appVue.lists.splice(index, 1)
          }
        }
      })
    }

    if (args.status === 'completed' && args.path !== '') {

      ipcRenderer.send('emptyPageUrl',args.chainUrl)
      const myDate = new Date();
      appVue.doneLists.forEach(item=>{
        if(item.startTime===args.startTime){
          appVue.doneLists.splice(appVue.doneLists.indexOf(args.startTime), 1)
          appVue.count++
        }
      })
      appVue.doneLists.unshift({
        id: appVue.doneId++,
        title: simpleName,
        total: args.size.total,
        path: args.path,
        url: args.url,
        startTime: args.startTime,
        doneDate:myDate.toLocaleString('chinese', { hour12: false }),
        href:args.href
      })
      appVue.listCount--
      appVue.count--
      appVue.listDoneCount++
      db.download.add({
        title: args.name,
        total: args.size.total,
        path: args.path,
        url: args.url,
        startTime: args.startTime,
        doneDate:myDate.toLocaleString('chinese', { hour12: false }),
        status:'1',
        href:args.href
      })
      ipcRenderer.send('closeEmpty',args.chainUrl)
      ipcRenderer.send('downloadEnd')
    }
  })

   let appVue = new Vue({
    el: '#appVue',
     data: {
       listCount:0,
       listDoneCount:0,
       listTrashCount:0,
       count:'0',
       doneDate:'',
       visibleIng:false,
       visible: false,
       lists:[],
       doneLists:[],
       deleteLists:[],
       progressnuw:0,
       startTime: '',
       pathList:[],
       deleteId:'0',
       loadState:[],
       id:'0',
       active :'',
       clickActive:'',
       selectList:[],
       selectingList:[],
       url:'',
       doneId:'0',
       deleconfirm:false,
       deleteList:[],
       delId:'0',
     },
    created() {

      // let newArr = [];
      // //通过forEach循环数组
      // this.dataAll.forEach((item, i) => {
      //   let index = -1;
      //   //然后在跑到这里筛选 根据不同的时间放置不同的数组    some（）用来查找数组中是否存在某个值  如果存在 就return true
      //   let isExists = newArr.some((newItem, j) => {
      //     if(item.addtime == newItem.addtime) {
      //       index = j;
      //       return true;
      //     }
      //   })
      //   //代码是先跑这里的if条件判读
      //   if(!isExists) {
      //     newArr.push({
      //       addtime: item.addtime,
      //       subList: [item]
      //     })
      //   } else {
      //     newArr[index].subList.push(item);
      //   }
      //   this.Data = newArr
      // })

       db.download.toArray().then(dblist => {
         for(let i=0; i<=dblist.length; i++){
           let simpleName;
           if (dblist[i].title.length >= 20) {
             simpleName = dblist[i].title.substring(0, 7) + '...' + dblist[i].title.substring(dblist[i].title.length-6,dblist[i].title.length);
           } else (simpleName = dblist[i].title)
      if(dblist[i].status==='1'){
        appVue.doneLists.unshift({
          id:appVue.doneId++,
          title:simpleName,
          total: dblist[i].total,
          path: dblist[i].path,
          url: dblist[i].url,
          startTime:dblist[i].startTime,
          doneDate:dblist[i].doneDate,
          href:dblist[i].href
        })
        appVue.listDoneCount++
      }
           if(dblist[i].status<0){
             appVue.deleteLists.unshift({
               id:appVue.doneId++,
               title:simpleName,
               total: dblist[i].total,
               path: dblist[i].path,
               url: dblist[i].url,
               startTime:dblist[i].startTime,
               statusText:dblist[i].statusText,
               href:dblist[i].href
             })
             appVue.listTrashCount++
           }
         }
       })
      },
     methods: {
      menuIng(index){
        this.selectingList=this.lists[index]
        this.active = index;
        if(this.selectingList.status === 'progressing'){
          ipcRenderer.send('showMenuIng',this.lists[index].loadState)
        }
      },
      menuDone(index){
        ipcRenderer.send('showMenuDone')
        this.selectList=this.doneLists[index]
        this.active = index;
      },
      menuDel(index){
        ipcRenderer.send('showMenuTrash')
        this.selectDelList=this.deleteLists[index]
        this.active = index;
      },
      mouseOver(index){
        this.clickActive = index;
      },
      mouseLeave(){
        this.clickActive = '';
      },
       change (index) {
         this.active = index
       },
      hideModal() {
        appVue.listTrashCount++
        db.download.put({
          startTime:appVue.selectingList.startTime,
          title: appVue.selectingList.title,
          total: appVue.selectingList.total,
          path: appVue.selectingList.path,
          url: appVue.selectingList.url,
          status:'-2',//删除包括文件
          statusText:'文件已被删除',
          doneDate:appVue.selectingList.doneDate,
          href:appVue.selectingList.href
        })
        appVue.deleteLists.unshift({
          id: appVue.delId++,
          title: appVue.selectingList.title,
          total: appVue.selectingList.total,
          path: appVue.selectingList.path,
          url: appVue.selectingList.url,
          startTime: appVue.selectingList.startTime,
          statusText:'文件已被删除',
          href:appVue.selectingList.href
        })
        ipcRenderer.send('deleteDownload', this.selectingList.path)
        this.visibleIng = false
      },

      doneChange(e){
        if(e.target.checked === true){
          this.deleconfirm = true
        }
        if (e.target.checked === false){
          this.deleconfirm = false
        }
      },
      callback(key){
      },

      hideModalDone(){
        appVue.listDoneCount--
        appVue.listTrashCount++
        if (this.deleconfirm === true) {
          fs.exists(this.selectList.path, function (flag) {
            if (flag) {
              db.download.put({
                startTime:appVue.selectList.startTime,
                title: appVue.selectList.title,
                total: appVue.selectList.total,
                path: appVue.selectList.path,
                url: appVue.selectList.url,
                status:'-2',//删除包括文件
                statusText:'文件已被删除',
                doneDate:appVue.selectList.doneDate,
                href:appVue.selectList.href
              })
              appVue.deleteLists.unshift({
                id: appVue.delId++,
                title: appVue.selectList.title,
                total: appVue.selectList.total,
                path: appVue.selectList.path,
                url: appVue.selectList.url,
                startTime: appVue.selectList.startTime,
                statusText:'文件已被删除',
                href:appVue.selectList.href
              })
              ipcRenderer.send('deleteFile',appVue.selectList.path)
              appVue.$message.info('文件已删除', 1)
              appVue.doneLists.splice(appVue.doneLists.indexOf(appVue.selectList), 1)
              appVue.visible = false;
            } else {
              appVue.deleteLists.unshift({
                id: appVue.delId++,
                title: appVue.selectList.title,
                total: appVue.selectList.total,
                path: appVue.selectList.path,
                url: appVue.selectList.url,
                startTime: appVue.selectList.startTime,
                statusText:'文件已被删除',
                href:appVue.selectList.href
              })
              appVue.doneLists.splice(appVue.doneLists.indexOf(appVue.selectList), 1)
              appVue.visible = false;
            }
          })
        }
        if (this.deleconfirm === false) {
          db.download.put({
            startTime:appVue.selectList.startTime,
            title: appVue.selectList.title,
            total: appVue.selectList.total,
            path: appVue.selectList.path,
            url: appVue.selectList.url,
            status:'-1',//删除不包括文件
            statusText:'',
            doneDate:appVue.selectList.doneDate,
            href:appVue.selectList.href
          })
          appVue.deleteLists.unshift({
            id: appVue.delId++,
            title: appVue.selectList.title,
            total: appVue.selectList.total,
            path: appVue.selectList.path,
            url: appVue.selectList.url,
            startTime: appVue.selectList.startTime,
            statusText:'',
            href:appVue.selectList.href
          })
          this.doneLists.splice(this.doneLists.indexOf(this.selectList), 1)
          this.visible = false;
        }
      },
      resume(index) {
        ipcRenderer.send('resumeDownload', this.lists[index].path)
        this.lists[index].loadState = false
      },
      stop(index) {
        ipcRenderer.send('stopDownload', this.lists[index].path)
        this.lists[index].loadState = true
      },

      openFileHandler(index) {
        // const {shell} = require('electron')
        // shell.openPath(this.doneLists[index].path)
        const {shell} = require('electron')
        fs.exists(this.doneLists[index].path, function (flag) {
          if (flag) {
            shell.openPath(appVue.doneLists[index].path)
          } else {
            appVue.$message.info('文件已被删除或位置被移动', 1)
            db.download.delete(appVue.doneLists[index].startTime)
            appVue.doneLists.splice(appVue.doneLists.indexOf(appVue.selectList), 1)
            appVue.listDoneCount--
          }
        })
      },
    }
   })



</script>

</body>

<style>
#tag{
  position: absolute;
  margin-left: 60px;
  margin-top: 10px;
}
.active {
  background: #f7f7f7;
}
.clickActive{
  background: #f7f7f7;
}
.icon{
  width: 100%;
  height: 100%;
}
</style>

</html>
