<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
  <meta charset="UTF-8">
  <title>下载助手</title>
  <script  src="../../ext/vue/vue.js"></script>
  <script  src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>

</head>
<body>


<div id="appVue">
  <template>
    <div class="toggle">
      <a-tabs default-active-key="1" @change="callback">
        <a-tab-pane key="1" >
        <span slot="tab">
           <a-badge count="1" id="bq">
             <a href="#" class="head-example"></a>
           </a-badge>
        下载中
      </span>
          <div v-for="(list,index) in lists" v-bind:key="index">
            <div style="margin-top: 0;width: 100%;height: 55px;background-color: azure ">
              <div style="width: 34px;height: 40px;position: absolute;margin-top: 8px;margin-left: 5px;" >
                <a-icon type="file-text" style="fontSize:30px"></a-icon>
              </div>
              <a-popconfirm
                title="文件正在下载中，确定删除?"
                ok-text="删除"
                cancel-text="取消"
                @confirm="del(lists.splice(index, 1))"
              >
                <a style="float: right;" href="#">删除</a>
              </a-popconfirm>
              <div >
                <a-button style="position: absolute;margin-left: 270px;margin-top: 14px" type="link" @click="stop()">
                  暂停
                </a-button>
              </div>
           <div>
            <div style="margin-left: 50px;font-size: 15px;font-weight: bold ;">{{list.title}}</div>
            <div style="margin-left: 50px;font-size: 12px;width: 150px;">{{list.received}}  MB  /  {{list.total}}  MB</div>
            <div style="position: absolute;margin-left: 220px;width: 50px;margin-top: -20px" >{{list.realdata}}/MB</div>
           </div>
            <a-progress style="position: absolute;width: 95%;padding-left: 50px;margin-top: -6px"  :percent="list.progressnuw"></a-progress>
            </div>
          </div>
        </a-tab-pane>

        <a-tab-pane key="2" tab="已完成" force-render>
          <div v-for="(donelist,index) in donelists" v-bind:key="index">
            <div style="width: 100%;height: 45px;background-color: azure">
              <div style="width: 34px;height: 40px;position: absolute;margin-top: 8px;margin-left: 5px;" >
                <a-icon type="file-text" style="fontSize:30px"></a-icon>
              </div>
              <a-popconfirm
                title="文件下载已完成，确定删除?"
                ok-text="删除"
                cancel-text="取消"
                @confirm="del(donelists.splice(index, 1))"
              >
                <a style="float: right;" href="#">删除</a>
              </a-popconfirm>
              <div>
              <a-button style="position: absolute;margin-left: 200px;margin-top: 5px" type="link" >
                打开
              </a-button>
                <a-button style="position: absolute;margin-left: 240px;margin-top: 5px" type="link" @click="openFileHandler" >
                  打开文件夹
                </a-button>
            </div>
              <div style="margin-left: 50px;font-size: 15px;font-weight: bold ;">{{donelist.title}}</div>
              <div style="margin-left: 50px;font-size: 12px;width: 150px;">{{donelist.total}}  MB</div>

            </div>
          </div>
        </a-tab-pane>

<!--        <a-tab-pane key="3" tab="回收站">-->
<!--          <div v-for="(deletelist,index) in deletelists" v-bind:key="index">-->
<!--            <div style="width: 100%;height: 45px;background-color: #8c8c8c">-->
<!--              <div style="margin-left: 50px">{{deletelist.title}}</div>-->
<!--              <div style="margin-left: 50px">{{deletelist.title}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </a-tab-pane>-->
      </a-tabs>
    </div>
  </template>

</div>



<script type="module">
  const { shell } = require('electron')
  const fs = require('fs')
  let {ipcMain} = require('electron')
  let {ipcRenderer} = require('electron')
  window.addEventListener('contextmenu', (e) => {
    e.preventDefault()
    ipcRenderer.send('show-context-menu')
  })


  ipcRenderer.on('context-menu-command', (e, command) => {
    console.log(123)
  })


  ipcRenderer.on('download-info', (event, args) => {
    let aname;
    if (args.name.length >= 20) {
      aname = args.name.substring(0, 15)+'...';
    }else (aname=args.name)

    if(args.status ==='start'){
      appVue.lists.push({
        title:aname,
        received:'',
        realdata:'',
        total:'',
        progressnuw:0,
        startTime:args.startTime,
      })
    }

    if (args.status === 'progressing' && args.path !== '' ) {
        appVue.lists.forEach(function(item,index,arr){
          if(item.startTime===args.startTime){
          item.title = aname;
          item.received = ((args.size.received) / 1024 / 1024).toFixed(2);
          item.realdata = ((args.realdata) / 1024 / 1024).toFixed(2);
          item.total = ((args.size.total) / 1024 / 1024).toFixed(2);
          item.progressnuw = Math.round(args.progressnuw)
        }
       })
      console.log(appVue.lists)
    }


      if(args.status === 'completed' && args.path !== '' ) {
        console.log(args)
        appVue.lists.splice(0, 1)
        appVue.donelists.push({
          id1: appVue.nextTodoId1++,
          title: aname,
          total:((args.size.total)/1024/1024).toFixed(2),
        })
        appVue.path=args.path
      }
  })

   let appVue = new Vue({
    el: '#appVue',
     data: {
       lists:[],
       donelists:[],
       deletelists:[],
       nextTodoId1:0,
       nextTodoId2:0,
       progressnuw:0,
       startTime: '',
       path:''
     },

    methods: {
      callback(key) {
      },
      del() {
        this.deletelists.push({
          id2: this.nextTodoId2++,
        })
      },
      stop() {
        ipcRenderer.send('stopDownload')
      },
      openFileHandler() {
        const { shell } = require('electron')
        console.log(this.path)
        shell.showItemInFolder()
      },
    }
   })

</script>

</body>

<style>
#bq{
  position: absolute;
  margin-left: 60px;
  margin-top: 10px;
}


</style>

</html>
