<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>通知中心设置</title>
  <link rel="stylesheet" href="../../ext/reset.css"/>
  <link rel="stylesheet" href="../../ext/flex-class.css"/>
  <script src="../../ext/vue/vue.js"></script>
  <script src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>
  <link rel="stylesheet" href="./style.css"/>
</head>
<body>
  <script>
    Vue.use(antd);
    const ipc = require("electron").ipcRenderer;
    const fs=require('fs')
    const tools = require('../util/util.js').tools
    tools.getWindowArgs(window)
    let settings=require('../../js/util/settings/settings')
  </script>
  <div id="setting" class="flex flex-direction">
    <div class="app-msm flex flex-direction">
      <div class="app-msm-top flex justify-start align-center">
        <a-icon type="appstore" :style="{ fontSize: '18px', color: '#8c8c8c' }"></a-icon>
        <span class="text-black-lg" style="font-weight: 800; margin-left: 10px;">系统应用消息</span>
        <span class="text-grey" style="margin-left: 10px;">自定义应用的消息请在应用设置中开启</span>
      </div>
      <div class="app-sms-bottom flex flex-direction align-center justify-center">
        <div class="asb-title flex justify-between align-center ">
          <span class="text-black" style="margin-left: 10px;">系统应用</span>
          <span class="text-black" style="margin-right: 70px;">允许通知</span>
        </div>
        <div class="asb-content flex flex-direction ">
          <ul>
            <li class="asb-content-tree" v-for="(item, index) in appMessage" :key="index">
              <div class="tree-parent flex justify-between align-center">
                <div class="tree-parent-lf flex justify-start align-center">
                  <span @click="changeTree(index)">
                    <a-icon type="plus-square" v-if="!item.childsShow"></a-icon>
                    <a-icon type="minus-square" v-else></a-icon>
                  </span>
                  <img :src="item.url" style="width: 30px; height: 30px;">
                  <span class="text-black" style="font-weight: 600;">{{item.title}}</span>
                </div>
                <a-switch class="tree-parent-rg" :checked="item.notice" default-checked @change="parentOnChange" :data-index="index"></a-switch>
              </div>
              <div class="tree-child flex flex-direction" v-show="item.childsShow">
                <ul>
                  <li class="flex justify-between align-center" v-for="(child, rindex) in item.childs" :key="rindex">
                    <span class="tree-child-lf text-grey">{{child.title}}</span>
                    <a-switch class="tree-parent-rg" :checked="child.notice" default-checked @change="childOnChange" :data-index="index" :data-rindex="rindex"></a-switch>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="web-sms flex flex-direction">
      <div class="web-sms-top flex justify-start align-center">
        <a-icon type="stop" :style="{ fontSize: '18px', color: '#8c8c8c' }"></a-icon>
        <span class="text-black-lg" style="font-weight: 800; margin-left: 10px;">不接收以下网页消息</span>
      </div>
      <div class="web-sms-bottom flex flex-direction align-center justify-center">
        <div class="wsb-title flex justify-between align-center">
          <span class="text-black" style="margin-left: 10px;">网页</span>
          <span class="text-black" style="margin-right: 70px;">操作</span>
        </div>
        <div class="wsb-content flex flex-direction">
          <ul>
            <li class="flex justify-between align-center" v-for="(item, index) in webMessage" :key="index">
              <span class="text-grey">{{item.link}}</span>
              <a-button type="link" style="margin-right: 50px;" @click="removeWebLink(index)">
                {{item.notice ? '点击后不接受此网页消息' : '移除'}}
              </a-button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="./settingVue.js"></script>
</body>
</html>
