body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: '.SFNSText-Regular', 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #FFFFFF; }

*,
*:before,
*:after {
  box-sizing: inherit; }

#setting {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 20px; }
  #setting .app-msm {
    height: 70%;
    width: 100%; }
    #setting .app-msm .app-msm-top {
      height: 40px; }
    #setting .app-msm .app-sms-bottom {
      height: calc(100% - 40px); }
      #setting .app-msm .app-sms-bottom .asb-title {
        width: 100%;
        height: 50px;
        background-color: #f9f6f6; }
        #setting .app-msm .app-sms-bottom .asb-title span {
          font-weight: 600; }
      #setting .app-msm .app-sms-bottom .asb-content {
        height: calc(100% - 50px);
        width: 100%;
        overflow: auto; }
        #setting .app-msm .app-sms-bottom .asb-content::-webkit-scrollbar {
          width: 6px;
          height: 6px; }
        #setting .app-msm .app-sms-bottom .asb-content::-webkit-scrollbar-track {
          background: #f6f6f6;
          border-radius: 2px; }
        #setting .app-msm .app-sms-bottom .asb-content::-webkit-scrollbar-thumb {
          background: #e9e8e8;
          border-radius: 20px; }
        #setting .app-msm .app-sms-bottom .asb-content::-webkit-scrollbar-thumb:hover {
          background: #747474; }
        #setting .app-msm .app-sms-bottom .asb-content::-webkit-scrollbar-corner {
          background: #f6f6f6; }
        #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-parent {
          height: 50px;
          border-bottom: 2px solid #f9f6f6; }
          #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-parent .tree-parent-lf {
            user-select: none;
            width: 120px; }
            #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-parent .tree-parent-lf :nth-child(1) {
              cursor: pointer; }
            #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-parent .tree-parent-lf > * {
              margin-left: 10px; }
          #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-parent .tree-parent-rg {
            margin-right: 70px; }
        #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-child {
          min-height: 50px;
          margin-bottom: 0px; }
          #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-child li {
            height: 50px;
            border-bottom: 2px solid #f9f6f6; }
            #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-child li .tree-child-lf {
              margin-left: 74px;
              font-weight: 600; }
            #setting .app-msm .app-sms-bottom .asb-content .asb-content-tree .tree-child li .tree-parent-rg {
              margin-right: 70px; }
  #setting .web-sms {
    height: 30%;
    width: 100%; }
    #setting .web-sms .web-sms-top {
      height: 40px; }
    #setting .web-sms .web-sms-bottom {
      height: calc(100% - 40px); }
      #setting .web-sms .web-sms-bottom .wsb-title {
        width: 100%;
        height: 50px;
        background-color: #FAFAFA; }
        #setting .web-sms .web-sms-bottom .wsb-title span {
          font-weight: 600; }
      #setting .web-sms .web-sms-bottom .wsb-content {
        width: 100%;
        height: calc(100% - 50px);
        overflow: auto; }
        #setting .web-sms .web-sms-bottom .wsb-content::-webkit-scrollbar {
          width: 6px;
          height: 6px; }
        #setting .web-sms .web-sms-bottom .wsb-content::-webkit-scrollbar-track {
          background: #f6f6f6;
          border-radius: 2px; }
        #setting .web-sms .web-sms-bottom .wsb-content::-webkit-scrollbar-thumb {
          background: #e9e8e8;
          border-radius: 20px; }
        #setting .web-sms .web-sms-bottom .wsb-content::-webkit-scrollbar-thumb:hover {
          background: #747474; }
        #setting .web-sms .web-sms-bottom .wsb-content::-webkit-scrollbar-corner {
          background: #f6f6f6; }
        #setting .web-sms .web-sms-bottom .wsb-content li {
          width: 100%;
          height: 50px;
          border-bottom: 2px solid #f9f6f6; }
          #setting .web-sms .web-sms-bottom .wsb-content li span {
            margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
