.logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 24px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}


.global-search-wrapper {
	padding-right: 50px;
	text-align: center;
	display: inline-block;
}

.global-search {
	width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
	margin-right: -46px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input:not(:last-child) {
	padding-right: 62px;
}

.global-search.ant-select-auto-complete .ant-input-affix-wrapper .ant-input-suffix button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.global-search-item {
	display: flex;
}

.global-search-item-desc {
	flex: auto;
	text-overflow: ellipsis;
	overflow: hidden;
}

.global-search-item-count {
	flex: none;
}

.app {
	width: 140px;
	text-align: center
}

.ant-modal-header {
	border-bottom: none;
}

.ant-modal-body {
	padding-top: 0;
}

.ant-card-meta-description {
	font-size: 12px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 34px;
	overflow: hidden;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
	border: none;
}

.ant-card {
	background-color: #00000000;
	border: none;
}

.ant-card-head {
	border-bottom: none;
}

.ant-card-grid {
	box-shadow: none;
}

span .ant-tree-title .ant-dropdown-trigger {
  display: block;
  height: 24px;
}




/*添加了壁纸之后的样式,完全不一样了*/

.wall .add-button {
	background-color: #0000007e;
	padding: 8px 15px;
	border-radius: 100px;
	color: white;
}

.wall .add-button:hover {
	background-color: #0000004e;
}

.wall .ant-card-meta-title {
	color: #333;
}

.wall .ant-card-meta-description {
	color: #d4d8d8;
	text-shadow: 0 0 5px #000000;
}

.wall .ant-card-head-title {
	color: white;
	text-shadow: 0 0 5px #000000;
}

.ant-card-grid-hoverable:hover {
	box-shadow: none;
	background-color: #0000002f;
	border-radius: 10px;
}

.wall .ant-empty {
	background: #0000001f;
	width: 450px;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	color: white;
}



.mask {

	z-index: 1000;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 10px;
}

.inner-wrapper {
	position: absolute;
	bottom: 0;
	width: 140px;
}



.ant-page-header-heading {
	overflow: visible !important;
}

.app-goods {
	width: 140px;
	cursor: pointer;
	position: relative;
	border:1px solid white;
	margin: 2px;
}

.added {
	border: 1px dashed #8c8c8c;
	border-radius: 8px;
}
.in-myApps{
	background-color: #00000010;
	border-radius: 8px;
}

.cart-title{
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size:12px;
	overflow: hidden;
	margin-top: 10px;
	height: 35px;
}



.tree-icon{
  width: 1.2em;height: auto
}


.ant-tree-title{
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 200px;
}


/*selecto*/
.selected {
  background-color: #00000010;
  border-radius: 8px;
}
.app{
  margin: 5px;
}

.canDrag{
  border: 1px dashed #ccc;
  border-radius: 2px;
  color: #1E90FF;
}
/*selectoend*/
