.ant-drawer-mask {
  z-index: 9999999;
}
.ant-drawer-content-wrapper,
.ant-drawer-right {
  z-index: 999999999;
}
.ant-modal-title,
.ant-modal-body {
  color: var(--primary-text);
}

.ant-drawer-header,
.ant-modal-header,
.ant-modal-footer,
.ant-drawer-wrapper-body {
  background: var(--modal-bg);
  color: var(--primary-text);

  .text-center {
    color: var(--primary-text);
  }

  .ant-drawer-close {
    background: var(--secondary-bg);
    width: 48px;
    height: 48px;
    font-size: 26px;
    border-radius: 12px;
    color: var(--primary-text);
  }

  .btn,
  .option {
    color: var(--primary-text);
    background: var(--secondary-bg);
  }
}
// 切换按钮
.ant-switch {
  background: var(--active-secondary-bg) !important;
}

.ant-message {
  z-index: 9999999999999999999999 !important;
}
.ant-modal-body {
  background: var(--modal-bg);
}
.ant-btn-primary,
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: transparent !important;
  background: var(--active-bg);
}
.ant-btn-primary:hover {
  opacity: 0.8;
}

.ant-progress-inner {
  background: var(--active-secondary-bg) !important;
}
// 弹出层body开始
.ant-drawer-body {
  -ms-overflow-style: none !important; /* IE 和 Edge */
  scrollbar-width: none !important; /* Firefox */
  overflow: scroll !important; /* 其他浏览器 */
  -webkit-overflow-scrolling: touch !important; /* iOS 滚动效果 */
  scroll-behavior: smooth !important;

  &::-webkit-scrollbar {
    display: none !important; /* Chrome 和 Safari */
  }
}
// 弹出层body结束

.ant-switch-checked {
  background: var(--active-bg) !important;
}
.ant-table-content {
  .ant-table-thead > tr > th {
    background: var(--secondary-bg);
    color: var(--primary-text);
    border-bottom: 1px solid var(--divider);
  }

  .ant-table-tbody > tr > td {
    background: var(--secondary-bg);
    color: var(--primary-text);
    border-bottom: 1px solid var(--divider);
  }

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: var(--main-bg);
  }
}
// 按钮开始
.ant-btn {
  color: var(--primary-text) !important;
}
// 按钮结束
// 进度条开始
.ant-slider-rail {
  background: var(--active-secondary-bg) !important;
}
.ant-slider-track {
  background: var(--active-bg) !important;
}
.ant-drawer .ant-slider-handle {
  background-color: var(--active-bg);
}
// 进度条结束

// 下拉框开始
.ant-select {
  background: var(--secondary-bg);
}
.ant-select-dropdown {
  /* 自定义下拉框样式 */
  background: var(--secondary-bg) !important;
  text-align: center;
  color: var(--primary-text) !important;
}
.ant-select-item {
  color: var(--primary-text);
}
.ant-select-item-option-selected {
  background: var(--active-bg) !important;
}
.ant-select-item-option:hover {
  background: var(--active-secondary-bg);
}
.ant-select-selection-item {
  color: var(--primary-text) !important;
}
// 下拉框结束
.ant-select-selector,
.ant-select-arrow {
  color: var(--primary-text);
}

.ant-tabs-tab {
  color: var(--secondary-text);
  background: var(--primary-bg);
}

.ant-tabs-tab-active {
  .ant-tabs-tab-btn {
    color: var(--primary-text);
  }
}

.ant-modal,
.ant-modal-content {
  //background: var(--modal-bg);
}

.ant-picker-input,
.ant-input-number-input-wrap {
  input {
    color: var(--primary-text) !important;
  }
}

.ant-input,
.ant-radio-wrapper,
.ant-modal-close-x,
.ant-drawer-title {
  color: var(--primary-text);
}

.ant-input {
  &::placeholder {
    color: var(--secondary-text);
  }
}

.round-dot {
  background: var(--primary-text);
}

.ant-picker {
  .ant-picker-suffix {
    color: var(--primary-text);
  }
}

.ant-table-cell > .ant-tag-green {
  background: var(--primary-bg);
}

.ant-empty-description {
  color: var(--primary-text);
}

.ant-modal-body {
  background: var(--modal-bg);
  .ant-modal-confirm-content {
    color: var(--primary-text);
  }
}

.ant-btn-primary {
  background: var(--active-bg);
  &:hover {
    background: var(--active-bg);
  }
}
