// 一些二次封装的类
.xt-active-btn {
  -webkit-app-region: no-drag;
  background: var(--active-bg) !important;
  color: var(--active-text) !important;
  fill: var(--active-text) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  &:active {
    background: var(--active-secondary-bg) !important;
  }
}

.xt-btn {
  -webkit-app-region: no-drag;
  background: var(--secondary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}

.xt-border {
  border: 1px solid var(--divider);
}

/* 隐藏滚动条 */
.xt-container {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
  overflow: scroll; /* 其他浏览器 */
  -webkit-overflow-scrolling: touch; /* iOS 滚动效果 */
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none; /* Chrome 和 Safari */
  }
}

/* 创建一个自定义滚动条 */
.xt-container::-webkit-scrollbar {
  display: none; /* Chrome 和 Safari */
}

.h-48 {
  height: 48px !important;
}

.w-120 {
  width: 120px !important;
}
