.category{
 &-14-400{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: 400
 }
 &-16-400{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  font-weight: 400;
 }

 &-16-500{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  font-weight: 500;
 }

 &-button{
  &:active{
   filter: brightness(0.8);
   opacity: 0.8;
  }
  &:hover{
   opacity: 0.8;
  }
 }
}

.invite{
 &-bg{
  background: var(--secondary-bg);
  border-radius: 12px;
 }
}