body {
 // background: var(--main-bg) !important;
  font-family: "puHuiTi400" !important;
}

.transparent {
  body {
    background: none !important;
    background-color: none !important;
  }
}
/**
* 主题
*/
// 主题背景色
.xt-active-bg {
  background: var(--active-bg) !important;
}
.xt-theme-bg {
  background: var(--active-bg) !important;
}

// 主题次要背景色
.xt-active-bg-2 {
  background: var(--active-secondary-bg) !important;
}
.xt-theme-bg-2 {
  background: var(--active-secondary-bg) !important;
}
// 主题字体色
.xt-active-text {
  color: var(--active-text) !important;
}
.xt-theme-text {
  color: var(--active-bg) !important;
}
.xt-theme-text-2 {
  color: var(--active-secondary-bg) !important;
}

/**
* 字体
*/
// 字体色
.xt-text {
  color: var(--primary-text) !important;
}
// 字体次要色
.xt-text-2 {
  color: var(--secondary-text) !important;
}
// 字体禁用色 处于零使用场景
.xt-text-3 {
  color: var(--disable-text) !important;
}

/**
* 背景
*/
// 主要背景色
.xt-bg {
  background: var(--primary-bg) !important;
}
// 次要背景色
.xt-bg-2 {
  background: var(--secondary-bg) !important;
}

// 弹窗背景色
.xt-modal {
  background: var(--modal-bg) !important;
}

// 弹窗遮罩色
.xt-mask {
  background: var(--mask-bg) !important;
  backdrop-filter: blur(8px);
}
// 应用遮罩色
.xt-mask-2 {
  background: var(--main-mask-bg) !important;
  backdrop-filter: blur(8px);
}

// 次要字体色作为背景色
.xt-text-2-bg {
  background: var(--secondary-text) !important;
}

// 次要透明背景色
.xt-bg-t-2 {
  background: var(--secondary-transp-bg) !important;
}
/**
* 边框
*/
// 旧版本
.xt-border {
  border: 1px solid var(--divider);
}

// 新版本
.xt-b {
  border: 1px solid var(--divider);
}

.xt-theme-b {
  border: 1px solid var(--active-bg);
}

hr {
  border-bottom:1px solid  var(--divider)!important;
  margin: 0 !important;
  margin-bottom: 16px !important;
}
.xt-divider {
  border-bottom:1px solid  var(--divider)!important;
}
/**
* 功能性颜色
*/
// 错误
.error-bg {
  background: var(--error);
}
.error {
  color: var(--error);
}
// 链接
.link-bg {
  background: var(--link);
}
.link {
  color: var(--link);
}
// 成功
.success-bg {
  background: var(--success);
}
.success {
  color: var(--success);
}
// 警告
.warn-bg {
  background: var(--warning);
}
.warn {
  color: var(--warning);
}

// 禁用背景色
.xt-enable-bg {
  background: var(--disable-text) !important;
}
