@font-face {
    font-family: "优设标题黑";
    src: url('./../../font/优设标题黑.ttf');
}
@font-face {
    font-family: "Oswald-SemiBold";
    src: url('./../../font/Oswald-SemiBold.ttf');
}
@font-face {
    font-family: "Oswald-Medium";
    src: url('./../../font/Oswald-Medium.ttf');
}