:root {
  --error: #ff4d4f;
  --link: #508bfe;
  --success: #52c41a;
  --warning: #faad14;
}

.dark-model {
  // 主题
  --active-bg: #508bfe !important;
  --active-secondary-bg: rgba(80, 139, 254, 0.2) !important;
  // 背景
  --main-bg: #303030 !important;
  --primary-bg: rgba(26, 26, 26, 0.65) !important;
  --primary-bg-solid: rgba(26, 26, 26, 1) !important;
  --secondary-bg: #2a2a2a !important;
  --secondary-transp-bg:rgba(0,0,0,0.3) !important;
  --modal-bg: #212121 !important;
  --mask-bg: rgba(0, 0, 0, 0.3) !important;
  --main-mask-bg: rgba(26, 26, 26, 0.65) !important;
  // 文字
  --active-text: #fff !important;
  --primary-text: rgba(255, 255, 255, 0.85) !important;
  --secondary-text: rgba(255, 255, 255, 0.6) !important;
  --disable-text: rgba(255, 255, 255, 0.4) !important;
  // 分割线
  --divider: rgba(255, 255, 255, 0.1) !important;
  --divider-solid: rgb(65, 65, 65) !important;
  // 点击
  --active: rgba(42, 42, 42, 0.6) !important;




}

.light-model {
  // 主题
  --active-bg: #508bfe !important;
  --active-secondary-bg: rgba(80, 139, 254, 0.2) !important;
  // 背景
  --main-bg: rgba(240, 240, 240, 1.55) !important;
  --primary-bg: rgba(255, 255, 255, 0.55) !important;
  --primary-bg-solid: rgba(255, 255, 255, 1) !important;
  --secondary-bg: rgba(230, 230, 230, 1) !important;
  --secondary-transp-bg:rgba(0,0,0,0.1) !important;
  --modal-bg: #ffffff !important;
  --mask-bg: rgba(255, 255, 255, 0.3) !important;
  --main-mask-bg: rgba(255, 255, 255, 0.8) !important;
  // 文字
  --active-text: #fff !important;
  --primary-text: rgba(0, 0, 0, 0.85) !important;
  --secondary-text: rgba(0, 0, 0, 0.65) !important;
  --disable-text: rgba(0, 0, 0, 0.25) !important;
  // 分割线
  --divider: rgba(230, 230, 230, 0.5) !important;
  // 点击
  --active: rgba(235, 235, 235, 0.6) !important;
}

// 下面已经遗弃
.dark-no-model {
  // 主题
  --active-bg: #508bfe !important;
  --active-secondary-bg: rgba(80, 139, 254, 0.2) !important;
  // 背景
  --main-bg: #191919 !important;
  --primary-bg: linear-gradient(
    -64deg,
    #545454 0%,
    #404040 0%,
    #2a2a2a 100%
  ) !important;
  --secondary-bg: #2a2a2a !important;
  --modal-bg: #212121 !important;
  --mask-bg: rgba(0, 0, 0, 0.3) !important;
  --main-mask-bg: rgba(26, 26, 26, 0.65) !important;
  // 文字
  --active-text: #fff !important;
  --primary-text: rgba(255, 255, 255, 0.85) !important;
  --secondary-text: rgba(255, 255, 255, 0.6) !important;
  --disable-text: rgba(255, 255, 255, 0.85) !important;
  // 分割线
  --divider: rgba(255, 255, 255, 0.1) !important;
}
.light-no-model {
  // 主题
  --active-bg: #508bfe !important;
  --active-secondary-bg: rgba(80, 139, 254, 0.2) !important;
  // 背景
  --main-bg: rgba(240, 240, 240, 1.55) !important;
  --primary-bg: rgba(255, 255, 255, 0.55) !important;
  --secondary-bg: #e6e6e6 !important;
  --modal-bg: #ffffff !important;
  --mask-bg: rgba(255, 255, 255, 0.3) !important;
  --main-mask-bg: rgba(255, 255, 255, 0.8) !important;
  // 文字
  --active-text: #fff !important;
  --primary-text: rgba(0, 0, 0, 0.85) !important;
  --secondary-text: rgba(0, 0, 0, 0.65) !important;
  --disable-text: rgba(0, 0, 0, 0.25) !important;
  // 分割线
  --divider: rgba(230, 230, 230, 1.6) !important;
}
