<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>网站名片</title>
  <script src="../../ext/vue/vue.js"></script>
  <script src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>
  <link rel="icon" type="image/svg+xml" href="../../icons/apps.svg"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline'"/>
  <link rel="stylesheet" href="./card.css"/>
</head>
<body>
<div id="appVue">
  <div style="padding:15px">
    <div class="site-info">
      <a-row type="flex">
        <a-col flex="55px">
          <a-avatar shape="square" :size="40" :src="!!!tabData.favicon?'':tabData.favicon.url"></a-avatar>
        </a-col>
        <a-col :flex="3">
          <div class="site-title" :title="siteTitle">
            {{siteTitle}}
          </div>
          <div class="site-url">
           所属网站： {{siteDomain}}
          </div>
        </a-col>
        <a-col :flex="2">
          <div v-if="tabData.secure">
            <a-tag color="#87d068">
              安全
            </a-tag>
          </div>
          <div v-else>
            <a-tag color="#f50">
              不安全
            </a-tag>
          </div>

        </a-col>
      </a-row>
    </div>
    <div>
      <a-tabs
        default-active-key="1"
        tab-position="top"
        :style="{ height: '310px' }"
        @prevClick="callback"
        @nextClick="callback"
      >
        <a-tab-pane key="1">
          <template slot="tab">
            密码管理
            <a-badge :count="pwds.length" :number-style="{ backgroundColor: '#52c41a' }"></a-badge>
          </template>

          <a-table :columns="pwdColumns" :data-source="pwds" size="small">
            <span slot="password" slot-scope="password">
              <span v-if="password.hide">
                ······ <a-icon type="eye" @click="show(password)"></a-icon>
              </span>
              <span v-else>
                {{password.pwd}}
              </span>
            </span>
            <span slot="action" slot-scope="text, record">
      <a>删除  </a>

    </span>
          </a-table>
        </a-tab-pane>
        <a-tab-pane key="3" tab="安全">
          <div v-if="tabData.secure">
            <a-tag color="#87d068">
              安全
            </a-tag>
            <p>
              此站点为安全网站，通过浏览器的基本安全校验。但也建议您不要过度信任网站，您仍然存在一定的安全风险。
            </p>
          </div>
          <div v-else>
            <a-tag color="#f50">
              不安全
            </a-tag>
            <p>
              此网站使用不安全的连接方式。对此，您可能存在信息泄露、被恶意捕捉信息、篡改等安全风险。建议您不要过于信任此网站的内容。
            </p>

          </div>
        </a-tab-pane>
      </a-tabs>
    </div>

  </div>

</div>
<style>
  .site-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    list-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 250px;
  }

  .site-url {
    color: #999;
    list-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
    font-size: 12px;
  }
</style>
</body>
<script>

  Vue.use(antd)
  const electron = require('electron')
  const ipc = electron.ipcRenderer
  let tools = require('../util/util.js').tools
  const appVue = new Vue({
    el: '#appVue',
    data () {
      return {
        siteUrl: '',
        siteTitle: '',
        tabData: {},
        pwds: [],
        //tab
        tabs: [
          {
            title: '密码管理',
            key: 1
          },
          {
            title: '导航',
            key: 2
          }, {
            title: '安全',
            key: 3
          }
        ],
        pwdColumns: [

          {
            title: '标题',
            dataIndex: 'title',
            width:'100px'
          },{
            title: '账号',
            dataIndex: 'username',
            width:'100px'
          },

          {
            title: '密码',
            dataIndex: 'password',
            width:'120px',
            scopedSlots: { customRender: 'password' }
          },
          {
            title: '操作',
            key: 'action',
            width:'100px',
            scopedSlots: { customRender: 'action' },
          }
          //,
          // {
          //   title: 'Address',
          //   dataIndex: 'address',
          // }
        ]
      }
    },
    computed:{
      siteDomain(){
        return tools.getDomainFromUrl(this.siteUrl)
      }
    },
    mounted () {
      tools.getWindowArgs(window)
      const passwordModel = require('../util/model/passwordModel')
      this.siteUrl = window.globalArgs['site-url']
      this.siteTitle = window.globalArgs['site-title']
      this.tabData = JSON.parse(decodeURIComponent(window.globalArgs['tab-data']))
      passwordModel.getSiteCredit(this.tabData.url).then((result) => {
        appVue.pwds = result
        appVue.pwds.forEach((pwd)=>{
          pwd.password={
            hide:true,
            pwd:pwd.password
          }
        })
      })

    },
    methods: {
      callback (val) {
        console.log(val)
      },
      show(password){
        password.hide=false
      }
    }
  })
</script>
</html>
