.content-small {
  height: 100px;
}
.box-title{
  background-color: #252525;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  line-height: 35px;
  //background-color: #171717
}

.box-icon {
  svg{
    path{
      fill: #F5F5F5;
    }
  }
  color: #F5F5F5;
  font-size: 22px;
}
.box-content{
  color: white;
  padding: 10px;
  font-size: 12px;
  height: 100px;
  background-color: #252525;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text-more {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-button{
&:hover{
  opacity: 0.8;
}
  color:white !important;
}
