.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	top: 0;
	border-right: 1px solid #D7D7D7;
	border-radius: 0px 0px 0px 10px;
	width: 46px;
	background: white;
}



.sidebar .side-items {
	bottom: 0;
	overflow-x: hidden;
}

.sidebar .side-items ul li {
	cursor: pointer;
}

.sidebar .side-items ul li:hover {
	background-color: #efefef;
}

.sidebar .side-container .side-items .app-task .icon {
	width: 25px;
	height: 25px;
}

.sidebar .side-items .app-items {
	width: 62px;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-bottom: 0;
	overflow-x: hidden;
}

.side-container .side-items {
	flex-direction: column;
	display: flex;
	left: 0;
	/* height: 100vh; */
	width: 45px;
	top: 0;
	position: fixed;
}

.sidebar .app-box {
	overflow: hidden;
	width: 45px;
	flex: 1;
	position: relative;
}

.sidebar .active {
	border-left: #1B74BB solid 3px;
	background-color: #efefef;
}

.dragClass {
	background-color: blueviolet !important;
	opacity: 1 !important;
	box-shadow: none !important;
	outline: none !important;
	background-image: none !important;
}

.side-items .item:hover {
	background-color: #fdfdfd;
	cursor: move;
}

.tab-icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.tab-title {
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px;
	border-radius: 4px;
}

.tab-title:hover {
	background-color: #efefef;
}

.wrapper {
	width: 42px;
	height: 42px;
	display: flex;
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
}

/* 底部栏的样式 */

.bottomBar li {
	width: 45px;
	height: 45px;
	display: flex;
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.bottom-container {
	position: fixed;
	bottom: 0;
	width: 45px;
}
