.mg-content {
  max-height: calc( 100vh - 375px);
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  .mg-content-btn {
    margin-top: 6px;
    height: 46px;
    position: relative;
    width: 100%;
    border: 1px solid rgb(226, 221, 221);
    border-radius: 8px;
    &:hover {
      border: 1px solid #1890ff;
      cursor: pointer;
    }
    .cb-lf {
      z-index: 1;
      width: 50px;
      height: 100%;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      //background:center, no-repeat;
    }
    .cb-rg {
      margin-left: 10px;
      width: 100%;
      img {
        z-index: 2;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background-color: whitesmoke
      }
      div {
        margin-left: 10px;
        text-align:left !important;
        font-weight: 500;
        color: #353535;
        z-index: 2;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;

        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
}
