<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>侧边栏</title>
  <link rel="stylesheet" href="../../ext/flex-class.css"/>
  <script src="../../ext/vue/vue.js"></script>
  <script src="../../ext/vue/vuex.js"></script>
  <script src="../../ext/vue/sortable.min.js"></script>
  <script src="../../ext/vue/vuedraggable.umd.min.js"></script>
  <script src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>
  <link rel="stylesheet" href="css/sidebar.css"/>
</head>
<body>
<script>
  function mousenter (target) {
    if (appVue.mod==='auto') {
      target.setAttribute('class', 'sidebar expanded')
      document.getElementById('clickThroughElement').style.left = '155px'
    }
  }

  function mouseleave (target) {
    //
    // if(appVue.$refs.sidePanel.isPopoverShowing===false){
    //   target.setAttribute('class', 'sidebar')
    //   document.getElementById('clickThroughElement').style.left = '46px'
    // }
  }

  //对clickThrough区域进行穿透设置，这样鼠标移动到clickThroug的区域就会自动穿透
  function setMainWindow (e) {
    if (appVue.$refs.sidePanel.userPanelVisible === true) {
    } else {
      ipc.send('setMouseIgnore')
    }
  }

  function clickThroughMove () {
    setMainWindow()
    if (appVue.$refs.sidePanel.isPopoverShowing === false && document.getElementById('clickThroughElement').offsetLeft === 155 && appVue.mod==='auto') {
      setTimeout(function () {
        document.getElementById('clickThroughElement').style.left = '55px'
        document.getElementById('appVue').setAttribute('class', 'sidebar')
      }, 200)
    }
  }

  function clickThroughClick () {
    appVue.$refs.sidePanel.userPanelVisible = false
    setMainWindow()
  }
</script>
<div id="appVue" :class="{'sidebar':true,'expanded':this.mod==='open'}" onmouseenter="mousenter(this)"
     onmouseleave="mouseleave(this)">
  <sidebar ref="sidePanel"/>
</div>
<div
  id="clickThroughElement"
  onclick="clickThroughClick()"
  onmousemove="clickThroughMove()"
  style="background-color: #00000000; height: 100vh; position: absolute; left: 46px; width: calc(100% - 46px)"
></div>

<template id="sidebarTpl">
  <div id="sidebar" class="side-container">
    <div id="itemsEl" class="side-items">
      <ul id="pinGroup" class="app-task" style="margin-bottom: 0; overflow: hidden">
        <li @click="toggleUserPanel" class="" style="position: relative; background-color: rgb(243 243 243)">
          <template>
            <a-drawer class="user-panel"
                      @mousemove="setSidePanel()"
                      :width="300"
                      :visible="userPanelVisible"
                      @close="toggleUserPanel"
                      :mask="false"
                      placement="left"
            >
              <template slot="title">
                <span v-if="user.uid==0"> 登录帐号免费体验完整功能 </span>
              </template>
              <div v-if="user.uid===0">
                <a-button @click="userClick" type="primary" block>登录帐号</a-button>
                <br/><br/>
                1.跨设备、跨终端同步我的应用和标签组设置<br/>
                2.支持多个空间任意切换<br/>
                3.与其他用户在线交流、反馈产品使用建议<br/>
                4.开启更多高级功能<br/>
                &nbsp;①.团队功能，与团队成员共享收藏<br/>
                &nbsp;②.企业社区，支持私密社区，供团队内成员交流<br/>
                &nbsp;③.全网热议，支持任意网站与其他用户在线沟通
              </div>
              <div v-if="user.uid!==0">
                <template>
                  <div style="position: relative">
                    <div style="text-align: left">
                      <a-row>
                        <a-col :span="8">
                          <a-avatar
                            style="cursor: pointer"
                            @click="userClick"
                            :size="60"
                            :src="user.avatar"
                          ></a-avatar>
                        </a-col>
                        <a-col :span="12">
                          <a class="nick-name" @click="userClick">{{ user.nickname }}</a>
                        </a-col>
                      </a-row>
                    </div>
                    <div style="margin-bottom: 10px">
                      <template>
                        <a-row class="actions">

                          <a-col @click="goProfile"
                                 class="action" :span="8">
                            <a-tooltip title="个人资料">
                              <a-icon style="font-size: 24px" type="profile"></a-icon>
                              <div>资料</div>
                            </a-tooltip>
                          </a-col>
                          <a-col @click="goGroup" class="action" :span="8">
                            <a-tooltip title="团队">
                              <a-icon style="font-size: 24px" type="team"></a-icon>
                              <div>团队</div>
                            </a-tooltip>
                          </a-col>
                          <a-col @click="goAccount" class="action" :span="6">
                            <a-tooltip title="帐号管理">
                              <a-icon style="font-size: 24px" type="idcard"></a-icon>
                              <div>帐号</div>
                            </a-tooltip>
                          </a-col>
                          <!--                              <a-col  class="action" :span="8">-->

                          <!--                              </a-col>-->
                        </a-row>
                      </template>
                    </div>
                    <div class="my-group">
                      <template>
                        <div class="mg-top flex justify-between align-center">
                          <div class="mg-top-lf">我加入的团队({{this.$store.getters.getMyGroups.length}})</div>
                          <a-button class="mg-top-right" type="primary" icon="plus" size="small" @click="createGroup"/>
                        </div>
                        <div class="mg-content">
                          <div class="mg-content-btn flex align-center"
                               v-for="(item, index) in this.$store.getters.getMyGroups" :key="item.id">
                            <!--                                <img class="cb-lf" src="http://comad.thisky.com/public/uploads/attach/2021/11/10/618bdd4e3e629.jpeg" alt="">-->
                            <div class="cb-rg flex align-center">
                              <img :src="item.logo" alt="">
                              <div>{{item.name}}</div>
                            </div>
                          </div>
                        </div>
                      </template>
                    </div>
                    <!--                        <a-dropdown>-->
                    <!--                          <a-menu slot="overlay">-->
                    <!--&lt;!&ndash;                            <a-menu-item v-for="(item,key) in accounts" :key="key">&ndash;&gt;-->
                    <!--&lt;!&ndash;                              <a-avatar shap="circle" size="small" :src="item.avatar"></a-avatar>&ndash;&gt;-->
                    <!--&lt;!&ndash;                              &nbsp;{{ item.nickname}}&ndash;&gt;-->
                    <!--&lt;!&ndash;                            </a-menu-item>&ndash;&gt;-->
                    <!--                            <a-menu-item @click="switchAccount">-->
                    <!--                              <a-icon style="margin-left: 5px" shap="circle" type="plus-circle"></a-icon>-->
                    <!--                              &nbsp;绑定新帐号-->
                    <!--                            </a-menu-item>-->
                    <!--                          </a-menu>-->

                    <!--                          <a-button shape="circle" size="small" style="position: absolute; right: 10px; top:10px">-->
                    <!--                            <a-icon type="down"></a-icon>-->
                    <!--                          </a-button>-->
                    <!--                        </a-dropdown>-->
                  </div>
                  <div>
                    <div style="position: absolute; bottom: 10px; width: 250px">
                      <a-button @click="logout" block>
                        <a-icon type="poweroff"></a-icon>
                        注销
                      </a-button>
                    </div>
                  </div>
                </template>
              </div>
            </a-drawer>
          </template>
          <a-popover @visible-change="changePopoverVisible" placement="right" :mouse-enter-delay="0.3"
                     overlay-class-name="tips">
            <template slot="title">
              <span v-if="user.uid==0"> 登录帐号免费体验完整功能 </span>
              <span v-else> {{ user.nickname }} </span>
            </template>

            <template slot="content">
              <div v-if="user.uid===0">
                1.跨设备、跨终端同步我的应用和标签组设置<br/>
                2.支持多个空间任意切换<br/>
                3.与其他用户在线交流、反馈产品使用建议<br/>
                4.开启更多高级功能<br/>
                &nbsp;①.团队功能，与团队成员共享收藏<br/>
                &nbsp;②.企业社区，支持私密社区，供团队内成员交流<br/>
                &nbsp;③.全网热议，支持任意网站与其他用户在线沟通
              </div>
              <div v-if="user.uid!==0">用户信息</div>
            </template>
            <div @contextmenu="toggleUserPanel()" class="wrapper" block>
              <div class="processing"></div>
              <div class="item-icon">
                <a-avatar
                  v-if="user.uid!==0"
                  style="border: 1px solid #cfcfcf; background-color: white"
                  class="icon"
                  :src="user.avatar"
                ></a-avatar>
                <a-avatar
                  v-if="user.uid===0"
                  style="border: 1px solid #cfcfcf; background-color: white; color: #aaa"
                  class="icon"
                  src="../../icons/user.svg"
                ></a-avatar>
                <!-- <a-badge :count="0" :dot="true" status="processing"
                                :style="{position: 'absolute',right:  '-2px',top:'-13px'}" />
                            </a-badge> -->
              </div>
              <div class="item-title">{{ user.nickname }}</div>
            </div>
          </a-popover>
        </li>
        <li>
          <app-manager></app-manager>
        </li>
        <li v-for="app in apps" @click="executeApp(app)" @mouseenter="hoverApp($event,app)">
          <a-popover  placement="right" :mouse-enter-delay="0.3"
                     overlay-class-name="tips"  @visible-change="">
            <template slot="title">
              <span> {{app.name}} </span>
            </template>
            <template slot="content" v-if="app.processing">
              <div class="app-capture">
                <img  :src="'file://'+app.capture" onerror="this.src='../../icons/svg/empty.svg'">
              </div>
            </template>
            <template slot="content" v-else>
              {{app.summary}}
            </template>
          <div class="wrapper" >
            <div v-if="app.processing" class="processing"></div>
            <div class="item-icon">
              <img class="icon sa-app" :style="app.processing? {'border-color':app.userThemeColor!==''?app.userThemeColor:app.themeColor}:{}" :src="app.logo"/>
              <a-badge
                :count="app.unreadCount"
                :dot="true"
                :style="{position: 'absolute',right:  '-2px',top:'-13px',visibility:'visible'}"
              >
              </a-badge>
            </div>
            <div class="item-title">{{app.name}}</div>
          </div>
          </a-popover>
        </li>

        <li
          @click="openGroup()"
          style="position: relative"
        >
          <!--              <a-popover-->
          <!--                title="团队协作"-->
          <!--                placement="right"-->
          <!--                :mouse-enter-delay="0.1"-->
          <!--                :mouse-leave-delay="0.1"-->
          <!--                :destroy-tooltip-on-hide="true"-->
          <!--                overlay-class-name="tips">-->
          <!--                <template slot="content">-->

          <!--                </template>-->
          <div class="wrapper" @dblclick.stop="closeItem(item)">
            <div class="item-icon ">
              <img class="icon" style="border-color:#0788c0" src="../../icons/svg/chat.svg"/>
              <a-badge
                count="0"
                :dot="true"
                :style="{position: 'absolute',right:  '-2px',top:'-13px',visibility:'visible'}"
              >
              </a-badge>
            </div>
            <div class="item-title">团队协作</div>
          </div>
          <!--              </a-popover>-->
        </li>
        <li
          @click="openCom()"
          style="position: relative"
        >
          <!--              <a-popover-->
          <!--                title="团队协作"-->
          <!--                placement="right"-->
          <!--                :mouse-enter-delay="0.1"-->
          <!--                :mouse-leave-delay="0.1"-->
          <!--                :destroy-tooltip-on-hide="true"-->
          <!--                overlay-class-name="tips">-->
          <!--                <template slot="content">-->

          <!--                </template>-->
          <div class="wrapper" @dblclick.stop="closeItem(item)">
            <div class="item-icon">
              <img class="icon" style="border-color:#12a900" src="../../icons/svg/com.svg"/>
              <a-badge
                count="0"
                :dot="true"
                :style="{position: 'absolute',right:  '-2px',top:'-13px',visibility:'visible'}"
              >
              </a-badge>
            </div>
            <div class="item-title">效率社区</div>
          </div>
          <!--              </a-popover>-->
        </li>
        <draggable
          v-model="getPinItems"
          group="sideBtn"
          animation="300"
          dragClass="dragClass"
          ghostClass="ghostClass"
          chosenClass="chosenClass"
          @start="onStart"
          @end="onEnd"
        >
          <transition-group>
            <li
              v-for="(item,i) in this.$store.getters.getPinItems"
              :key="item.id"
              @click="openPinItem(item.id,i)"
              :class="isActive(item.id)"
              style="position: relative"
              :item-id="item.id"
            >
              <a-popover
                :title="item.count>5?item.title+' -- 高负载（5+）':item.title"
                placement="right"
                :mouse-enter-delay="0.1"
                :mouse-leave-delay="0.2"
                :destroy-tooltip-on-hide="true"
                overlay-class-name="tips"
              >
                <template slot="content">
                  <ul class="tabs">
                    <li class="tab-title" v-for="(tab,j) in item.tabs" :key="tab.id">
                      <img class="tab-icon" :src="tab.icon"/> {{ tab.title }}
                    </li>
                  </ul>
                </template>
                <div class="wrapper" @dblclick.stop="closeItem(item)">
                  <div class="item-icon">
                    <img class="icon" :src="item.icon"/>
                    <a-badge
                      :count="item.count"
                      :dot="true"
                      status="processing"
                      :style="{position: 'absolute',right:  '-2px',top:'-13px',visibility:item.count>5?'visible':'hidden'}"
                    >
                    </a-badge>
                  </div>

                  <div class="item-title">{{ item.title }}</div>
                </div>
              </a-popover>
            </li>
          </transition-group>
        </draggable>
      </ul>

      <div class="divider"></div>

      <div class="app-box">
        <ul id="appGroup" style="user-select: none" class="app-task app-items" @dblclick.prevent="addNewTask">
          <draggable
            v-model="getItems"
            group="sideBtn"
            animation="300"
            dragClass="dragClass"
            ghostClass="ghostClass"
            chosenClass="chosenClass"
            @start="onStart"
            @end="onEnd"
          >
            <transition-group>
              <li
                @click="openItem(item.id,i)"
                @dblclick.stop=""
                v-for="(item,i) in this.$store.getters.getItems"
                :key="item.id"
                :visible="item.count>1"
                data-role="task"
                :class="isActive(item.id)"
                :item-id="item.id"
                style="position: relative"
              >
                <a-popover
                  placement="right"
                  :mouse-enter-delay="0.1"
                  :mouse-leave-delay="0.2"
                  :destroy-tooltip-on-hide="true"
                  overlay-class-name="tips"
                >
                  <div slot="title">
                    <span @click.stop="editTaskName(item)"  class="task-title"><span class="text" :id="'taskTitle'+item.id">{{ item.count > 5 ? item.title + ' -- 高负载（5+）' : item.title }}
                     </span>
                      <a-icon :id="'editTip'+item.id" class="edit-tip" type="edit"></a-icon>
                      <a-input @blur="editTaskNameBlur(item)" hidden :id="'taskTitleInput'+item.id" size="small" @keypress.enter="editTaskNameKeyPress($event)" :default-value="item.title"></a-input> </span>
                    <span  style="float: right;cursor: pointer" @click="closeItem(item)">
                         <a-icon title="删除标签组"
                                 type="close-circle"></a-icon>
                        </span>
                  </div>
                  <template slot="content">
                    <div style="text-align: right">
                      <span class="action" size="small" title="锁定当前标签组内全部标签" @click="lockTask(item.id)"><a-icon
                                    type="lock"></a-icon>锁定</span>
                      <span class="action"  size="small" title="清理组内全部未锁定标签" @click="clearTaskUnlock(item)">
                        <a-icon
                                type="delete"></a-icon>清理
                      </span>
                    </div>
                    <ul class="tabs" style="margin-top: 5px">
                      <li style="position:relative;" @mouseenter="showHoverLock(tab)" @mouseleave="hideHoverLock(tab)" v-for="(tab,j) in item.tabs" :key="tab.id">
                        <div class="tab-title" @click="openPopoverTab(item.id, tab.id)">
                          <img class="tab-icon" :src="tab.icon" onerror="this.src='../../icons/default.svg'"/>&nbsp;{{ tab.title }}
                        </div>
                        <span @click="toggleLockTab(tab.id,item.id)" :id="'hoverLock'+tab.id" :hidden="tab.lock!==true" title="锁定当前标签；锁定后，标签将无法随意关闭" class="unlock-tab" ><a-icon
                        type="lock"></a-icon></span>
                      </li>
                    </ul>
                  </template>
                  <div class="wrapper">
                    <div class="item-icon">
                      <img class="icon" :src="item.icon" onerror="this.src='../../icons/default.svg'"/>
                      <a-badge
                        :count="item.count"
                        :dot="true"
                        status="processing"
                        :style="{position: 'absolute',right:  '-2px',top:'-13px',visibility:item.count>5?'visible':'hidden'}"
                      >
                      </a-badge>
                    </div>
                    <div class="item-title">{{ item.title }}</div>
                  </div>
                </a-popover>
              </li>
            </transition-group>
          </draggable>
        </ul>
      </div>
    </div>
    <div id="bottomsEl" class="bottom-container">
      <ul class="bottomBar">
        <template>
          <div>
            <a-collapse
              default-active-key="0"
              :active-key="sidebarBottom"
              :bordered="false"
              @change="changeBottomSize"
            >
              <a-collapse-panel key="1">
                <li @click="openBottom('help')">
                  <a-button type="default" shape="circle" icon="question-circle"></a-button>
                  <div class="item-title">帮助中心</div>
                </li>
                <li @click="openBottom('setting')">
                  <a-button type="default" shape="circle" icon="setting"></a-button>
                  <div class="item-title">偏好设置</div>
                </li>
              </a-collapse-panel>
            </a-collapse>
          </div>
        </template>

        <li @click="openBottom('home')">
          <a-button type="default" shape="circle" style="border: none">
            <a-avatar src="../../icons/svg/apps.svg"></a-avatar>
          </a-button>
          <div class="item-title">网站导航</div>
        </li>
      </ul>
    </div>
  </div>
</template>
</body>
<script src="./sidebarComp.js"></script>
<script src="./sidebar.js"></script>
<script src="./comp/app-manager.js"></script>
<style>
  .tabs,
  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }

  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none;
  }

  .tabs,
  .sidebar ul {
    margin-bottom: 0;
  }
</style>
</html>
