.category{
 &-button{
  &:active{
   filter: brightness(0.8);
   opacity: 0.8;
  }
  &:hover{
   opacity: 0.8;
  }
 }
 &-bg{
  background: var(--secondary-bg);
 }
}

.invite{
 &-bg{
  background: var(--secondary-bg);
  border-radius: 12px;
 }
}

.font{
 &-14{
  font-size: 14px;
 }
 &-16{
  font-size: 16px;
 }
 &-12{
  font-size: 12px;
 }
 &-18{
  font-size: 18px;
 }

 &-400{
  font-weight: 400;
 }
 &-500{
  font-weight: 500;
 }

 &-600{
  font-weight: 600;
 }
}