.category{
 &-button{
  &:active{
   filter: brightness(0.8);
   opacity: 0.8;
  }
  &:hover{
   opacity: 0.8;
  }
 }
 &-bg{
  background: var(--secondary-bg);
 }
}

.invite{
 &-bg{
  background: var(--secondary-bg);
  border-radius: 12px;
 }
}

.font{
 &-14{
  font-size: 14px !important;
 }
 &-16{
  font-size: 16px !important;
 }
 &-12{
  font-size: 12px !important;
 }
 &-18{
  font-size: 18px !important;
 }

 &-19{
  font-size: 19px !important;
 }

 &-400{
  font-weight: 400 !important;
 }
 &-500{
  font-weight: 500 !important;
 }

 &-600{
  font-weight: 600 !important;
 }
}