// 默认主题颜色
:root {
    --font-color: #fff; // 主字体颜色 使用在
    --background-color: rgb(26, 26, 26, 0.65); // 主背景颜色
    --no-active-font-color: rgb(26, 26, 26, 0.65); // 未选中字体颜色
    --no-active-background-color: rgb(26, 26, 26, 0.65); // 未选中背景颜色

    .active {
        color: #fff; // 选择字体颜色
        background: rgba(0, 0, 0, 0.3); // 选择背景颜色
    }
}

// 白天主题颜色
.light-mode {
    --font-color: #000 !important;
    --background-color: rgba(204, 204, 204, 0.75);
    --no-active-background-color: #A6A9AE;
    --no-active-font-color: #000;

    .active {
        background: #fff;
        color: #000 !important;
    }
}

.light-nobg-mode {
    --font-color: #000 !important;

    --background-color: rgba(240 240 240);
    --no-active-background-color: rgba(0, 0, 0, 0.10);
    --no-active-font-color: #000;

    body {
        background: rgba(229 229 229) !important;
    }
}

.dark-nobg-mode {
    --font-color: #fff !important;

    --background-color: linear-gradient(-33deg, #545454 100%, #404040 100%, #2A2A2A 100%) !important;
    --no-active-background-color: rgba(63 63 63);

    body {
        background: rgba(25, 25, 25) !important;
    }
}