// 默认主题颜色
:root {
    --font-color: #fff;
    --background-color: rgb(26, 26, 26, 0.65);
    --no-active-background-color: rgb(26, 26, 26, 0.65);

    .active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
    }
}

// 白天主题颜色
.light-mode {
    --font-color: #000 !important;
    --background-color: rgba(204, 204, 204, 0.75);
    --active-background-color: #fff;

    --active-font-color: #000;
    --no-active-background-color: #A6A9AE;
    --no-active-font-color: #000;



    .active {
        background: #fff;
        color: #000 !important;
    }
}

.light-nobg-mode {
    --background-color: rgba(240 240 240);

    body {
        background: rgba(229 229 229) !important;
    }
}