.card{
  &.auto-height{
    height: auto;
  }
  &.half{
  }
  border-radius: 8px;
  background: rgba(183, 183, 183, 0.63);
  vertical-align: text-top;
  width:280px;
  min-width: 280px;
  display: inline-block;
  padding: 1em;
  .title{
    font-size: 2em;
  }
  .sub-card{
    text-align: center;
    background: #3b3b3b;
    padding: 1em;
    border-radius: .3em;
    font-size:1.2em;
  }
}

.card-wrapper{
  width: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  vertical-align: middle;
  height: calc(100vh - 11em);
  display: flex;
  align-items: center;
}

