@import url(../../../node_modules/ant-design-vue/dist/antd.dark.css);
.gradient--0 {
  --gradient-start: #6DE195;
  --gradient-start-text: '#6DE195';
  --gradient-end: #C4E759;
  --gradient-end-text: '#C4E759'; }

.gradient--1 {
  --gradient-start: #41C7AF;
  --gradient-start-text: '#41C7AF';
  --gradient-end: #54E38E;
  --gradient-end-text: '#54E38E'; }

.gradient--2 {
  --gradient-start: #99E5A2;
  --gradient-start-text: '#99E5A2';
  --gradient-end: #D4FC78;
  --gradient-end-text: '#D4FC78'; }

.gradient--3 {
  --gradient-start: #ABC7FF;
  --gradient-start-text: '#ABC7FF';
  --gradient-end: #C1E3FF;
  --gradient-end-text: '#C1E3FF'; }

.gradient--4 {
  --gradient-start: #6CACFF;
  --gradient-start-text: '#6CACFF';
  --gradient-end: #8DEBFF;
  --gradient-end-text: '#8DEBFF'; }

.gradient--5 {
  --gradient-start: #5583EE;
  --gradient-start-text: '#5583EE';
  --gradient-end: #41D8DD;
  --gradient-end-text: '#41D8DD'; }

.gradient--6 {
  --gradient-start: #A16BFE;
  --gradient-start-text: '#A16BFE';
  --gradient-end: #DEB0DF;
  --gradient-end-text: '#DEB0DF'; }

.gradient--7 {
  --gradient-start: #D279EE;
  --gradient-start-text: '#D279EE';
  --gradient-end: #F8C390;
  --gradient-end-text: '#F8C390'; }

.gradient--8 {
  --gradient-start: #F78FAD;
  --gradient-start-text: '#F78FAD';
  --gradient-end: #FDEB82;
  --gradient-end-text: '#FDEB82'; }

.gradient--9 {
  --gradient-start: #BC3D2F;
  --gradient-start-text: '#BC3D2F';
  --gradient-end: #A16BFE;
  --gradient-end-text: '#A16BFE'; }

.gradient--10 {
  --gradient-start: #A43AB2;
  --gradient-start-text: '#A43AB2';
  --gradient-end: #E13680;
  --gradient-end-text: '#E13680'; }

.gradient--11 {
  --gradient-start: #9D2E7D;
  --gradient-start-text: '#9D2E7D';
  --gradient-end: #E16E93;
  --gradient-end-text: '#E16E93'; }

.gradient--12 {
  --gradient-start: #F5CCF6;
  --gradient-start-text: '#F5CCF6';
  --gradient-end: #F1EEF9;
  --gradient-end-text: '#F1EEF9'; }

.gradient--13 {
  --gradient-start: #F0EFF0;
  --gradient-start-text: '#F0EFF0';
  --gradient-end: #FAF8F9;
  --gradient-end-text: '#FAF8F9'; }

.gradient--14 {
  --gradient-start: rgb(51,51,51,0.8);
  --gradient-start-text: '#121317';
  --gradient-end:rgb(33,33,33,0.8);
  --gradient-end-text: '#323B42';
  backdrop-filter: blur(8px);
}

.gradient {
  display: inline-block;
  background: linear-gradient(-33deg, var(--gradient-start), var(--gradient-end));
  box-shadow: 0 0 5px #0002; }

.card {
  border-radius: 8px;
  vertical-align: text-top;
  width: 280px;
  min-width: 280px;
  display: inline-block;
  padding: 1em; }
  .card:hover .right-title {
    display: inline-block; }
  .card .right-title {
    display: none; }
  .card .right-title {
    position: absolute;
    top: 1em;
    right: 1em; }
  .card .no-title .title-icon {
    width: 24px;
    height: 24px;
    color: #818181; }
  .card .content-title {
    font-size: 16px;
    display: flex;
    justify-content: space-between; }
    .card .content-title .left-title {
      display: flex;
      width: 35%;
      align-items: center; }
      .card .content-title .left-title .title-icon {
        width: 24px;
        height: 24px; }
      .card .content-title .left-title :last-child {
        margin-left: .5em; }
  .card .content {
    position: relative;
    text-align: center; }
    .card .content .title-icon {
      position: absolute;
      right: 1em; }
  .card.auto-height {
    height: auto; }
  .card.add-list {
    width: 476px;
    height: 520px;
    margin-left: 17px;
    margin-bottom: 17px;
    border-radius: 12px;
    background: rgba(33, 33, 33, 0.6) !important; }
  .card .title {
    font-size: 2em; }
  .card .sub-card {
    text-align: center;
    padding: 1em;
  border-radius: .3em;
    font-size: 1.2em; }

.card-wrapper {
  width: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  vertical-align: middle;
  display: flex;
  align-items: center; }

.option {
  background: #161616;
  width: 8em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  margin-left: 1.8em;
  cursor: pointer; }
  .option .icon {
    width: 3em;
    height: 3em;
    vertical-align: middle; }

.ant-picker-dropdown, .ant-drawer-content-wrapper {
  -webkit-app-region: no-drag; }

.ant-drawer-close {
  background: #333;
  border-radius: 4px;
  padding: 10px 10px; }

.lg .ant-modal-body {
  font-size: 3em; }
  .lg .ant-modal-body svg {
    font-size: 2em; }
  .lg .ant-modal-body .ant-modal-confirm-content {
    font-size: 0.5em; }
  .lg .ant-modal-body .ant-btn {
    font-size: 16px;
    height: auto;
    line-height: 1.5;
    margin-right: 20px;
    border-width: 3px;
    border-radius: 4px; }
.lg .ant-slider-dot {
  top: 0; }

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background: rgba(62, 62, 62, 0.29) !important; }

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y, .ps__thumb-x {
  background: #5d5d5d !important; }

.ps__rail-y, .ps__rail-x {
  border-radius: 400px;
  z-index: 99; }

.dark {
  color: #b7b7b7; }
  .dark .key-button {
    border: 1px solid #3a3a3a;
    color: #8d8d8d;
    background: linear-gradient(to right, #494949, #444444, #444444); }
  .dark .bottom-panel .icon {
    fill: #797979; }
  .dark .bottom-panel .item:hover .icon {
    fill: #bbbbbb !important; }
  .dark .side-panel .icon {
    fill: #6e6e6e; }
  .dark .common-panel .item:hover {
  background: #a6a6a6;}
        .dark .common-panel .item:hover .icon {
          fill: #333; }
      .dark .common-panel .item.active {
        background: #888888; }
        .dark .common-panel .item.active .icon {
          fill: #333; }
  .dark .input-box {
    border-color: #3a3a39 !important;
    border-width: 0.15em !important;
    color: #7a7a7a; }

.text-icon {
  width: 80px;
  height: 80px;
  background: #0a84ff;
  color: white;
  padding: 0.2em;
  text-align: center;
  border-radius: 0.2em;
  overflow: hidden;
  word-break: break-all;
  white-space: pre-wrap;
  justify-content: center;
  display: flex;
  align-items: center; }

.action {
  border-radius: 0.4em;
  border: 1px solid #4f4f4f;
  display: inline-block;
  text-align: center;
  border-left: 4px solid #0a84ff;
  line-height: 2;
  font-size: 1.1em;
  padding: 0.3em 0.8em;
  color: #111111;
  margin-right: 1em;
  margin-bottom: 1em;
  background: #b9b9b9;
  cursor: pointer; }
  .action.active {
    background: white;
    font-weight: bold; }

body {

  background-color: rgb(50, 50, 50);
  overflow: hidden; }

.suspension-background {
  background: var(--suspensiondBackGround, rgba(40, 40, 40, 0.6));
}

.suspension-item {
  background: var(--suspensionItemBackGround, rgba(59, 59, 59, 0.6));
}

.bottom-panel .item {
  background: transparent !important; }

.common-panel {
  list-style: none;
  border-radius: 8px;
  margin: 10px;
  padding-left: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}
  .common-panel .icon {
    display: inline-block;
    width: 2em;
    height: 2em; }

.common-panel .item {
  width: 4em;
  cursor: pointer;
  padding: 10px;
  height: 4em;
  display: inline-block;
  text-align: center;
    border-radius: 6px;
    font-size: 1.2em; }
    .common-panel .item:hover {
      background: #bebebe; }
    .common-panel .item.active {
      background: #b9b9b9; }
  .common-panel .title {
    font-size: 0.6em; }

.card-list-icon {
  width: 20px;
  height: 20px; }

.drag {
  -webkit-app-region: drag; }

.no-drag {
  -webkit-app-region: no-drag; }

.middle-button {
  width: 120px;
  height: 48px;
  border-radius: 12px;
 }

.small-button {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.65); }

.big-button {
  width: 120px;
  height: 56px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.65); }

.home-blur {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px); }

.key-button {
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  display: inline-block;
  height: 1.8em;
  line-height: 1.8em;
  font-size: .8em;
  width: 1.8em;
  background: linear-gradient(to right, #ececec, white, #e5e5e5); }

body {
  user-select: none; }

.round-dot {
  left: 12px;
  top: 25px;
  width: 10px;
  height: 10px;
  opacity: 1;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.85);
}

.main {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

.btn.sm {
  padding: 0.4em 0.8em; }

.btn {
  cursor: pointer;
  padding: 0.8em;
  background: var(--suspensionItemBackGround, rgba(59, 59, 59, 0.6));
  display: inline-block;
  border-radius: 0.5em; }
  .btn:hover, .btn:active {
    background: rgba(0, 0, 0, 0.2);
    color: white; }

.text-btn {
  cursor: pointer;
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.5em; }
  .text-btn:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white; }

.pointer {
  cursor: pointer; }

.playing {
  animation: rotate 30s linear infinite;
  -webkit-animation: rotate 30s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
.text-more {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden; }

.line, .line-title {
  margin-bottom: 1em;
  padding-left: 1em; }

.line-title {
  padding-left: 0em;
  font-size: 1.2em;
  font-weight: bold; }

.back-btn {
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.5em;
  position: absolute;
  left: 2em;
  top: 2em;
  z-index: 999;
  cursor: pointer; }
  .back-btn:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white; }

.fade-enter-active {
  animation: bounce-in .3s; }

.fade-leave-active {
  animation: bounce-in .3s reverse; }

@keyframes bounce-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.grade-tip {
  width: 64px;
  height: 24px;
  border-radius: 0px 12px 0px 12px;
  background: #faad14;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center; }
  .grade-tip.small-tip {
    width: 34px;
    font-size: 10px;
    border-radius: 0px 8px 0px 8px;
    height: 18px; }

.scroll-content::-webkit-scrollbar {
  width: 0 !important; }

.scroll-content {
  -ms-overflow-style: none; }

.scroll-content {
  overflow: -moz-scrollbars-none; }

body {
  background: url("https://cn.bing.com/th?id=OHR.RedSeaStars_ZH-CN6243743747_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-img-blur-light {
  background: rgba(0, 0, 0, var(--backGroundImgLight, 0.3));
  backdrop-filter: blur(var(--backGroundImgBlur, 0px));
}

/*# sourceMappingURL=common.css.map */
