@import "card";
@import "reset";
@import 'dark';
@import "deck";

body{
  background-color: rgb(50, 50, 50);
  overflow: hidden;
}
.bottom-panel{
  .item{
    background: transparent !important;
  }
}
.common-panel {
  list-style: none;
  border-radius: 8px;
  margin: 10px;
  padding-left: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  background: rgba(190, 190, 190, 0.38);

  .icon {
    display: inline-block;
    width: 2em;
    height: 2em;
  }

  .item {
    width: 4em;
    cursor: pointer;
    padding: 10px;
    height: 4em;
    display: inline-block;
    text-align: center;
    background: rgba(201, 201, 201, 0.5);
    border-radius: 6px;
    font-size: 1.2em;
    &:hover {
      background: #bebebe;
    }

    &.active {
      background: #b9b9b9;
    }
  }

  .title {
    font-size: 0.6em;
  }
}
.card-list-icon{
  width: 20px;
  height: 20px;
}
.drag{
  -webkit-app-region:drag
}
.no-drag{
  -webkit-app-region:no-drag
}
.bottom-panel{
  .item{}
}
.middle-button{
  width: 120px;
  height: 48px;
  border-radius: 12px;
  background: rgba(42, 42, 42, 1);
}
.small-button{
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.65);
}
.big-button{
  width: 120px;
  height: 56px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.65);
}
.home-blur{
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
}
.key-button{
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  display: inline-block;
  height: 1.8em;
  line-height: 1.8em;
  font-size: .8em;
  width: 1.8em;
  background: linear-gradient(to right, #ececec,white, #e5e5e5);
}

body{
  user-select: none;
}
.main{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right:0
}
.btn.sm{
  padding: 0.4em 0.8em;
}

.btn{
  cursor: pointer;
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.5em;
  &:hover ,&:active{
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }
}
.text-btn{
  cursor: pointer;
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.5em;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }
}

.pointer{
  cursor: pointer;
}
.playing{
  animation: rotate 30s linear infinite;
  -webkit-animation: rotate 30s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


body.full-screen{

}


.text-more{
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
}


.line,.line-title{
  margin-bottom: 1em;
  padding-left: 1em;
}
.line-title{
  padding-left: 0em;
  font-size: 1.2em;
  font-weight: bold;
}
.back-btn {
  padding: 0.8em;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 0.5em;
  position: absolute;
  left: 2em;
  top: 2em;
  z-index: 999;
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }
}
.fade-enter-active {
  animation: bounce-in .5s;
}
.fade-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.scroll-content::-webkit-scrollbar { width: 0 !important }
.scroll-content { -ms-overflow-style: none; }
.scroll-content { overflow: -moz-scrollbars-none; }
