$backGroundImgBlur: var(--backGroundImgBlur, 0px);
$backGroundImgLight:var(--backGroundImgLight,0.3);
$suspensionBackGround:var(--suspensiondBackGround,rgb(40,40,40,.6));
$suspensionItemBackGround:var(--suspensionItemBackGround,rgb(59,59,59,.6))
