$backGroundImgBlur: var(--backGroundImgBlur, 0px);
$backGroundImgLight:var(--backGroundImgLight,0);
$suspensionBackGround:var(--suspensiondBackGround,rgba(26,26,26,.65));
$suspensionBlur:var(--suspensiondBackGroundBlur,50px);
$suspensionItemBackGround:var(--suspensionItemBackGround, rgba(0,0,0,0.30))
