$backGroundImgBlur: var(--backGroundImgBlur, 0px);
$backGroundImgLight: var(--backGroundImgLight, 0.3);
$suspensionBackGround: var(--suspensiondBackGround, rgba(26, 26, 26, 0.65));
$suspensionBlur: var(--suspensiondBackGround, 50px);
$suspensionItemBackGround: var(--suspensionItemBackGround, rgba(0, 0, 0, 0.30))
