.ant-modal-body{
  svg{
    font-size:2em;

  }
  .ant-modal-confirm-content{
    font-size: 0.5em;
  }
  .ant-btn{
    font-size: 32px;
    height: auto;
    line-height: 1.5;
    margin-right: 20px;
    border-width: 3px;
    border-radius: 4px;
  }

  font-size: 3em;
}
