@import "findinpage";
button{
  -webkit-appearance: none;
  background: none;
  border: none;
  color: inherit;
  outline: none;
}

body.mac #titleBar{
  width: calc(100vw - 65px);
  margin-left: 65px;
}
body.mac #title{
  margin-left: -120px;
}
#titleBar{
  -webkit-app-region: drag;
}
/* Windows caption buttions */
body {
  --control-space-top: 0px;
  --control-space-left: 0.3em;
  --control-space-right: 0.3em;
}
body.windows:not(.separate-titlebar) {
  --control-space-right: 138px;
}

/*.windows-caption-buttons {*/
/*  display: none;*/
/*}*/

body.windows:not(.separate-titlebar) .windows-caption-buttons {
  display: flex;
  position: absolute;
  top: var(--control-space-top);
  right: 0;
  z-index: 10;
}

.control-actions{
  -webkit-app-region: none;
}
.windows-caption-buttons .element {
  -webkit-app-region: none;
  line-height: 30px;
  width: 30px;
  stroke: #000;
  padding: 0 5px;
  box-sizing: content-box;
  fill: transparent;
  text-align: center;
}

body:not(.task-overlay-is-shown).dark-theme .windows-caption-buttons .element {
  stroke: #fff;
}
body:not(.task-overlay-is-shown).dark-theme .action-icon path{
  fill: #fff;
}

.windows-caption-buttons .element > svg {
  width: 12px;
  height: 12px;
}

.windows-caption-buttons .element {
  transition: background-color 0.1s linear, color 0.1s linear;
}
.windows-caption-buttons .element:hover {
  background-color: rgba(196, 196, 196, 0.4);
  transition: none;
}
.windows-caption-buttons .element:active {
  background-color: rgba(168, 168, 168, 0.5);
}
.windows-caption-buttons .element.caption-close:hover {
  background-color: #e81123;
}
.windows-caption-buttons .element.caption-close:hover > svg,
.windows-caption-buttons .element.caption-close:active > svg {
  stroke: #fff;
  stroke-width: 1.1px;
}
.windows-caption-buttons .element.caption-close:active {
  background-color: rgba(232, 17, 35, 0.6);
}



.action {
  position: relative;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.action-icon {
  padding: 3px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border-radius: 3px;
  margin-top: -3px;

}

.action-icon:hover {

  background-color: rgba(227, 227, 227, 0.41);
}
