<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>全部应用</title>
  <script src="../../ext/vue/vue.js"></script>
  <script src="../../ext/vue/vue-router.js"></script>
  <script src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>
  <link rel="icon" type="image/svg+xml" href="../../icons/svg/apps.svg"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline'"/>
</head>
<body class="wrapper-scroller" style=" -webkit-app-region: drag;">
<style>
  .wrapper-scroller::-webkit-scrollbar-track
   {
     border-radius: 10px;
     background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
   }

  .wrapper-scroller::-webkit-scrollbar
   {
     width: 6px;
     background-color: white;
   }

  .wrapper-scroller::-webkit-scrollbar-thumb
   {
     border-radius: 10px;
     background-color: rgba(0, 0, 0, 0.15);
   }

</style>
<div id="appVue" >
  <div style="padding: 20px; -webkit-app-region: none;">
    <div style="margin-bottom: 30px">
      <a-input-search ref="searchBar" :value="searchWords" placeholder="输入应用名称（支持拼音、简拼）、起始页网址" @keyup="updateSearchWords" style="width: 100%" @search="onSearch"></a-input-search>
    </div>
    <div>
      <div v-if="this.searchWords===''">
        <h1>最近使用</h1>
        <a-row>
          <a-col :span="4" v-for="app in appsRecently">
            <a-dropdown :trigger="['contextmenu']">
            <div style="margin-bottom: 15px;text-align: center;">
              <div style="margin-bottom: 10px">
                <img @click="executeApp(app)" onerror="this.src='../../icons/default.svg'" shape="circle" class="logo clickable" :src="app.logo"
                     :style="{'border-color':app.userThemeColor?app.userThemeColor:app.themeColor}">
              </div>
              <div class="clickable"  @click="executeApp(app)" style="white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis; ">
                {{app.name}}
              </div>
            </div>
            <a-menu slot="overlay" >
              <a-menu-item @click="openSetting(app.id)" key="setting"> <a-icon type="setting"></a-icon>设置</a-menu-item>
              <a-menu-item @click="uninstall(app.id)" v-if="!app.isSystemApp" key="uninstall"> <a-icon type="delete"></a-icon>卸载 </a-menu-item>
            </a-menu>
            </a-dropdown>
          </a-col>
        </a-row>
      </div>
      <div v-if="this.searchWords===''" style="position: relative;">
        <h1>全部应用 </h1>
<!--        <div style="position:absolute;right: 0;top: 0">管理</div>-->
        <a-row>
          <a-col :span="4" v-for="app in apps">

              <div style="margin-bottom: 15px;text-align: center">
                <a-dropdown :trigger="['contextmenu']">
                  <div> <div style="margin-bottom: 10px">
                    <img onerror="this.src='../../icons/default.svg'" @click="executeApp(app)" shape="circle" class="logo clickable" :src="app.logo"
                          :style="{'border-color':app.userThemeColor?app.userThemeColor:app.themeColor}">
                  </div>
                    <div class="clickable"  @click="executeApp(app)" style="white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis; ">
                      {{app.name}}
                    </div>
                  </div>

                <a-menu slot="overlay" >
                  <a-menu-item @click="openSetting(app.id)" key="setting"> <a-icon type="setting"></a-icon>设置</a-menu-item>
                  <a-menu-item @click="uninstall(app.id)" v-if="!app.isSystemApp" key="uninstall"> <a-icon type="delete"></a-icon>卸载 </a-menu-item>
                </a-menu>
            </a-dropdown>
              </div>

          </a-col>
        </a-row>
      </div>
      <div v-if="this.searchWords!==''">
        <h1>搜索结果 - <span>{{searchWords}}</span></h1>
        <a-empty v-if="this.searchResult.length===0" description="暂无相关应用"></a-empty>
        <a-row>
          <a-col :span="4" v-for="app in searchResult">
            <a-dropdown :trigger="['contextmenu']">
              <div style="margin-bottom: 15px;text-align: center">
                <div style="margin-bottom: 10px">
                  <img onerror="this.src='../../icons/default.svg'"  @click="executeApp(app)" shape="circle" class="logo clickable"  :src="app.logo"
                        :style="{'border-color':app.userThemeColor?app.userThemeColor:app.themeColor}">
                </div>
                <div class="clickable"  @click="executeApp(app)" style="white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis; ">
                  {{app.name}}
                </div>
              </div>
            <a-menu slot="overlay" >
              <a-menu-item @click="openSetting(app.id)" key="setting"> <a-icon type="setting"></a-icon>设置</a-menu-item>
              <a-menu-item @click="uninstall(app.id)" v-if="!app.isSystemApp" key="uninstall"> <a-icon type="delete"></a-icon>卸载 </a-menu-item>
            </a-menu>
            </a-dropdown>

          </a-col>
        </a-row>
      </div>
    </div>
  </div>

</div>
<style>
  .logo {
    border-radius: 50%;

    width: 50px;
    height: 50px;
    padding: 2px;
    object-fit: cover;
  }
  .processing{
    border: 3px solid blue;
  }
  h1{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .clickable{
    cursor: pointer;
  }
  body{
    user-select: none;
  }
</style>
</body>
<script>
  const tools = require('../util/util.js').tools
  const ipc = require('electron').ipcRenderer
  const saAppModel = require('../util/model/standAloneAppModel')
  tools.getWindowArgs(window)
  var appVue = new Vue({
      el: '#appVue',
      components: {},
      data() {
        return {
          apps: [],
          appsRecently:[],
          searchResult: [],
          searchWords: ''
        }
      },
    watch:{
     async searchWords(){
       if(this.searchWords!=='')
        this.searchResult= await  saAppModel.find(this.searchWords,{order:'lastExecuteTime'})
      }
    },
      mounted() {
       this.refresh()
      },
      methods: {
        onSearch(value) {
          this.searchWords = value
        },
        updateSearchWords(event){
          console.log(event.currentTarget.value)
            this.searchWords =event.currentTarget.value
          //
        },
        refresh(){
          saAppModel.getAllApps().then((data) => {
            appVue.apps = data
          })
          saAppModel.getAllApps({order:'lastExecuteTime',limit:6}).then((data) => {
            appVue.appsRecently = data
          })

        },
        executeApp(app){
          ipc.send('executeApp',{app:app})
          //this.searchWords=''
          appVue.searchWords=''
        },
        openSetting(appId){
          ipc.send('saAppOpenSetting',{id:appId})
        },
        uninstall(appId){
          let that=this
          appVue.$confirm({
            title: '确定卸载此应用？',
            content: '此操作将卸载应用并清空所有应用数据，且无法还原。请谨慎操作。',
            okText: '确认',
            okType: 'danger',
            cancelText: '取消',
            onOk() {
              saAppModel.uninstall(appId).then(success=>{
                for(let i=0;i<that.apps.length;i++){
                  if(that.apps[i].id===appId){
                    that.apps.splice(i,1)
                  }
                }
                ipc.send('message',{type:"success",config:{content:'卸载应用成功。'}})
                ipc.send('deleteApp',{id:appId})
              },err=>{
                ipc.send('message',{type:"success",config:{content:'卸载失败。'}})
              })
            },
            onCancel() {
              console.log('Cancel');
            },
          });
        }
      }
    }
  )
  ipc.on('refresh',()=>{
    appVue.refresh()
  })
</script>
</html>
