<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>应用设置</title>
  <script src="../../ext/vue/vue.js"></script>
  <script src="../../ext/vue/vue-router.js"></script>
  <script src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>
  <link rel="icon" type="image/svg+xml" href="../../icons/svg/apps.svg"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline'"/>
  <link rel="stylesheet" href="./setting.css"/>
</head>
<body>

</body>
<script>
  Vue.use(antd)
</script>
<div id="appVue">
  <div>
    <template>
      <a-layout id="components-layout-demo-top-side-2" style="height: 100vh">
        <a-layout>
          <a-layout-sider width="200" style="background: #fff">
            <a-menu
              mode="inline"
              :default-selected-keys="['1']"
              :default-open-keys="['basic','dev']"
              :style="{ height: '100%', borderRight: 0 }"
            >
              <a-sub-menu key="basic">
                <span slot="title"><a-icon type="setting"></a-icon>基础设置</span>
                <a-menu-item key="1" >
                  <a href="#info">应用信息</a>
                </a-menu-item>
                <a-menu-item key="2" >
                  <a href="#optimize">体验优化</a>
                </a-menu-item>
<!--                <a-menu-item key="3">-->
<!--                  <a href="#permission">权限管理</a>-->
<!--                </a-menu-item>-->
              </a-sub-menu>
<!--              <a-menu-item key="fenshen">-->
<!--                <a-icon type="user"></a-icon>-->
<!--                应用分身-->
<!--              </a-menu-item>-->
<!--              <a-sub-menu key="dev">-->
<!--                <span slot="title"><a-icon type="laptop"></a-icon>深度集成</span>-->
<!--                <a-menu-item key="5">-->
<!--                  菜单管理-->
<!--                </a-menu-item>-->
<!--                <a-menu-item key="6">-->
<!--                  接口对接-->
<!--                </a-menu-item>-->
<!--              </a-sub-menu>-->

            </a-menu>
          </a-layout-sider>
          <a-layout style="overflow-x: visible">
            <a-layout-content
              style="margin: 0;background-color: white;"
            >
              <template>
                <a-page-header
                  style="margin-left: 1px"
                  :title="this.saApp.name"
                  sub-title="应用设置"
                >
                <template slot="extra">
                  <a-button size="small" key="1" type="danger" @click="uninstall(appId)" v-if="saApp.id>10">
                    卸载应用
                  </a-button>
                </template>
                </a-page-header>
              </template>
              <template>
                <a-form :form="form" style="padding: 20px">
                  <h1 id="info">
                    基础信息
                  </h1>
                  <a-form-item
                    :label-col="formItemLayout.labelCol"
                    :wrapper-col="formItemLayout.wrapperCol"
                    label="应用名"
                  >
                    <a-input :default-value="saApp.name"
                             v-decorator="[
          'name',
          { rules: [{ required: true, message: '应用名称，长度大于1，小于16' ,min:1,max:16, initialValue:this.saApp.name }] },
        ]"
                             placeholder="输入应用名称"
                    />
                  </a-form-item>
                  <a-form-item
                    :label-col="formItemLayout.labelCol"
                    :wrapper-col="formItemLayout.wrapperCol"
                    label="应用起始地址："
                  >
                    <span class="ant-form-text" style="line-height: 40px;text-overflow: ellipsis;
  white-space: nowrap;display: inline-block;max-width: 370px;word-break: break-all; overflow: hidden;">
        {{this.saApp.url}}
      </span>
                  </a-form-item>
                  <a-form-item
                    :label-col="formItemLayout.labelCol"
                    :wrapper-col="formItemLayout.wrapperCol"
                    label="应用说明"
                  >
                    <a-textarea
                      v-decorator="[
          'summary',
          { rules: [{ required: true, message: '请输入应用说明' }] },
        ]"
                      placeholder="输入应用说明" maxlength="50"
                    />
                  </a-form-item>
                  <a-form-item
                    :label-col="formItemLayout.labelCol"
                    :wrapper-col="formItemLayout.wrapperCol"
                    label="主题色"
                  >
<!--                    -->
                    <div >
                      <span class="theme-color" :style="{'background-color':this.saApp.themeColor} "></span>
                      <div style="margin-left: 50px;margin-top: -35px">图标背景色</div>
                    </div>
                    <div style="margin-top: 18px"><v-swatches class="color-select" @input="userThemeColorChanged" shapes="circles" v-model="saApp.userThemeColor" popover-x="left" popover-y="bottom" show-fallback swatches="text-advanced" fallback-input-type="color"></v-swatches>
                      <div style="margin-left: 50px;margin-top: -33px">自定义背景色</div>
                    <a-button style="position: absolute;margin-left: 140px;margin-top: -21px" type="default" size="small" @click="saApp.userThemeColor='';userThemeColorChanged('')">重置</a-button>
                    </div>
                  </a-form-item>

                  <a-form-item id="optimize" label="体验优化" style="margin-bottom: 0">
                    <a-checkbox-group
                      v-decorator="['optimize', { initialValue: ['A', 'B'] }]"
                      style="width: 100%;"
                    >
                      <a-row class="setting-check-boxes">
                        <a-col :span="8">
                          <a-checkbox value="autoRun">
                            默认启动
                          </a-checkbox>
                        </a-col>
                        <a-col :span="8">
                          <a-checkbox value="keepRunning">
                            保持运行
                          </a-checkbox>
                        </a-col>
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="theme">-->
<!--                            沉浸式主题色-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="desktop">-->
<!--                            桌面快捷方式-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
                        <a-col :span="8">
                          <a-checkbox value="showInSideBar">
                            保持在左侧栏
                          </a-checkbox>
                        </a-col>
                        <a-col :span="8">
                          <a-checkbox value="alwaysTop">
                            保持在最顶层
                          </a-checkbox>
                        </a-col>
                      </a-row>
                    </a-checkbox-group>
                  </a-form-item>
<!--                  <a-form-item id="permission" label="权限管理">-->
<!--                    <a-checkbox-group-->
<!--                      v-decorator="['功能优化', { initialValue: ['A', 'B'] }]"-->
<!--                      style="width: 100%;"-->
<!--                    >-->
<!--                      &lt;!&ndash;                    // clipboard-read - Request access to read from the clipboard.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   media - Request access to media devices such as camera, microphone and speakers.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   display-capture - Request access to capture the screen.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   mediaKeySystem - Request access to DRM protected content.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   geolocation - Request access to user's current location.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    // notifications - Request notification creation and the ability to display them in the user's system tray.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    // midi - Request MIDI access in the webmidi API.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   midiSysex - Request the use of system exclusive messages in the webmidi API.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   pointerLock - Request to directly interpret mouse movements as an input method. Click here to know more.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   fullscreen - Request for the app to enter fullscreen mode.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   openExternal - Request to open links in external applications.&ndash;&gt;-->
<!--                      &lt;!&ndash;                    //   unknown - An unrecognized permission request&ndash;&gt;-->
<!--                      <a-row class="setting-check-boxes">-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="media">-->
<!--                            多媒体（音频、麦克风、摄像头）-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="geolocation">-->
<!--                            地理位置-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="notifications">-->
<!--                            消息通知-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="fullscreen">-->
<!--                            全屏-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="openExternal">-->
<!--                            打开外部链接-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                        <a-col :span="8">-->
<!--                          <a-checkbox value="alwaysTop">-->
<!--                            剪切板-->
<!--                          </a-checkbox>-->
<!--                        </a-col>-->
<!--                      </a-row>-->
<!--                    </a-checkbox-group>-->
<!--                  </a-form-item>-->
                </a-form>
              </template>
            </a-layout-content>
          </a-layout>
        </a-layout>
      </a-layout>
    </template>
  </div>
</div>
<link rel="stylesheet" href="../../ext/vue/vue-swatches.css"/>
<script src="../../ext/vue/vue-swatches.umd.min.js"></script>
<style>
  .setting-check-boxes .ant-col {
    height: 50px;
  }
  .ant-form-item-control{
    line-height: normal;
  }
  .theme-color{
  width:42px;
    height:42px;
  display:inline-block;
    border-radius:100%;

  }
  .ant-form-item{
    margin-bottom: 10px;
  }
  h1{
    font-weight: bold !important;
    font-size: 14px;
  }
  .ant-form-item-label{
    font-weight: bold;
  }
</style>
<script>
  const tools=require('../util/util.js').tools
  const ipc=require('electron').ipcRenderer
  tools.getWindowArgs(window)
  const swatches = window['vue-swatches']
  const formItemLayout = {
    labelCol: {span: 4},
    wrapperCol: {span: 16},
  };
  const formTailLayout = {
    labelCol: {span: 4},
    wrapperCol: {span: 8, offset: 4},
  };
  let standAloneModel=require('../util/model/standAloneAppModel')
  let appId=Number(window.globalArgs['app-id'])
  var appVue = new Vue({
    el: '#appVue',
    components: {
      'v-swatches': swatches
    },
    data() {
      return {
        saApp: {name: ''},
        checkNick: false,
        formItemLayout,
        formTailLayout,
        form: this.$form.createForm(this, {
          name: 'appSetting', onValuesChange: (props, values) => {
            console.log(values)
            if(values.optimize){
              //['keepRunning', 'theme', 'desktop', 'showInSideBar', 'alwaysTop', 'autoRun']
              let optimizeValue=['keepRunning', 'theme', 'desktop', 'showInSideBar', 'alwaysTop', 'autoRun']
              let optimize=values['optimize']
              let settings={}
              optimizeValue.forEach(item=>{
                settings[item] = optimize.indexOf(item) > -1;
               })
              standAloneModel.setAppSetting(Number(window.globalArgs['app-id']),settings)
              this.tipSave()
              //todo 主动更新应用信息，即时更新
            }else if(values.name){
              this.saApp.name=values.name
              standAloneModel.update(Number(window.globalArgs['app-id']), { name: tools.htmlEncode(values.name) })
              this.tipSave()
              //todo 主动更新应用信息，即时更新
            }else if(values.summary){
              standAloneModel.update(Number(window.globalArgs['app-id']), { summary: tools.htmlEncode(values.summary) })
              this.tipSave()
              //todo 主动更新应用信息，即时更新
            }
          }
        }),
      }
    },
    beforeCreate() {
      let that = this
      standAloneModel.get(appId).then(data => {
        that.saApp = data
        that.form.name = data.name
        let optimizeValues=['keepRunning', 'theme', 'desktop', 'showInSideBar', 'alwaysTop', 'autoRun']
        let optimize=[]
          optimizeValues.forEach(item=>{
          if(data.settings[item]){
            optimize.push(item)
          }
        })
        console.log(optimize)
        this.form.setFieldsValue({
          name: data.name,
          summary: data.summary,
          themeColor: data.themeColor,
          optimize:optimize
        })
        console.log(that.saApp)
      })
    },
    mounted() {
      this.appId=appId
    },
    methods: {
      userThemeColorChanged(input){
        standAloneModel.update(this.appId,{userThemeColor:input})
        this.tipSave()
        console.log(input)
      },
      tipSave(){
        appVue.$message.info({content:'保存成功，此处设置修改需浏览器重启后生效。',key:'save'})
      },
      uninstall(appId){
        this.$confirm({
          title: '确定卸载此应用？',
          content: '此操作将卸载应用并清空所有应用数据，且无法还原。请谨慎操作。',
          okText: '确认',
          okType: 'danger',
          cancelText: '取消',
          onOk() {
            standAloneModel.uninstall(appId).then(success=>{
              ipc.send('message',{type:"success",config:{content:'卸载应用成功。'}})
              ipc.send('deleteApp',{id:appId})
            },err=>{
              ipc.send('message',{type:"success",config:{content:'卸载失败。'}})
            })
          },
          onCancel() {
            console.log('Cancel');
          },
        });

      },
      check() {
        this.form.validateFields(err => {
          if (!err) {
            console.info('success');
          }
        });
      },
      handleChange(e) {
        this.checkNick = e.target.checked;
        this.$nextTick(() => {
          this.form.validateFields(['nickname'], {force: true});
        });
      },
    }
  })
</script>
</html>
