<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>应用推荐</title>
  <script src="../../ext/vue/vue.js"></script>
  <script src="../../ext/vue/antd.min.js"></script>
  <link rel="stylesheet" href="../../ext/vue/antd.min.css"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline'"/>
  <link rel="stylesheet" href="./wizard.css"/>
</head>
<body>

<div id="app" style="padding-bottom: 52px">
  <div id="stepWizard" class="step-wizard">
    <template>
      <a-alert type="info" show-icon>
        <div slot="message">应用推荐</div>
        <div slot="description">
          <p style="line-height: 28px">独立应用功能是想天浏览器独有的特色功能，这是一种将网页应用转变为接近桌面客户端的技术。
            从而<strong>无需安装软件</strong>就可以以独立窗体运行网页。
            <br>
            安装应用<strong>不会在您的电脑中下载和安装任何软件</strong>，仅在浏览器左侧栏中加入应用图标以便于您方便使用。
            <br>详细了解想天浏览器的功能请<a target="_blank" href="https://www.yuque.com/tswork/ngd5zk/mmcfd7">查看这里</a>。
          </p>
        </div>
      </a-alert>
    </template>
    <template>
      <div>
        <a-tabs default-active-key="1">
          <a-tab-pane key="1">
                <span slot="tab">
                  <a-icon type="desktop"></a-icon>
                系统应用
                </span>
            <p>系统应用是保障您可以完整使用想天浏览器基础性应用。</p>
            <a-row class="app" v-for="app in apps.system">
              <a-col :span="2" class="app-check">
                <a-checkbox disabled checked></a-checkbox>
              </a-col>
              <a-col :span="3">
                <img :style="{'border-color':app.themeColor}" class="app-logo" :src="app.logo"/>
              </a-col>
              <a-col :span="19">
                <div class="app-name">{{app.name}}</div>
                <p class="app-summary">{{app.summary}}</p>
              </a-col>
            </a-row>
          </a-tab-pane>

          <a-tab-pane key="2" force-render>
                 <span slot="tab">
                  <a-icon type="like"></a-icon>
        强烈推荐应用 ({{getCheckedCount('suggest')}})
      </span>
            <p>强烈推荐应用是我们精选的应用，这些应用可以满足您日常办公效率所需。</p>
            <a-row class="app" v-for="app in apps.suggest">
              <a-col class="app-check" :span="2">
                <a-checkbox :default-checked="true" :checked="app.checked"
                            @change="onChangeCheck($event,app)"></a-checkbox>
              </a-col>
              <a-col :span="3">
                <img :style="{'border-color':app.themeColor}" class="app-logo" :src="app.logo"/>
              </a-col>
              <a-col :span="16">
                <div class="app-name">{{app.name}} <a target="_blank" v-if="app.author" :href="app.site">（{{app.author}}）</a><span v-else>(第三方)</span><span class="app-installed">{{app.installed}}%的用户选择安装</span></div>
                <p class="app-summary">{{app.summary}}</p>
                <p v-if="app.settings">
                  默认设置：
                  <a-tag v-for="(value,name) in app.settings">
                       {{settingToWords(name)}}
                  </a-tag>
                </p>
              </a-col>
              <a-col :span="2">
                <a-button target="_blank" :href="app.url"> 预览</a-button>
              </a-col>
            </a-row>
          </a-tab-pane>
          <a-tab-pane key="3">
                <span slot="tab">
                  <a-icon type="fire"></a-icon>
        热门应用 ({{getCheckedCount('hot')}})
      </span>
            <p>推荐应用是我们为您推荐的应用，默认不会安装。</p>
            <a-row>
              <a-col :span="3">
                <a-checkbox :default-checked="false"
                            @change="onCheckAll($event,'hot')">全选
                </a-checkbox>
              </a-col>
            </a-row>
            <a-row class="app" v-for="app in apps.hot">
              <a-col class="app-check" :span="2">
                <a-checkbox :default-checked="false" :checked="app.checked"
                            @change="onChangeCheck($event,app)"></a-checkbox>
              </a-col>
              <a-col :span="3">
                <img :style="{'border-color':app.themeColor}" class="app-logo" :src="app.logo"/>
              </a-col>
              <a-col :span="16">
                <div class="app-name">{{app.name}}<a target="_blank" v-if="app.author" :href="app.site">（{{app.author}}）</a><span v-else>(第三方)</span></div>
                <p class="app-summary">{{app.summary}}</p>
              </a-col>
              <a-col :span="2">
                <a-button target="_blank" :href="app.url"> 预览</a-button>
              </a-col>
            </a-row>
          </a-tab-pane>
        </a-tabs>
      </div>
      <div
        style="text-align: center;position: fixed;bottom: 0;left:0;padding-bottom:20px;padding-top:20px;width: 100vw;background: rgba(243,243,243,0.55);border-top: 1px solid rgba(232,232,232,0.47)">
        <a-button type="primary" @click="install">确认安装 ({{getCheckedCount()}})</a-button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a-button @click="ipc.send('addTab',{url:'https://apps.vip/apps'})">逛逛应用市场</a-button>
      </div>
    </template>
  </div>
</div>
<script>

  Vue.use(antd)
  const fs = require('fs')
  const tools = require('../util/util.js').tools
  tools.getWindowArgs(window)
  const standAloneAppModel = require('../util/model/standAloneAppModel')
  var appVue = new Vue({
    el: '#app',
    data () {
      return {
        ipc: window.ipc,
        current: 0,
        apps: {
          system: [
            {
              name: '团队协作',
              logo: '../../icons/svg/chat.svg',
              themeColor: '#6fafff',
              summary: '一款具备私聊、群聊、文件分享、投票、随手记等功能的沟通工具。\n' +
                '                          通过团队协作，您可以与您的团队伙伴共享、协作各种资源。'
            },
            {
              name: '收藏夹',
              logo: '../../icons/svg/apps.svg',
              themeColor: '#8618d2',
              summary: '通过收藏夹，您可以便捷地管理您的书签，构建您自己的个人主页。通过分享功能，可以将收藏内容同步到团队。'
            },
            {
              name: '元社区',
              logo: '../../icons/apps/yuan.png',
              themeColor: '#4188ff',
              summary: '您可以随时免费创建属于您的元社区，元社区可以作为企业内部沟通平台、也可以作为行业交流平台、产品社区。'
            }
          ],
          suggest: [
            {
              name: '文件小助手',
              logo: '../../icons/apps/wechatfile.png',
              url: 'https://filehelper.weixin.qq.com/',
              installed: '99.5',
              themeColor: '#07c160',
              author:'微信官方',
              site:'https://weixin.qq.com/',
              checked: true,
              summary: '微信官方文件小助手，扫码即可与微信互传文件，非常便捷。',
              settings: {
                bounds: {
                  width: 540,
                  height: 540
                },
                alwaysTop: true,
                showInSideBar: true,
              }
            },
            {
              name: '小小时光机',
              themeColor: 'rgb(35,205,120)',
              author:'想天软件',
              site:'http://apps.vip',
              logo: 'http://d.xiangtian.ren/apps/timer/icon.svg',
              url: 'http://d.xiangtian.ren/apps/timer',
              installed: '95.1',
              package:'com.thisky.timer',
              checked: true,
              summary: '免费、简约的倒计时工具，具备常规倒计时功能，并将不断加入番茄钟、纪念日倒计时等功能，是您时间管理的神器。',
              settings: {
                bounds: {
                  width: 500,
                  height: 370
                },
                alwaysTop: true,
                showInSideBar: true,
              }
            },
            {
              name: '图片编辑器',
              themeColor: 'rgb(90,170,60)',
              author:'想天软件',
              site:'http://apps.vip',
              logo: 'http://d.xiangtian.ren/apps/imageEditor/icon.svg',
              url: 'http://d.xiangtian.ren/apps/imageEditor/',
              package:'com.thisky.imageEditor',
              installed: '85.5',
              checked: true,
              summary: '可以为您的图片增加相框、贴纸、文字、进行简单裁减、旋转，还可以添加滤镜。'
            },
            {
              name: '网易云音乐',
              author:'网易',
              site:'https://corp.163.com/gb/about/overview.html',
              logo: 'https://s1.music.126.net/style/favicon.ico',
              themeColor: 'rgb(220,0,25)',
              checked: true,
              url: 'https://music.163.com/',
              summary: '有态度的音乐网站。',
              settings: {
                showInSideBar: true
              }
            },
          ],
          hot: [
            {
              name: '万年历',
              logo: 'https://qq.ip138.com/favicon.ico',
              themeColor: 'rgb(110,180,55)',
              checked: false,
              url: 'https://qq.ip138.com/day/',
              summary: '可以显示全年日历，结合法定节假日显示，让你的工作更有盼头。'
            },

            {
              name: '证件加水印',
              logo: '../../icons/default.svg',
              themeColor: '#1155cc',
              checked: false,
              url: 'http://watermark.dxcweb.com/',
              summary: '一键给证件加上水印，纯前端实现，开源免费。'
            },
            {
              name: '为知笔记',
              logo: 'https://www.wiz.cn/favicon.ico',
              themeColor: 'rgb(70,140,255)',
              checked: false,
              url: 'https://www.wiz.cn/xapp/',
              summary: '一款好用的在线笔记软件。'
            }, {
              name: '即时设计',
              logo: 'https://img.js.design/assets/webImg/favicon.ico',
              themeColor: 'rgb(25,30,40)',
              checked: false,
              url: 'https://js.design/workspace',
              summary: '在同一个地方，构思、设计、协作，让你和团队更加高效。'
            },
            {
              name: '小鹅通管理后台',
              logo: 'https://admin.xiaoe-tech.com/logo-64.ico',
              author:'小鹅通',
              site:'https://www.xiaoe-tech.com/',
              themeColor: '#256AEA',
              checked: false,
              url: 'https://admin.xiaoe-tech.com/login_page?channel=5670-8121#/register',
              summary: '常用的saas应用管理后台，可以快速开通和管理你的知识店铺。'
            }

          ]
        }
      }
    },
    beforeCreate () {
    },
    mounted () {
    },
    methods: {
      settingToWords (setting) {
        return standAloneAppModel.settingToWords(setting)
      },
      install () {
        //找出选中的
        let needInstallApps = []
        this.apps.suggest.forEach((item) => {
          if (item.checked) {
            let needInstallApp = item
            delete needInstallApp.installed
            delete needInstallApp.checked
            needInstallApps.push(needInstallApp)
          }
        })
        this.apps.hot.forEach((item) => {
          if (item.checked) {
            let needInstallAppHot = item
            delete needInstallAppHot.checked
            needInstallApps.push(needInstallAppHot)
          }
        })
        console.log(needInstallApps)
      },
      //选中全部
      onCheckAll (e, type) {
        this.apps[type].forEach(item => {
          item.checked = e.target.checked
        })
      },
      //获取选中的数量
      getCheckedCount (type = '') {
        let count = 0
        if (type === '') {
          this.apps.suggest.forEach((item) => {
            if (item.checked) {
              count++
            }
          })
          this.apps.hot.forEach((item) => {
            if (item.checked) {
              count++
            }
          })
        } else {
          this.apps[type].forEach((item) => {
            if (item.checked) {
              count++
            }
          })
        }
        return count
      },
      //checkbox选择回调
      onChangeCheck (event, app) {
        app.checked = event.target.checked
      },
      close () {
        //todo 添加一些桌面

        localStorage.setItem('firstRun', '1')
        ipc.send('closeWizard')
      }
    }
  })
</script>


<style>
  .app {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    font-size: 13px;
  }

  .app-name {
    font-size: 16px;
    font-weight: bold;
  }

  .app-summary {
    color: #999;
    height: 38px;
  }

  .app-installed {
    font-size: 15px;
    font-weight: normal;
    padding-left: 15px;
  }

  .app-check {
    padding-top: 13px;
  }

  .app-logo {
    background: white;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    padding: 2px;
    border: 3px solid #ccc;
  }
</style>
</body>
</html>
