body {
	padding: 10px;
	background-color: #f1f1f1;
}

.step-login {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: auto;
	width: 480px;
	height: 478px;
	background: white;
	padding: 35px;
	border-radius: 6px;
	box-shadow: 0 0 15px #ddd;
	margin-left: -240px;
	margin-top: -50px;
	margin-top: -239px;
}

.step-wizard {
	background: white;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 0 15px #ddd;
	margin: 12px;
}

.bottom-button {
	width: 440px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

.frame-video {
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 100%;
	height: 475px;
}

.video-title {

	margin: 1em;
	text-align: center;
	background: #0055bf1f;
	border-radius: 100px;
	padding: 5px 15px;
	width: auto;
	display: inline-block;
}
