.annotator-hl {
  cursor: pointer;
  background: rgba(255, 255, 0, 0.3);
}

.annotator-h1 {
  cursor: pointer;
  background: rgba(0, 0, 255, 0.3);
}

.annotator-h2 {
  cursor: pointer;
  background: rgba(0, 255, 127, 0.3);
}

.annotator-h3 {
  cursor: pointer;
  background:rgba(255, 0, 0, 0.3);
}

.annotation {
  position: absolute;
  right: 0;
  top: 0;
  color: #333;
  width: 200px;
  border-left: 8px solid #fff;
  padding-left: 5px;
  border-color: rgba(0, 0, 255, 0.3);
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  background: white !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* transition: top .1s; */
}



.annotation .color-block {
  cursor: pointer;
  margin-right: 1px;
  width: 19px;
  height: 19px;
  border-bottom: 2px solid #fff;
}

.annotation .save {
  font-size: 13px;
  text-decoration: none;
  color: #0768fd;
  padding-top: 8px;
  padding-right: 15px;
  cursor: pointer;
}

.annotation .delete {
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  padding-top: 8px;
  padding-right: 15px;
}
