.setting {
  position: fixed;
  height: 100%;
  width: 300px;
  /* border:1px solid; */
  left: -300px;
  top: 0;
  z-index: 2;
  transition: left 0.5s;
}

.setting .switch {
  position: absolute;
  height: 100px;
  width: 110px;
  left: 300px;
  top: 100px;
  background: #fff;
  border: solid 1px #333;
  border-left: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  padding:20px;
  box-sizing: border-box;
  text-align: right;
}


.switch .svg{
  display: block;
  margin-left:auto;
  margin-bottom: 10px;
}

.switch .title{
  font-size: 17px;
}
