<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../ext/reset.css" />
    <link rel="stylesheet" href="../../ext/flex-class.css" />
    <script src="../../ext/vue/vue.js"></script>
    <script src="../../ext/vue/antd.min.js"></script>
    <link rel="stylesheet" href="../../ext/vue/antd.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/index.css" />
    <title>新标签页</title>
  </head>

  <body>
    <script>
      Vue.use(antd)
      var electron = require('electron')
      var ipc = electron.ipcRenderer
    </script>
    <div id="app">
      <template>
        <a-drawer style="z-index:1005"
          placement="bottom"
          :height="500"
          :closable="false"
          :visible="setThemeVisible"
          @close="setThemeVisible=false"

        >
            <a-page-header  style="padding: 0" slot="title" title="设置主题" sub-title="您可以在浏览器中查看图片时，右键设置图片为壁纸。也可以选择下方壁纸快速设置。" ></a-page-header>
          <div>
            <template>
                <template>
                  <div>
                    <a-tabs :default-active-key="0" @change="callback">
                      <a-tab-pane v-for="(type,typeIndex) in defaultWallPaper" :key="typeIndex" :tab="type.title">
                        <div style="background-color: #ececec; padding: 20px;">
                        <a-row :gutter="24">
                          <a-col v-for="(wallPaper,wallPaperIndex) in type.list"  :span="4">
                            <a-card @click="setWallPaper(wallPaper)" hoverable :bordered="false">
                              <img style="object-fit: cover;"   height="100"
                                   slot="cover"
                                   :alt="wallPaper.title"
                                   :src="wallUrl+wallPaper.image"
                              />
                              <a-card-meta :title="wallPaper.title"></a-card-meta>
                            </a-card>
                          </a-col>
                        </a-row>
                        </div>
                      </a-tab-pane>
                    </a-tabs>
                  </div>
                </template>



              <div>
                <h1 style="font-size: 14px;margin-top: 20px">卡片不透明度：</h1>
                <a-slider id="cardOpacity"  @change="changeOpacity" :step="5" v-model="cardOpacity" :default-value="100"> </a-slider>
              </div>
              <div>
                <h1 style="font-size: 14px;margin-top: 20px">快捷坞图标大小：</h1>
                <a-slider id="dockSize" v-model="dockAppSize" @change="saveDockSize" :step="1" :min="20" :max="120" v-model="cardOpacity" :default-value="60"> </a-slider>
              </div>
            </template>
          </div>

        </a-drawer>

        <a-button style="position: fixed;right: 20px;top: 20px;background-color: rgba(0,0,0,0.3);color: white;border:none" shape="circle" type="primary" icon="skin"  @click="setTheme" ></a-button>
        </style>
        <a-dropdown :trigger="['contextmenu']">
        <div class="main">
          <div class="main-top flex flex-direction justify-around align-center">
            <img src="./assets/logo-noframe.svg" alt="" style="width: 84px" class="xt-logo" />
            <div class="top-search flex justify-between align-center">
              <a-popover placement="bottomLeft" style="margin-left: 20px" v-model="visible">
                <template slot="content">
                  <div class="card-list flex flex-wrap justify-center align-center">
                    <div
                      v-for="(item, index) in mySearch"
                      :key="item.id"
                      class="card flex justify-start align-center"
                      @click="chooseSearch(item.id, index)"
                    >
                      <img :src="item.slinkLogo" alt="" />
                      <div style="margin-left: 15px">{{item.name}}</div>
                    </div>
                  </div>
                </template>
                <template slot="title">
                  <div class="card-head flex justify-between">
                    <div class="left flex align-center justify-center">选择您的默认搜索引擎:</div>
                    <div class="right flex align-center justify-center" style="display: none">
                      <p>搜索热词:</p>
                      <a-switch size="small" default-checked  style="margin-left: 5px;"></a-switch>
                    </div>
                  </div>
                </template>
                <img :src="this.slinkLogo" alt="" style="width: 30px; cursor: pointer" />
              </a-popover>
              <input
                type="text"
                class="search"
                :value="searchWord"
                @input="searchWord = $event.target.value"
                style="font-size: 20px"
                @keyup.enter="enterSubmit"
              />
              <div @click="clklogo" style="color: #606266">
                <a-icon type="search" class="search-logo" :style="{ fontSize: '30px' }"></a-icon>
              </div>
            </div>
          </div>

          <div class="main-bottom flex justify-center">
            <div class="mb-wrap flex flex-wrap justify-center">
              <div
                class=" wrap-nav wrap-nav1"
                :class="{'moreNow': this.navallShow1}"
                @mouseenter="mouseIn(0)"
                @mouseleave="mouseOut(0)"
              >
                <a-dropdown class="adrop1" v-show="this.bookdian1Show">
                  <a-icon type="more" :style="{ fontSize: '18px'}"></a-icon>
                  <a-menu slot="overlay" style="display: none;">
                    <a-menu-item>
                      <a href="javascript:;">移除分组框</a>
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
                <div class="nav-top flex justify-start align-center">
                  <a-icon type="appstore" :style="{ fontSize: '18px'}" style="margin-left: 10px"></a-icon>
                  <div style="margin-left: 10px">我的导航</div>
                </div>
                <div class="nav-content flex flex-wrap">
                  <a-empty
                    image="./assets/original.png"
                    class="flex flex-direction align-center justify-center"
                    style="width: 100%; height: 100%"
                    v-show="myApps.length == 0"
                  >
                    <span slot="description">暂无应用</span>
                    <a-button type="primary" onclick="ipc.send('openHome')" size="small"> 前往添加 </a-button>
                  </a-empty>
                  <a draggable="true" @dragstart="setDrag($event,item)"
                    class="n-card flex flex-direction justify-around align-center"
                    v-for="(item, index) in myApps"
                    :key="index"
                    :href="item.url"
                    style="color: #606266"
                  >
                    <img :src="item.icon" alt="" />
                    <p>{{item.name}}</p>
                  </a>
                </div>
                <transition name="slide-fade">
                  <div
                    class="nav-bottom flex justify-center align-center"
                    v-show="navallShow1"
                    onclick="ipc.send('openHome')"
                  >
                    + 查看全部
                  </div>
                </transition>
              </div>

              <div
                class="wrap-nav wrap-nav2"
                :class="{'moreNow': this.navallShow2}"
                @mouseenter="mouseIn(1)"
                @mouseleave="mouseOut(1)"
              >
                <div class="nav-top flex justify-start align-center">
                  <a-icon type="star" :style="{ fontSize: '18px'}" style="margin-left: 10px"></a-icon>
                  <div style="margin-left: 10px">书签收藏</div>
                </div>
                <a-dropdown class="adrop2" v-show="this.bookdian2Show">
                  <a-icon type="more" :style="{ fontSize: '18px'}"></a-icon>
                  <a-menu slot="overlay" style="display: none;">
                    <a-menu-item>
                      <a href="javascript:;">移除分组框</a>
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
                <div class="nav-content flex flex-direction">
                  <template>
                    <div v-if="loadingBookmark" style="text-align: center; margin-top: 70px">
                      <a-spin tip="Loading..."> </a-spin>
                    </div>
                  </template>
                  <a-empty
                    image="./assets/original.png"
                    class="flex flex-direction align-center justify-center"
                    style="width: 100%; height: 100%"
                    v-show="bookmarkEmpty"
                  >
                    <span slot="description">暂无书签</span>
                    <a-button type="primary" onclick="ipc.send('importBookMarks')" size="small"> 导入书签 </a-button>
                  </a-empty>
                  <a
                    :href="item.link"
                    class="flex justify-around align-center"
                    v-for="(item, index) in bookmark"
                    :key="index"
                  >
                    <a-icon type="global" :style="{ fontSize: '18px'}"></a-icon>
                    <ul class="flex flex-direction justify-center align-center">
                      <li>{{item.title}}</li>
                      <li style="color: #7f7f7f">{{item.link}}</li>
                    </ul>
                  </a>
                </div>
                <transition name="slide-fade">
                  <div
                    class="nav-bottom flex justify-center align-center"
                    v-show="navallShow2"
                    onclick="ipc.send('openBookmarks')"
                  >
                    + 查看全部
                  </div>
                </transition>
              </div>

              <div
                class="wrap-nav wrap-nav3"
                :class="{'moreNow': this.navallShow3}"
                @mouseenter="mouseIn(2)"
                @mouseleave="mouseOut(2)"
              >
                <a-dropdown class="adrop3" v-show="this.bookdian3Show">
                  <a-icon type="more" :style="{ fontSize: '18px'}"></a-icon>
                  <a-menu slot="overlay" style="display: none;">
                    <a-menu-item>
                      <a href="javascript:;">移除分组框</a>
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
                <a-tabs default-active-key="0" :tab-position="mode" @prevClick="callback" @nextClick="callback">
                  <a-tab-pane v-for="(i, index) in allApps" :key="index" :tab="i.title">
                    <div class="pane flex flex-wrap">
                      <a draggable="true" @dragstart="setDrag($event,item)"
                        class="n-card flex flex-direction justify-around align-center"
                        v-for="(item, index) in i.apps"
                        :key="index"
                        :href="item.url"
                        :title="item.name"
                        style="color: #606266"
                      >
                        <img :src="item.icon" alt="" />
                        <p>{{item.name}}</p>
                      </a>
                    </div>
                  </a-tab-pane>
                </a-tabs>
                <transition name="slide-fade">
                  <div
                    class="nav-bottom flex justify-center align-center"
                    v-show="navallShow3"
                    @click="() => adVisible = true"
                  >
                    + 查看全部
                  </div>
                </transition>
              </div>

              <div
                class="wrap-nav wrap-nav4"
                :class="{'moreNow': this.navallShow4}"
                @mouseenter="mouseIn(3)"
                @mouseleave="mouseOut(3)"
              >
                <a-tabs  default-active-key="0">
                  <a-tab-pane v-for="(i, index) in this.historyBar" :key="index" :tab="i.time_title">
                    <div class="pane flex flex-direction">
                      <a-dropdown class="adrop4" v-show="bookdian4Show">
                        <a-icon type="more" :style="{ fontSize: '18px'}"></a-icon>
                        <a-menu slot="overlay" style="display: none;">
                          <a-menu-item>
                            <a href="javascript:;">移除分组框</a>
                          </a-menu-item>
                        </a-menu>
                      </a-dropdown>
                      <div class="nav-content flex flex-direction">
                        <a-empty
                          image="./assets/original.png"
                          class="flex flex-direction align-center justify-center"
                          style="width: 100%; height: 100%"
                          v-if="isEmpty(i.info) "
                        >
                          <span slot="description">无浏览历史</span>
                        </a-empty>
                        <a
                          :href="item.link"
                          class="flex justify-around align-center"
                          v-for="(item, index) in i.info "
                          :key="index"
                        >
                          <a-icon type="global" :style="{ fontSize: '18px'}"></a-icon>
                          <ul class="flex flex-direction justify-center align-center">
                            <li>{{item.title}}</li>
                            <li style="color: #7f7f7f">{{item.link}}</li>
                          </ul>
                        </a>
                      </div>
                    </div>
                  </a-tab-pane>
                </a-tabs>
                <transition name="slide-fade">
                  <div
                    class="nav-bottom flex justify-center align-center"
                    v-show="navallShow4"
                    onclick="ipc.send('openHistory')"
                  >
                    + 查看全部
                  </div>
                </transition>
              </div>
            </div>
          </div>
          <app-dialog></app-dialog>
        </div>
          <a-menu slot="overlay">
            <a-menu-item key="1">
              添加本地导航自定义块
            </a-menu-item>
            <a-menu-item @click="refresh" key="2">
              刷新
            </a-menu-item>
            <a-menu-item @click="setTheme" key="3">
              设置壁纸
            </a-menu-item>
          </a-menu>
        </a-dropdown>
      </template>

      <template id="appstore">
        <div>
          <a-modal v-model="adVisible" title="应用中心" :width="700" :footer="null" :mask="false" :mask-closable="false">
            <div class="adialog">
              <a-tabs default-active-key="productive" tab-position="left" :style="{ height: '100%' }">
                <a-tab-pane  v-for="(type, indexType) in allApps" :key="type.name" :tab="type.title">
                  <a-card :title="type.title" style="padding: 10px">
                    <a-card-grid :class="{'app':true,'app-goods':true}" v-for="(app, indexApp) in type.apps" draggable="true" @dragstart="setDrag($event,app)">
                      <a :href="app.url">
                        <a-avatar shape="square" :size="64" :src="app.icon" style="margin-bottom: 10px"></a-avatar>
                        <a-card-meta :title="app.name">
                          <template slot="description"> {{ app.summary }} </template>
                        </a-card-meta>
                      </a>
                    </a-card-grid>
                  </a-card>
                </a-tab-pane>
              </a-tabs>
            </div>
          </a-modal>
        </div>
      </template>
      <div  @drop="addDragItem" @dragover.prevent class="dock">

        <a-dropdown :trigger="['contextmenu']" v-for="item in dock">
          <a-tooltip  class="dock-item"   @click="openUrl(item)">
            <template slot="title">
              {{item.name}}
            </template>
            <div  >
              <a-avatar  shape="square" :size="dockAppSize" :src="item.icon"></a-avatar>
<!--              <div style="overflow: hidden;text-align: center;max-width: 100%;overflow: hidden;padding-top: 5px;text-shadow:0 0 1px rgba(255,255,255,0.1);-->
<!--            text-overflow:ellipsis;-->
<!--            white-space: nowrap; ">-->
<!--                {{item.name}}-->
<!--              </div>-->
            </div>
          </a-tooltip>
          <a-menu slot="overlay">
            <a-menu-item @click="removeDockApp(item)" key="1">
              从dock栏移除
            </a-menu-item>
          </a-menu>
        </a-dropdown>

        </template>
      </div>
    </div>

    <script src="./components/appStore/index.js"></script>
    <script>
      Vue.use(antd)

      const wallList=require('./wall.json')
      const {wallPaper,themeSetting,wallUrl}=require('../util/theme.js')

      var appVue = new Vue({
        el: '#app',
        data() {
          return {
            mySearch: [],
            myApps: [],
            adVisible: false,
            mode: 'top',
            slinkLogo: './assets/baidu.svg',
            searchWord: '',
            sfrontLink: 'https://www.baidu.com/s?wd=',
            visible: false,
            bookdian1Show: false,
            bookdian2Show: false,
            bookdian3Show: false,
            bookdian4Show: false,
            navallShow1: false,
            navallShow2: false,
            navallShow3: false,
            navallShow4: false,
            loadingBookmark: true,
            bookmarkEmpty: false,
            bookmark: [],
            loadingHistory: true,
            historyBar: [],
            bg:window.newtabBg,
            setThemeVisible:false, //设置壁纸的抽
            wallUrl:wallUrl,
            defaultWallPaper:wallList,
            cardOpacity:100,
            dock:[
              {
                name:'想天工作台',
                icon:'../../icons/logo1024.png',
                url:'http://work.thisky.com'
              },{
                name:'想天社区',
                icon:'../../icons/logo1024.png',
                url:'http://com.thisky.com'
              }
            ]//dock里的应用
            ,dockAppSize:60
          }
        },
        methods: {
          clklogo () {
            location.href = this.sfrontLink + this.searchWord
          },
          isEmpty (array) {
            return array.length === 0 && this.loadingHistory === false
          },
          loadMysearch () {
            window.$newtabRestore
              .restoreFromDB()
              .then((res) => {
                this.mySearch = res
                //console.log(res, '___searchres___')
                res.forEach((element) => {
                  if (element.sDefault == 1) {
                    this.slinkLogo = element.slinkLogo
                    this.sfrontLink = element.frontLink
                  }
                })
              })
              .catch((err) => {
                console.log(err)
              })
          },
          loadBookmarks (count) {
            window.$newtabRestore
              .loadBookmarks(count)
              .then((data) => {
                this.bookmark = data
                this.loadingBookmark = false
                if (data.length === 0) {
                  this.bookmarkEmpty = true
                }
              })
              .catch((err) => {
                console.log(err)
              })
          },
          loadHistory () {
            window.$newtabRestore.loadHistory(4).then((data) => {
              this.historyBar = data
              this.loadingHistory = false
            })
          },
          loadMyapps () {
            window.$appsRestore
              .restoreFromDB()
              .then((res) => {
                //console.log(res, '___res___')
                this.myApps = res
              })
              .catch((err) => {
                console.log(err)
              })
          },
          enterSubmit () {
            location.href = this.sfrontLink + this.searchWord
          },
          mouseIn (i) {
            this[`navallShow${i + 1}`] = true
            this[`bookdian${i + 1}Show`] = true
          },
          mouseOut (i) {
            this[`navallShow${i + 1}`] = false
            this[`bookdian${i + 1}Show`] = false
          },
          chooseSearch (id, index) {
            this.visible = false
            this.slinkLogo = this.mySearch[index].slinkLogo
            this.sfrontLink = this.mySearch[index].frontLink
            console.log(this.sfrontLink)
            window.$newtabRestore
              .saveDefaultDB(id)
              .then(() => {
                console.log('dexie设置默认搜索引擎成功')
              })
              .catch((err) => {
                console.log(err)
              })
          },
          callback (val) {
            console.log(val)
          },
          /**
           * 设置壁纸
           */
          setTheme () {
            this.setThemeVisible = true
          },
          async setWallPaper (wp) {

            try {
              //保存壁纸设置
              wallPaper.set(wp.image).then(()=>{
                wallPaper.setElementBg(document.body,wallPaper.getWallPaperUrl(wp.image))
                this.$message.success({ content: '壁纸设置成功。' })
                }
              )
            } catch (err) {
              this.$message.error({content:'保存壁纸失败。'})
              console.log(err)
            }
          },
          changeOpacity (opacity) {
           this.setOpacity(opacity)
            this.saveChangeOpacity(opacity)
          },
          setOpacity(opacity){
            let cards = document.getElementsByClassName('wrap-nav')
            Array.prototype.forEach.call(cards, (element) => {
              element.style.backgroundColor = 'rgba(256,256,256,' + opacity / 100 + ')'
            })
            // let navTops = document.getElementsByClassName('nav-top')
            // Array.prototype.forEach.call(navTops, (element) => {
            //   element.style.borderBottomColor = 'rgba(226,221,221,' + opacity / 100 + ')'
            // })

          },
          saveChangeOpacity (value) {
            db.system.get({ name: 'newtabCardOpacity' }).then((newtabCardOpacity) => {
              if (!!!newtabCardOpacity) {
                db.system.put({ name: 'newtabCardOpacity', value: value })
              } else {
                db.system.update(newtabCardOpacity.id, { name: 'newtabCardOpacity', value: value })
              }
              this.$message.success({ content: '卡片透明度设置成功。',key:'msgOpacity' })
            }).catch((err) => {
              console.log(err)
            })
          },
          saveDockSize(value){
            try {
              //保存壁纸设置
              themeSetting.setNewtabDockSize(value).then(()=>{
                  this.$message.success({ content: '设置快捷坞图标尺寸成功。',key:'dockSize' })
                }
              )
            } catch (err) {
              this.$message.error({content:'设置快捷坞图标尺寸失败。',key:'dockSize'})
              console.log(err)
            }
          },
          refresh(){//菜单刷新
              ipc.send('refresh')
          },
          setDrag(ev,item){
            //拖动应用
            this.dragItem={
              name:item.name,
              url:item.url,
              icon:item.icon
            }
          },

          async addDragItem(ev){

            const item=this.dragItem
            const id =  await db.dockApps.put({
              name:item.name,
              url:item.url,
              icon:item.icon,
              order:this.dock.indexOf(item)
            })
            item.id=id
            this.dock.push(item)
          },
          openUrl(item){
            location.href=item.url
          },
          removeDockApp(item){
            if(!!!item.id){
              this.$message.error('此项目无法删除')
              return
            }
            this.dock.splice(this.dock.indexOf(item),1)
            console.log(item.id)
            db.dockApps.delete(item.id).catch(err=>{
              console.log(err)
            })
          },
          setBg(tabBg) {
            wallPaper.setElementBg(document.body, tabBg)
          }
        },
        computed: {
          allApps: {
            get: function () {
              if (typeof window.$appsApiData == 'undefined' || window.$appsApiData == null) {
                return window.nativeData.allApps
              }
              return window.$appsApiData.allApps
            },
          },
        },
        mounted() {
          this.loadMyapps()
          setTimeout(() => {
            this.loadMysearch()
            this.loadBookmarks(6)
            this.loadHistory()
          }, 200)
          //获取壁纸
           wallPaper.get().then(data=>{
             if(!!data){
               this.setBg(data.value)
             }
           }).catch(err=>console.log(err))
          //获取主题的卡片透明度
          themeSetting.getNewtabCardOpacity().then(data=>{
            if(!!data){
              this.setOpacity(data.value)
              this.cardOpacity=data.value
            }
          }).catch(err=>console.log(err))
          themeSetting.getNewtabDockSize().then(data=>{
            if(!!data){
              this.dockAppSize=data.value
            }else{
              this.dockAppSize=60
            }
          })


          db.dockApps.toArray(data=>{
            this.dock=this.dock.concat(data)
          })
        }
      })
    </script>
    <style>
      .ant-tabs-bar{
       border-bottom:none;
      }
      .nav-top{
        border-bottom: none !important;
      }
      .dock-item{
        display:inline-block;

        border-radius: 10px;
        margin: 10px 10px ;
      }
      .dock{
        flex-direction: row;
        position: fixed;bottom: 20px;border-radius: 10px;background-color: rgba(255,255,255,0.5);
        width: fit-content;
        left: 50%;z-index: 1001;
        transform: translate(-50%,0);
        max-width: calc(100vw - 20px);
      }
    </style>
  </body>
</html>
