<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../ext/flex-class.css" />
    <script src="../../ext/vue/vue.js"></script>
    <script src="../../ext/vue/antd.min.js"></script>
    <link rel="stylesheet" href="../../ext/vue/antd.min.css" />
    <link rel="stylesheet" href="../../ext/reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/mainSearch.css" />
    <!-- <link rel="stylesheet" href="../pagebase.css"> -->
    <title>新标签页</title>
  </head>
  <body>
    <script>
      Vue.use(antd);
    </script>
    <div id="app">
      <template>
        <div class="main">
          <div class="main-top flex flex-direction justify-around align-center">
            <img src="./assets/logo-noframe.svg" alt="" style="width: 84px" class="xt-logo" />
            <div class="top-search flex justify-between align-center">
              <a-popover placement="bottomLeft" style="margin-left: 20px" v-model="visible">
                <template slot="content">
                  <div class="card-list flex flex-wrap">
                    <div
                      v-for="(item, index) in this.searchList"
                      :key="index"
                      class="card flex justify-start align-center"
                      @click="chooseSearch(index)"
                    >
                      <img :src="item.slinkLogo" alt="" style="width: 30px; height: 30px" />
                      <div style="margin-left: 15px">{{item.name}}</div>
                    </div>
                  </div>
                </template>
                <template slot="title">
                  <div class="card-head flex justify-between">
                    <div class="left flex align-center justify-center">选择您的默认搜索引擎:</div>
                    <div class="right flex align-center justify-center">
                      <p>搜索热词:</p>
                      <a-switch size="small" default-checked / style="margin-left: 5px;">
                    </div>
                  </div>
                </template>
                <img :src="this.slinkLogo" alt="" style="width: 30px" />
              </a-popover>
              <input type="text" name="" id="" class="search" v-model="this.keyWord" style="font-size: 20px" />
              <a-icon type="search" class="search-logo" :style="{ fontSize: '30px' }" />
            </div>
          </div>
          <div class="main-bottom flex justify-center">
            <div class="bt-wrap flex flex-wrap justify-center">
              <div
                class="bt-nav more"
                :class="{'moreNow': this.navallShow}"
                @mouseenter="() => this.navallShow = true"
                @mouseleave="() => this.navallShow = false"
                style="height: 240px"
              >
                <div class="nav-top flex justify-start align-center">
                  <a-icon type="appstore" :style="{ fontSize: '18px'}" style="margin-left: 10px"></a-icon>
                  <div style="margin-left: 10px">我的导航</div>
                </div>
                <div class="nav-content flex flex-wrap">
                  <div
                    class="n-card flex flex-direction justify-around align-center"
                    v-for="(item, index) in this.infoCard"
                    :key="index"
                  >
                    <img :src="item.linkLogo" alt="" style="width: 30px; padding-top: 10px" />
                    <p>{{item.name}}</p>
                  </div>
                </div>
                <div class="nav-bottom flex justify-center align-center" v-show="navallShow">+ 查看全部</div>
              </div>
              <div
                class="bt-nav"
                style="height: 240px; position: relative"
                @mouseenter="() => this.bookdian1Show = true"
                @mouseleave="() => this.bookdian1Show = false"
              >
                <div class="nav-top flex justify-start align-center">
                  <a-icon type="star" :style="{ fontSize: '18px'}" style="margin-left: 10px"></a-icon>
                  <div style="margin-left: 10px">书签收藏</div>
                </div>
                <a-dropdown class="adrop1" v-show="this.bookdian1Show">
                  <a-icon type="more" :style="{ fontSize: '18px'}" style="margin-right: 10px"></a-icon>
                  <a-menu slot="overlay">
                    <a-menu-item>
                      <a href="javascript:;">移除分组框</a>
                    </a-menu-item>
                  </a-menu>
                </a-dropdown>
                <div class="nav-content flex flex-direction" style="margin: 20px; height: 150px">
                  <div
                    class="n-link flex justify-between align-center"
                    v-for="(item, index) in this.bookMark"
                    :key="index"
                    style="margin-top: 20px"
                  >
                    <a-icon type="global" :style="{ fontSize: '18px'}"></a-icon>
                    <div class="textdiv" style="margin-left: 20px">
                      <p style="width: 300px;">{{item.title}}</p>
                      <a :href="item.link">{{item.link}}</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bt-nav">
                <a-tabs default-active-key="0" :tab-position="mode" @prevClick="callback" @nextClick="callback">
                  <a-tab-pane v-for="(i, index) in this.recommmendNav" :key="index" :tab="i.name" style="height: 200px">
                    <div class="nav-content flex flex-wrap">
                      <div
                        class="n-card flex flex-direction justify-around align-center"
                        v-for="(item, index) in i.info"
                        :key="index"
                      >
                        <img :src="item.linkLogo" alt="" style="width: 30px; padding-top: 10px" />
                        <p>{{item.name}}</p>
                      </div>
                    </div>
                  </a-tab-pane>
                </a-tabs>
              </div>
              <div
                class="bt-nav"
                style="height: 240px; position: relative"
                @mouseenter="() => this.bookdian2Show = true"
                @mouseleave="() => this.bookdian2Show = false"
              >
                <a-tabs default-active-key="0">
                  <a-tab-pane v-for="(i, index) in this.historyBar" :key="index" :tab="i.time_title">
                    <div class="nav-content flex flex-direction" style="margin: 20px; height: 160px">
                      <a-dropdown class="adrop2" v-show="bookdian2Show">
                        <a-icon type="more" :style="{ fontSize: '18px'}" style="margin-right: 10px"></a-icon>
                        <a-menu slot="overlay">
                          <a-menu-item>
                            <a href="javascript:;">移除分组框</a>
                          </a-menu-item>
                        </a-menu>
                      </a-dropdown>
                      <div
                        class="n-link flex justify-between align-center"
                        v-for="(item, index) in i.info"
                        :key="index"
                        style="margin-top: 10px"
                      >
                        <a-icon type="global" :style="{ fontSize: '18px'}"></a-icon>
                        <div style="margin-left: 20px" class="textdiv">
                          <p style="width: 300px;">{{item.title}}</p>
                          <a :href="item.link">{{item.link}}</a>
                        </div>
                      </div>
                    </div>
                  </a-tab-pane>
                </a-tabs>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>

    <script>
      Vue.use(antd);
      var appVue = new Vue({
        el: '#app',
        data() {
          return {
            mode: 'top',
            navallShow: false,
            slinkLogo: './assets/baidu.svg',
            searchWord: '',
            visible: false,
            bookdian1Show: false,
            bookdian2Show: false,
            searchList: [
              {
                name: '百度',
                slinkLogo: './assets/baidu.svg',
                frontLink: 'https://www.baidu.com/s?wd=',
              },
              {
                name: '谷歌',
                slinkLogo: './assets/google.svg',
                frontLink: 'https://www.google.com/search?q=',
              },
              {
                name: '必应',
                slinkLogo: './assets/bing.svg',
                frontLink: 'https://cn.bing.com/search?q=',
              },
            ],
            infoCard: [
              {
                linkLogo: './assets/search.svg',
                name: '微信桌面版',
              },
              {
                linkLogo: './assets/search.svg',
                name: '微信桌面版',
              },
              {
                linkLogo: './assets/search.svg',
                name: '微信桌面版',
              },
              {
                linkLogo: './assets/search.svg',
                name: '微信桌面版',
              },
              {
                linkLogo: './assets/search.svg',
                name: '微信桌面版',
              },
              {
                linkLogo: './assets/search.svg',
                name: '微信桌面版',
              },
            ],
            recommmendNav: [
              {
                name: '办公导航',
                info: [
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                ],
              },
              {
                name: '程序员导航',
                info: [
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                ],
              },
              {
                name: '程序员导航',
                info: [
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                ],
              },
              {
                name: '程序员导航',
                info: [
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                ],
              },
              {
                name: '程序员导航',
                info: [
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                  {
                    linkLogo: './assets/search.svg',
                    name: '微信桌面版',
                  },
                ],
              },
            ],
            bookMark: [
              {
                title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩从一维到十维，三维以后你还听得懂吗',
                link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
              },
              {
                title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩从一维到十维，三维以后你还听得懂吗',
                link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
              },
              {
                title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩从一维到十维，三维以后你还听得懂吗',
                link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
              },
              {
                title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩从一维到十维，三维以后你还听得懂吗',
                link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
              },
              {
                title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩从一维到十维，三维以后你还听得懂吗',
                link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
              },
              {
                title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩从一维到十维，三维以后你还听得懂吗',
                link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
              },
            ],
            historyBar: [
              {
                time_title: '访问历史',
                info: [
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                ],
              },
              {
                time_title: '昨天',
                info: [
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                ],
              },
              {
                time_title: '前天',
                info: [
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                ],
              },
              {
                time_title: '在此之前',
                info: [
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                  {
                    title: '从一维到十维，三维以后你还听得懂吗？_哔哩哔哩',
                    link: 'http://www.bilibili.com/bideo/BV12x411y7/BV12x411y7yBV12x411y7yBV12x411y7y',
                  },
                ],
              },
            ],
          };
        },
        methods: {
          chooseSearch(index) {
            console.log(index);
            this.visible = false;
          },
          callback(val) {
            console.log(val);
          },
        },
        computed: {},
      });
    </script>
  </body>
</html>
