body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: '.SFNSText-Regular', 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
