<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>创建团队</title>
    <link rel="stylesheet" href="../../ext/reset.css"/>
    <link rel="stylesheet" href="../../ext/flex-class.css"/>
    <script src="../../ext/vue/vue.js"></script>
    <script src="../../ext/vue/antd.min.js"></script>
    <link rel="stylesheet" href="../../ext/vue/antd.min.css" />
    <link rel="stylesheet" href="./create.css"/>
  </head>
  <body>
    <script>
      Vue.use(antd);
    </script>
    <div id="appVue">
      <div style="padding: 20px; overflow: hidden">
        <template>
          <a-form
            id="components-form-demo-validate-other"
            :form="form"
            v-bind="formItemLayout"
            @submit="handleSubmit"
          >
            <a-form-item
              :label-col="formItemLayout.labelCol"
              :wrapper-col="formItemLayout.wrapperCol"
              label="团队名称"
            >
              <a-input
                v-decorator="[
          'name',
          { rules: [{ required: true, message: '请输入团队名2-16个汉字' ,min:2,max:16}] },
        ]"
                placeholder="团队名2-16个汉字"
              />
            </a-form-item>
            <a-form-item label="类型">
              <a-radio-group
                v-decorator="['type',{rules:[{required: true}],initialValue: 'private' }]"
              >
                <a-radio value="public"> 公开（自由加入） </a-radio>
                <div class="tip">
                  兴趣小组、行业交流、职业交流、培训学习、产品交流
                </div>
                <a-radio value="publicNeedAudit"> 公开（验证加入） </a-radio>
                <div class="tip">开放组织、讨论小组</div>
                <a-radio value="private"> 私密（不公开） </a-radio>
                <div class="tip">企业、组织机构、校友会、协会</div>
              </a-radio-group>
            </a-form-item>
            <a-form-item label="头像">
              <a-avatar shape="square" :src="groupLogo"></a-avatar>
              <br />
              <a-avatar
                @click="selectCandlogo(item,index)"
                v-for="(item,index) in cands"
                :class="['candidate',{'active':selectCandIndex===index}]"
                shape="square"
                :src="'../../icons/group/'+item"
              >
              </a-avatar>
            </a-form-item>

            <a-form-item
              class="form-item-col4"
            >
              <a-button @click="close" style="width: 160px"> 取消 </a-button>
              <a-button
                style="margin-left: 20px; width: 160px"
                type="primary"
                html-type="submit"
              >
                创建
              </a-button>
            </a-form-item>
          </a-form>
        </template>
        <p class="flex justify-center align-center" style="color: #999; padding-top: 10px;">创建团队后会生成专属的圈子和群聊</p>
        <template>
          <div>
            <div class="flex justify-center align-center" style="padding-left: 25px; margin-top: -10px;">
              <a-checkbox @change="() => this.agreeProtoco = true"></a-checkbox>
              <div style="margin-left: 10px;" >已阅读并同意</div>
              <a-button style="margin-left: -20px;" type="link" @click="showProtocol"> 《圈子使用协议》 </a-button>
            </div>
            <a-modal v-model="protocolVisible" title="Basic Modal" @ok="handleOk" :closable="false" cancel-text="不同意" ok-text="同意">
              <p>Some contents...</p>
              <p>Some contents...</p>
              <p>Some contents...</p>
            </a-modal>
          </div>
        </template>
      </div>
    </div>
  </body>
  <script>
    const { db } = require("../../js/util/database.js");
    const axios = require("../../js/util/axios.js");
    const ipc = require("electron").ipcRenderer;
    Vue.use(antd);
    Vue.prototype.$form = antd.Form;
    const cands = require("./cand.json");
    var appVue = new Vue({
      el: "#appVue",
      data() {
        return {
          agreeProtoco: false,
          protocolVisible: false,
          formItemLayout: {
            labelCol: { span: 6 },
            wrapperCol: { span: 14 },
          },
          cands: cands,
          groupLogo: "../../icons/group/cand1.svg",
          selectCandIndex: 0,
        };
      },
      beforeCreate() {
        this.form = this.$form.createForm(this, { name: "validate_other" });
      },
      mounted() {},
      methods: {
        showProtocol() {
          this.protocolVisible = true
        },
        handleSubmit(e) {
          e.preventDefault();
          this.form.validateFields(async (err, values) => {
            if (!err) {
              console.log("Received values of form: ", values);
            }
            if(!appVue.$data.agreeProtoco) {
              this.$message.warn('请先同意使用协议!')
              return
            }
            const currentUser = await db.system
              .where("name")
              .equals("currentUser")
              .first();
            values.logo = appVue.$data.groupLogo;
            const result = await axios({
              method: "post",
              url: "/app/browser/group/add",
              headers: { Authorization: currentUser.value.token },
              data: values,
            });
            if (result.code === 1000) {
              ipc.send("refreshMyGroups");
              ipc.send("closeCreateGroupWindow");
              ipc.send("message", {
                type: "success",
                config: {
                  content: "成功创建团队:" + values.name,
                  key: Date.now(),
                },
              });
              //如果来自group-comp创建成功还需要转发一条消息出去通知group-comp去更新一下group的信息
              ipc.send("refreshGroupComp");
            }
          });
        },
        normFile(e) {
          console.log("Upload event:", e);
          if (Array.isArray(e)) {
            return e;
          }
          return e && e.fileList;
        },
        selectCandlogo(item, index) {
          this.groupLogo = "../../icons/group/" + item;
          this.selectCandIndex = index;
        },
        close() {
          ipc.send("closeCreateGroupWindow");
        },
      },
    });
  </script>
</html>
