.message-mask {
  position: fixed;
  left: 45px;
  height: 100%;
  width: calc(100% - 45px);
  background-color: #00000000;
  z-index: 99;
}

.message-dialog {
  position: fixed;
  bottom: 0px;
  left: 45px;
  width: 300px;
  height: 600px;
  border: 1px solid #dddcdc;
  border-radius: 10px;
  background-color: #FFFFFF;
  z-index: 999;
  .top {
    width: 100%;
    height: 50px;
    font-weight: 800;
    border-bottom: 1px solid #dddcdc;
    .top-lf {
      width: 40%;
      height: 100%;
      span {
        padding-left: 5px;
      }
    }
    .top-rg {
      width: 30%;
      height: 100%;
      margin-right: 10px;
    }
    .icon-class {
      width: 20px;
      height: 20px;
    }
  }

  .mid {
    width: 100%;
    height: calc(100% - 50px - 58px);
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0 !important
    }
    .lumen {
      width: 100%;
      .lumen-top {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #dddcdc;
        .lumen-top-lf {
          font-weight: 800;
          margin-left: 5px;
          & > * {
            margin-left: 10px;
          }
        }
        .lumen-top-rg {
          margin-right: 16px;
          visibility: hidden;
        }
        &:hover {
          .lumen-top-rg {
            visibility: visible;
          }
        }
      }
      .lumen-content {
        //user-select: none;
        background-color: #F6F6F6;
        width: 100%;
        border-bottom: 2px solid #dddcdc;
        ul {
          width: 94%;
          li {
            height: 50%;
            padding: 10px 0px;
            border-bottom: 1px solid #dddcdc;
            .closex {
              visibility: hidden;
            }
            &:hover {
              .closex {
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .osx {
      width: 100%;
      .osx-top {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #dddcdc;
        .osx-top-lf {
          font-weight: 800;
          margin-left: 5px;
          & > * {
            margin-left: 10px;
          }
        }
        .osx-top-rg {
          margin-right: 16px;
          visibility: hidden;
        }
        &:hover {
          .osx-top-rg {
            visibility: visible;
          }
        }
      }
      .osx-content {
        background-color: #F6F6F6;
        width: 100%;
        border-bottom: 2px solid #dddcdc;
        ul {
          width: 94%;
          li {
            height: 50%;
            padding: 10px 0px;
            border-bottom: 1px solid #dddcdc;
            .closex {
              visibility: hidden;
            }
            &:hover {
              .closex {
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .webos {
      width: 100%;
      .webos-top {
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #dddcdc;
        .webos-top-lf {
          font-weight: 800;
          margin-left: 5px;
          & > * {
            margin-left: 10px;
          }
        }
        .webos-top-rg {
          margin-right: 16px;
        }
      }
      .webos-content {
        background-color: #F6F6F6;
        width: 100%;
        border-bottom: 2px solid #dddcdc;
        ul {
          width: 94%;
          li {
            padding: 10px 0px;
            border-bottom: 1px solid #dddcdc;
            height: 80px;
            .closex {
              visibility: hidden;
            }
            &:hover {
              .closex {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    //position: fixed;
    //bottom: 0px;
    width: 100%;
    height: 58px;
    background-color: #F6F6F6;
    border-radius: 0px 0px 10px 10px;
  }
}
