.mg-content {
  max-height: calc( 100vh - 340px);
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
  .mg-content-btn {
    background: white;
    margin-top: 6px;
    height: 92px;
    width: 100%;
    border: 1px solid rgb(226, 221, 221);
    border-radius: 8px;
    &:hover {
      border: 1px solid #1890ff;
      cursor: pointer;
    }
    .cb-top {
      width: 100%;
      height: 46px;
      border-bottom: 1px solid rgb(226, 221, 221);
      img {
        width: 22px;
        height: 22px;
      }
      .cb-top-word {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .cb-bottom {
      width: 100%;
      height: 46px;
    }
    // .cb-rg {

    //   margin-left: 10px;
    //   width: 100%;
    //   img {
    //     z-index: 2;
    //     width: 30px;
    //     height: 30px;
    //     border-radius: 4px;
    //   }
    //   div {
    //     margin-left: 10px;
    //     text-align:left !important;
    //     font-weight: 500;
    //     color: #353535;
    //     z-index: 2;
    //     width: 80%;
    //     text-overflow: ellipsis;
    //     overflow: hidden;
    //     display: -webkit-box;

    //     -webkit-line-clamp: 1;
    //     -webkit-box-orient: vertical;
    //   }
    // }
  }
}
