.mg-content {
  max-height: calc( 100vh - 300px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px; }
  .mg-content::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  .mg-content::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px; }
  .mg-content::-webkit-scrollbar-thumb {
    background: #e9e8e8;
    border-radius: 20px; }
  .mg-content::-webkit-scrollbar-thumb:hover {
    background: #747474; }
  .mg-content::-webkit-scrollbar-corner {
    background: #f6f6f6; }
  .mg-content .mg-content-btn {
    background: white;
    margin-top: 8px;
    height: 92px;
    width: 100%;
    border: 1px solid #e2dddd;
    border-radius: 8px; }
    .mg-content .mg-content-btn:hover {
      border: 1px solid #1890ff;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: rgba(3, 167, 248, 0.1); }
    .mg-content .mg-content-btn .cb-top {
      position: relative;
      padding-left: 10px;
      width: 100%;
      height: 46px;
      border-bottom: 1px solid #e2dddd; }
      .mg-content .mg-content-btn .cb-top img {
        margin-right: 10px;
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 5px; }
      .mg-content .mg-content-btn .cb-top .cb-top-word {
        width: 120px;
        font-size: 14px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
      .mg-content .mg-content-btn .cb-top .cb-top-tag {
        margin-left: 40px;
        cursor: pointer; }
    .mg-content .mg-content-btn .cb-bottom {
      width: 100%;
      height: 46px; }
      .mg-content .mg-content-btn .cb-bottom .cb-bottom-zone {
        color: #797676; }
        .mg-content .mg-content-btn .cb-bottom .cb-bottom-zone:hover {
          color: #1890ff; }

.shepherd-element.custom1.shepherd-enabled {
  max-width: 290px;
  inset: 0 0 auto 11px !important; }
  .shepherd-element.custom1.shepherd-enabled .shepherd-button {
    padding: 0.2rem 1rem; }
  .shepherd-element.custom1.shepherd-enabled .shepherd-footer .shepherd-button:last-child {
    margin-right: 20px; }
  .shepherd-element.custom1.shepherd-enabled .shepherd-button.shepherd-button-secondary {
    background: #FFFFFF !important;
    margin-right: 60px !important;
    color: #508bfe !important; }

.shepherd-element.custom2.shepherd-enabled {
  max-width: 290px;
  inset: -30px 0 auto 43px !important; }
  .shepherd-element.custom2.shepherd-enabled .shepherd-button {
    padding: 0.2rem 1rem; }
  .shepherd-element.custom2.shepherd-enabled .shepherd-footer .shepherd-button:last-child {
    margin-right: 20px; }

.shepherd-element.custom3.shepherd-enabled {
  max-width: 326px;
  inset: 0px 0 auto 12px !important; }
  .shepherd-element.custom3.shepherd-enabled .shepherd-button {
    padding: 0.2rem 1rem; }
  .shepherd-element.custom3.shepherd-enabled .button1.shepherd-button {
    background: #FFFFFF !important;
    color: #508bfe !important; }
  .shepherd-element.custom3.shepherd-enabled .button2.shepherd-button {
    background: #FFFFFF !important;
    color: #508bfe !important; }

.shepherd-element.custom4.shepherd-enabled {
  max-width: 270px;
  left: 50% !important;
  top: 10% !important;
  transform: translate(0px, 0px) !important; }
  .shepherd-element.custom4.shepherd-enabled .shepherd-button {
    padding: 0.2rem 1rem; }
  .shepherd-element.custom4.shepherd-enabled .button2.shepherd-button {
    background: #FFFFFF !important;
    margin-right: 60px !important;
    color: #508bfe !important; }
  .shepherd-element.custom4.shepherd-enabled .button3.shepherd-button {
    margin-right: 20px; }

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  opacity: 0.1 !important; }

.has-more:before {
  position: absolute;
  border-bottom: 1px dashed #ddd;
  bottom: 10px;
  left: 0;
  content: "";
  width: 100%;
  height: 10px;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #1a1a1a38); }

/*# sourceMappingURL=sidebar2.css.map */
