@charset "UTF-8";
.mg-content {
  max-height: calc(100vh - 340px);
  overflow-y: auto;
  margin-top: 10px;
  padding: 10px;
}
.mg-content .mg-content-btn {
  background: white;
  margin-top: 6px;
  height: 46px;
  position: relative;
  width: 100%;
  border: 1px solid #e2dddd;
  border-radius: 8px;
}
.mg-content .mg-content-btn:hover {
  border: 1px solid #1890ff;
  cursor: pointer;
}
.mg-content .mg-content-btn .cb-lf {
  z-index: 1;
  width: 50px;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.mg-content .mg-content-btn .cb-rg {
  margin-left: 10px;
  width: 100%;
}
.mg-content .mg-content-btn .cb-rg img {
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.mg-content .mg-content-btn .cb-rg div {
  margin-left: 10px;
  text-align: left !important;
  font-weight: 500;
  color: #353535;
  z-index: 2;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.sa-app {
  border-radius: 50%;
  border: 2px solid #b0b0b0;
  padding: 1px;
  width: 30px !important;
  height: 30px !important;
}

/*外框*/
.wrapper {
  position: relative;
}
.wrapper .processing {
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 50%;
  height: 3px;
  width: 3px;
  z-index: 4;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.68);
}

.app-manager-overlay {
  width: 400px;
}
.app-manager-overlay .app-manager-title {
  background-color: rgba(234, 234, 234, 0.41);
  border-radius: 8px 8px 0 0;
  padding: 8px;
}
.app-manager-overlay .ant-popover-title {
  padding: 0;
}
.app-manager-overlay .ant-popover-inner-content {
  padding: 0;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app {
  padding: 0 0 0 10px;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .scroller-wrapper {
  padding: 10px;
  overflow-y: auto;
  max-height: 800px;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .scroller-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .scroller-wrapper::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .scroller-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list {
  list-style: none;
  padding-left: 0;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list li {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .active, .app-manager-overlay .ant-popover-inner-content .in-process-app .app-list li:hover {
  background-color: rgba(204, 204, 204, 0.31);
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .app-title {
  margin-bottom: 10px;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .app-title .app-logo {
  padding-left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .app-title .app-name {
  font-weight: bold;
  margin-left: 10px;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .app-capture {
  width: 265px;
  height: 130px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(117, 117, 117, 0.58);
  position: relative;
  overflow: hidden;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .app-capture img {
  width: 265px;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
}
.app-manager-overlay .ant-popover-inner-content .in-process-app .app-list .app-capture .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  left: 0;
  z-index: 10;
  background: linear-gradient(to top, rgba(9, 6, 6, 0.11), transparent);
}
.app-manager-overlay .ant-popover-inner-content .more-app {
  padding: 10px;
  border-left: 1px solid #e7e7e7;
}
.app-manager-overlay .ant-popover-inner-content .more-app .other-app-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.app-manager-overlay .ant-popover-inner-content .more-app .other-app-list li {
  cursor: pointer;
  padding: 0;
}
.app-manager-overlay .ant-popover-inner-content .more-app .other-app-list li：hover {
  background-color: rgba(126, 126, 126, 0.84);
}
.app-manager-overlay .ant-popover-inner-content .more-app .other-app-list .logo {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.app-manager-overlay .ant-popover-inner-content .more-app .other-app-list .title {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
}

body {
  background-color: #00000000;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  top: 0;
  box-shadow: 3px 0 3px #00000012;
  border-radius: 0px 0px 0px 10px;
  width: 45px;
  background: white;
  transition: width 0.2s;
}

.sidebar .side-items {
  bottom: 0;
  overflow-x: hidden;
}

.sidebar .side-items ul li {
  cursor: pointer;
}

.sidebar .side-items ul li:hover {
  background-color: #efefef;
  color: #1E90FF;
}

.sidebar .side-container .side-items .app-task .icon {
  width: 25px;
  height: 25px;
}

.item-icon {
  width: 45px;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 45px;
  align-items: center;
  text-align: center;
  line-height: 45px;
}

.item-title {
  position: absolute;
  left: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90px;
}

.sidebar .side-items .app-items {
  width: 62px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
  overflow-x: hidden;
}

.side-container .side-items {
  flex-direction: column;
  display: flex;
  left: 0;
  /* height: 100vh; */
  width: 45px;
  top: 0;
  position: fixed;
}

.sidebar .app-box {
  overflow: hidden;
  width: 45px;
  flex: 1;
  position: relative;
}

.sidebar .active {
  border-left: #1B74BB solid 3px;
  padding-left: -3px;
  background-color: #f1f1f1;
  box-sizing: content-box;
  color: #1E90FF;
}

.dragClass {
  background-color: blueviolet !important;
  opacity: 1 !important;
  box-shadow: none !important;
  outline: none !important;
  background-image: none !important;
}

.side-items .item:hover {
  background-color: #f1f1f1;
  cursor: move;
}

.task-title {
  cursor: pointer;
  display: inline-block;
  min-width: 20px;
  max-width: 240px;
}
.task-title .text {
  display: inline-block;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.task-title:hover {
  color: grey;
}
.task-title:hover .edit-tip {
  vertical-align: text-top;
  margin-top: -3px;
  display: inline-block;
}
.task-title .edit-tip {
  display: none;
}

.action {
  cursor: pointer;
  padding: 3px;
}
.action:hover {
  background: rgba(224, 224, 224, 0.35);
  border-radius: 4px;
}

.tabs {
  position: relative;
}
.tabs .tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.tabs .tab-title {
  cursor: pointer;
  margin-right: 22px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
  border-radius: 4px;
}
.tabs .unlock-tab {
  padding: 2px 4px;
  position: absolute;
  right: 0;
  top: 4px;
  cursor: pointer;
}
.tabs .unlock-tab:hover {
  background: #f1f1f1;
  border-radius: 3px;
}
.tabs .tab-title:hover {
  background-color: #efefef;
}

.wrapper {
  width: 42px;
  height: 42px;
  display: flex;
  cursor: pointer;
  text-align: left;
  align-items: center;
  justify-content: center;
}

/* 底部栏的样式 */
.bottomBar li {
  width: 45px;
  height: 45px;
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bottomBar li:hover {
  color: #1E90FF;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  width: 45px;
  overflow: hidden;
}

.bottom-container .ant-collapse {
  border-radius: 0;
}

.expanded {
  width: 145px;
  transition: width 0.1s;
}

.expanded .wrapper {
  width: 142px;
  transition: width 0.1s;
}

.expanded .side-container .side-items {
  width: 145px;
  transition: width 0.1s;
}

.expanded .bottom-container {
  width: 145px;
  transition: width 0.1s;
}

.expanded .side-items .app-items {
  width: 162px;
  transition: width 0.1s;
}

.expanded .app-box {
  width: 145px;
  transition: width 0.1s;
}

.expanded .app-task {
  width: 162px;
  transition: width 0.1s;
}

.expanded .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  left: 68px;
  transition: width 0.1s;
}

.divider {
  border-top: 1px solid lightgrey;
  margin: 8px;
}

.ant-collapse-borderless {
  background-color: transparent;
}

.dark-mode .sidebar {
  background-color: #565656;
}

.dark-mode .ant-btn {
  background-color: #ffffff0f;
  border-color: #d9d9d90f;
}

.dark-mode .bottomBar li:hover .ant-btn {
  background-color: #ffffff0f;
  border-color: #d9d9d90f;
}

.dark-mode li:hover {
  color: #333;
}

.dark-mode .ant-btn:hover {
  color: #9f9f9f;
  background-color: #ffffff24 !important;
  border-color: #d7d7d7;
}

.dark-mode .sidebar .active, .dark-mode .sidebar .side-items ul li:hover {
  background-color: #f1f1f11f;
  border-color: #1b1c1cc5;
  color: #d5d5d5;
}

.dark-mode .sidebar .side-container .side-items .app-task .icon {
  opacity: 0.6 !important;
}

.dark-mode .divider {
  border-color: #a1a1a15e;
}

.user-panel .ant-drawer-body {
  background: #f6f6f6;
  height: calc(100vh - 55px);
}
.user-panel .nick-name {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.user-panel .actions {
  background: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-panel .actions .action {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=sidebar.css.map */
