

.space-name {
  cursor: pointer;
  font-size: 12px;
  width: 90px;
  color: #999;
  line-height: 28px;
  margin-bottom: 2px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  font-weight: bold;
}

@keyframes rotate{
  0%{
    transform: rotate(0);
  }
  100%{
    transform:rotate(365deg);
  }
}

.online{
  outline: none;
  cursor: pointer;
}
.saving{
  transition: 0.2s;
  animation: rotate 2s linear infinite;  /*开始动画后无限循环，用来控制rotate*/
}
.offline{
  outline: none;
  cursor: pointer;
  filter: grayscale(1);
}
.space-selector{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    user-select: none;
    cursor: pointer;
    &:hover{
      background-color: #f1f1f1;
    }
    line-height: 28px;
    padding:2px 5px ;
    border-radius: 4px;
    margin: 2px;
  }
  .active{
    background-color: #f1f1f1;
  }
  .divider{
    border-bottom: 1px solid rgba(241, 241, 241, 0.24);
    border-radius: 0;
    height: 0;
    width: 95%;
    padding: 0;
    &:hover{
      background-color: #fff;
    }
  }
}
